[2021-09-16 07:43] aneriswanepoel opened #191 "22. ORASECOM Data"
Going to park this data for now

[2021-09-16 07:44] aneriswanepoel opened #192 "23. Gerhard Diedericks Unpublished Data"
Unpublished data of fish caught in SASS net

[2021-09-16 07:45] aneriswanepoel opened #193 "24. GIBB Engineering & Architecture"
Going to park this data for now

[2021-09-16 09:37] helendallas opened #194 "Fix unpublished data duplicates for Data provided by Mike Coke of Natal Parks Board/EKZNWildlife"
Please go into Source Reference and rename all
![image](https://user-images.githubusercontent.com/45286876/133588716-ed15404d-6a18-4b89-a6a9-d8040fcee7c0.png)

Should all be:
Data provided by Mike Coke of Natal Parks Board/EKZN Wildlife

Then the records should be merged if the name is the same

Link:

https://freshwaterbiodiversity.org/source-references/?type=unpublished&page=3&q=&collectors=

[2021-09-16 09:44] helendallas commented on #194
Use this to copy and paste into Title and Source Name, so that they are identical

**Data provided by Mike Coke of Natal Parks Board/EKZN Wildlife** must be overwritten in both these fields for the records to be reassigned.

![image](https://user-images.githubusercontent.com/45286876/133589977-0f69947f-6535-49f4-aa23-f6f6d6f8e5dc.png)

[2021-09-21 07:28] Janette-Lumley commented on #194
@helendallas I have fixed the duplicates so there is only one now with all data merged.

[2021-09-21 10:12] mokajee commented on #97
Emailed Josie Pegg. Awaiting response.

[2021-09-21 10:59] helendallas commented on #160
@Janette-Lumley I picked up an issue with replicates in the riffle biotope. as discussed. So I have generated averages for each taxon.

Files is on dropbox:
Dallas, Day, Musibono & Day 1998 Averages.xlsx

Please capture these averages into the original upload file

Please can you also add in notes - **Averaged from five replicate samples**

[2021-09-21 13:29] helendallas commented on #160
@Janette-Lumley Can you also check if there are water quality data for each Site/date combination and add.

[2021-09-21 14:17] helendallas commented on #119
@aneriswanepoel I figured out that you were still listed as the author which is why I couldn't find it searching author = Jackie King. I have now fixed the authors and publication year.

Still not visible so I will have to check with Dimas

[2021-09-21 14:22] helendallas commented on #119
@helendallas Waiting for source reference issue to be resolved by Dimas before uploading.

[2021-09-22 08:48] helendallas opened #195 "TMG Algal data"
Please capture the algal data from the **TMG wetlands sites**

- The original data file is on dropbox:
- Modules/Algae/.................................

The site location is in Table xxx
[1. KNP fish data - raw.xlsx](https://github.com/helendallas/FRC_FBIS/files/7209094/1.KNP.fish.data.-.raw.xlsx)

![image](https://user-images.githubusercontent.com/45286876/134310811-61261060-21f2-4068-99db-1a60e

[2021-09-22 08:57] KSnaddon opened #196 "TMG invertebrates - wetlands"
Capture invert data from TMG wetlands

sdbgalsjddbjvgalsjdbv

[2021-09-22 08:59] helendallas commented on #196
@KSnaddon Please add to this ticket

[2021-09-22 09:00] NancyFreshwater opened #197 "NWM6"
Get latest NWM6 from Adwoa

[2021-09-22 09:07] NancyFreshwater opened #198 "V1 Wetland Plant Master List"
Add Hlengiwe to assignees from Nov/Dec
Add V1 Master List

[2021-09-23 12:29] Janette-Lumley commented on #160
@helendallas I have updated the spreadsheet with the averages.
The only water quality data I can see is in graph format. Do you have the data in another format?

[2021-09-23 12:39] Janette-Lumley commented on #188
@helendallas the owner has been changed to Dale Kindler and unpublished data changed to the database requested

[2021-09-27 15:55] KSnaddon commented on #196
I have added the TMG seep invert data to Dropbox
[TMG Inverts Raw Data from Denise 270510.xlsx](https://github.com/helendallas/FRC_FBIS/files/7237649/TMG.Inverts.Raw.Data.from.Denise.270510.xlsx)

This file (and the algae too) may be need some explaining.

[2021-09-27 15:59] KSnaddon commented on #195
TMG algae data are on Dropbox - EPM1 (2008 - 2010) and EPM2 (2011 - 2013)
[FINAL_algae_spp_TMGA_EPM1.xlsx](https://github.com/helendallas/FRC_FBIS/files/7237709/FINAL_algae_spp_TMGA_EPM1.xlsx)

[TMG Algae Species Dataset_EPM2.xlsx](https://github.com/helendallas/FRC_FBIS/files/7237718/TMG.Algae.Species.Dataset_EPM2.xlsx)

The EPM2 file was a macro-enabled spreadsheet, so I've saved it as an xlsx f

[2021-09-27 16:17] KSnaddon commented on #195
I have copied the co-ordinates of all sites into the relevant spreadsheet - there is a sheet named "Seep algal sample sites" in both the EPM1 and EPM2 files.

[2021-09-27 16:24] KSnaddon commented on #196
The co-ords for these sites are the same as for the algae (usually up to 5 sampling points per seep).  Note that there are few entries for seep inverts, as we recorded very few.

[2021-09-28 08:43] aneriswanepoel opened #199 "Pre-impoundment studies (Vol 1-3) - fish and inverts"
Data extracted; to be checked and uploaded to FBIS.

[2021-09-28 08:45] aneriswanepoel opened #200 "5. Fish - Ecosun 2000 & 2001"
Extracted; to be checked and uploaded to FBIS

[2021-09-28 08:46] aneriswanepoel opened #201 "S Pollard PhD thesis 2001"
Extracted; to be checked and uploaded to FBIS

[2021-09-30 07:20] aneriswanepoel commented on #200
@helendallas checked for duplicates but need to add DUL

[2021-09-30 07:20] aneriswanepoel commented on #199
@helendallas checked for duplicates but need to add DUL

[2021-10-01 08:29] Janette-Lumley commented on #163
@helendallas the csv is correct now and pulling through the correct data

[2021-10-01 11:21] helendallas commented on #166
**Link Rivers Dbase sites = Owner = Helen Dallas, Western Cape**

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=[%22Helen%20Dallas%22]&category=&yearFrom=1700&yearTo=1996&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,sa_provinces,Western%20Cape%22]&reference=[%2259%22]&endemic=&conservationStatus=[]&modules=&validated=&sourceCollectio

[2021-10-01 11:28] helendallas commented on #166
This needs to be checked, some sites missing, not sure what is going on .

[2021-10-01 12:53] Janette-Lumley commented on #182
@helendallas I have checked all the Published reports and Thesis. I have made notes of the duplicates and problem ones.

[2021-10-01 12:56] Janette-Lumley commented on #183
@helendallas I have gone through all the Peer-reviewed scientific articles and have made a note of the links that arent working and other issues.

[2021-10-06 08:16] helendallas commented on #182
Thanks @Janette-Lumley Please can we chat about correcting these.

[2021-10-06 08:16] helendallas commented on #183
Thanks @Janette-Lumley Please can we chat about fixing these

[2021-10-06 08:22] helendallas commented on #188
Thanks @Janette-Lumley

[2021-10-06 08:22] #188 closed, assigned to Janette-Lumley

[2021-10-06 08:27] helendallas commented on #181
@aneriswanepoel Please dont forget to tackle this. thanks

[2021-10-06 09:14] #194 closed, assigned to Janette-Lumley

[2021-10-06 09:18] helendallas commented on #119
Document added to FBIS, but waiting on retrieval of document number to add to upload file before uploading

[2021-10-06 09:20] helendallas commented on #139
@Janette-Lumley Please add the pdf of the source reference to this ticket.

[2021-10-06 09:21] helendallas commented on #139
@Janette-Lumley Please can we chat about how you decided on the FBIS Site Code

[2021-10-06 11:52] helendallas commented on #160
Thanks @Janette-Lumley . Lets leave out the wq data as I don't have the raw data any more.  I will upload once I can check the doc number

[2021-10-06 12:08] helendallas commented on #139
@helendallas Just need to add Source Reference and  then it can be uploaded

[2021-10-06 12:18] helendallas commented on #138
@helendallas To upload once source reference is sorted.

[2021-10-06 12:19] helendallas commented on #163
Thanks @Janette-Lumley closing ticket as I cant find the photos at the moment

[2021-10-06 12:19] #163 closed, assigned to Janette-Lumley

[2021-10-06 12:21] helendallas commented on #179
@Janette-Lumley Can you update me on this one please. I cant remember.

[2021-10-06 12:37] Janette-Lumley commented on #179
@helendallas I filtered for blank owners and then updated the SASS on FBIS to include the correct owner. Most of them were Umgeni Water that wasn't originally on FBIS.

[2021-10-06 12:38] helendallas commented on #176
@aneriswanepoel Please can you assign SASS data owned by Michel Jonker to **Database: Ecotone Freshwater Consultants**

[2021-10-06 12:50] helendallas commented on #161
@helendallas Check why geom zones are not being updated.

[2021-10-06 12:51] helendallas commented on #112
CLosing ticket as already in FBIS 2

[2021-10-06 12:51] #112 closed, assigned to helendallas

[2021-10-06 12:53] helendallas commented on #175
Data reassigned to Dale Kindler. Closing ticket

[2021-10-06 12:53] #175 closed, assigned to helendallas

[2021-10-06 12:57] helendallas commented on #177
@aneriswanepoel Please can you also check the site locations for these sites, and fetch geom zone. Then check SASS taxa and validate record. Thanks

[2021-10-06 13:49] helendallas commented on #179
Thanks @Janette-Lumley CLosing ticket

[2021-10-06 13:49] #179 closed, assigned to Janette-Lumley

[2021-10-06 13:54] helendallas opened #202 "Validating Data for Ntswaki Ditlhale"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

I think these data were added by you??

Please check who correct owner is?
https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&collectors=%5B2435%5D

https://freshwaterbiodiversity.org/site-visit/list/?valid

[2021-10-06 13:55] helendallas opened #203 "Validating Data for François Mwangi"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

I think these data were added by you??

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B2424%5D

[2021-10-06 13:57] helendallas opened #204 "Validating Data for Chantel Petersen"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

I think these data were added by you??

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B359%5D

[2021-10-06 14:00] helendallas opened #205 "Validating sites for Tebogo Kgosana"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&modules=21&page=&collectors=%5B1057%5D

[2021-10-06 14:02] helendallas opened #206 "Validating sites for Keamogetse Molefe"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&modules=21&page=&collectors=%5B2516%5D

[2021-10-06 14:03] helendallas opened #207 "Validating sites for Bentley Engelbrecht"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B2517%5D

[2021-10-06 14:04] helendallas opened #208 "Validating sites for Dale Kindler"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B562%5D

[2021-10-06 14:06] helendallas opened #209 "Validating sites for Nokulunga Memela"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B1044%5D

[2021-10-08 11:41] Janette-Lumley commented on #182
[Report or Thesis errors.xlsx](https://github.com/helendallas/FRC_FBIS/files/7310941/Report.or.Thesis.errors.xlsx)

@helendallas I this is the list of errors.

[2021-10-08 11:42] Janette-Lumley commented on #183
[Scientific Article Errors.xlsx](https://github.com/helendallas/FRC_FBIS/files/7310946/Scientific.Article.Errors.xlsx)

@helendallas this is the list of errors for the Scientific articles.

[2021-10-11 11:08] mokajee commented on #97
Josie sent through some data. Need to go through it and figure out whats going on.

[2021-10-18 08:11] helendallas opened #210 "Revise endemism categories"
@helendallas to revise endemism categories to match details below:

The species checklist currently distinguishes species that
are (1) endemic to South Africa, (2) endemic to southern Africa and (3) species
that are widespread. For the South African endemics, what would it take to
identify which species are more narrowly&nbsp;endemic? Would it be
possible&nbsp;to identify those species whose nativ

[2021-10-21 08:07] helendallas opened #211 "Validating sites for Thembela Bushula"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&modules=21&sourceCollection=%5B%22fbis%22%5D&collectors=%5B18%5D

[2021-10-21 08:08] helendallas opened #212 "Validating sites for Justine Ewart-Smith"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&sourceCollection=%5B%22fbis%22%5D&modules=21&collectors=%5B1450%5D

[2021-10-21 08:09] helendallas opened #213 "Validating sites for Nicholaus Huchzermeyer"
Please can you work through these data and check the site location as well as the SASS taxa for any obvious issue, then validate if it all seems okay.

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&collectors=%5B1012%5D

[2021-10-21 08:12] helendallas opened #214 "Validating remaining invertebrate data"
Please can you work through the remaining invertebrate data and check and validate as before, thanks

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&modules=21&sourceCollection=%5B%22fbis%22%5D

[2021-10-21 08:13] #206 closed, assigned to aneriswanepoel

[2021-10-21 08:13] #209 closed, assigned to aneriswanepoel

[2021-10-21 08:13] #208 closed, assigned to aneriswanepoel

[2021-10-21 08:13] #207 closed, assigned to aneriswanepoel

[2021-10-21 08:13] #177 closed, assigned to aneriswanepoel

[2021-10-21 08:13] #205 closed, assigned to aneriswanepoel

[2021-10-21 08:13] #203 closed, assigned to aneriswanepoel

[2021-10-21 08:14] #202 closed, assigned to aneriswanepoel

[2021-10-21 08:14] #176 closed, assigned to helendallas, aneriswanepoel

[2021-10-21 08:14] #204 closed, assigned to aneriswanepoel

[2021-10-21 08:30] helendallas commented on #182
Thanks, please can you add author column and then try and figure out why the url is not working. You can edit it by clicking update.

Basically please play detective to get each of the links working properly. If you cannot find a working url then upload a pdf, for e.g. the wrc report.

All of these should be available online, so just dig around. Please make a not of what you do in the excel file.

[2021-10-21 08:57] helendallas commented on #183
Thanks @Janette-Lumley I have gone through these and fixed some. I will fix remainder once Dimas has added a bug fix.

[2021-10-27 06:45] helendallas opened #215 "Check algal master list and revise as needed"
@KSnaddon to check Algal master list and revise as needed.
@helendallas to show Kate how to download csv file, to check with excel file, then update on Taxon Management as needed.

[2021-10-27 09:12] #212 closed, assigned to aneriswanepoel

[2021-10-27 09:12] #213 closed, assigned to aneriswanepoel

[2021-10-27 09:12] #211 closed, assigned to aneriswanepoel

[2021-10-27 10:33] helendallas commented on #160
Data uploaded but there are some errors. Dimas needs to check why some taxa are not being uploaded
Error file in csv folder

Sites not visible on the map, Helen to check

[2021-10-27 10:34] helendallas opened #216 "Validating Site and SASS data for Umgeni water"
Please can you work through the remaining invertebrate data and check and validate as before, thanks

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&collectors=%5B2811%5D

[2021-10-27 15:27] helendallas commented on #160
All data successfully uploaded to FBIS, but not showing when I select the study reference as a filter or in source references
https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22862%22]&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=&abiotic

[2021-10-27 15:54] helendallas commented on #119
Uploaded but checking through error files

[2021-10-28 08:03] helendallas opened #217 "Check fish data with no metadata"
There are some with no metadata for these fish records.
@aneriswanepoel Please can you check the following

Site code ; Pseudobarbus phlegethon, sampled in 1998 by Ernst Swartz
E1OUDS-00030
E1BOSK-00035
E1NOOR-00066
E1TEER-00080

[2021-10-28 11:21] helendallas commented on #119
Still waiting on upload of last two taxa
[Errors Second for King & Schael 2001.xlsx](https://github.com/helendallas/FRC_FBIS/files/7433903/Errors.Second.for.King.Schael.2001.xlsx)

[2021-10-28 11:56] helendallas commented on #160
Data are uploaded but not visible. I have created a ticket on FBIS V2, so will close this ticket now

[2021-10-28 11:56] #160 closed, assigned to Janette-Lumley

[2021-10-29 11:30] aneriswanepoel commented on #181
@helendallas I am able to add new Unpublished Datasets but for some reason it is not being retained in the dropdown list... I added "Gerhard Diedericks Unpublished Data" but it is not there in the dropdowns so I have to keep adding each time?

![image](https://user-images.githubusercontent.com/55532903/139427200-52b4fd07-ff47-4ea9-8b59-3d4ca65f7e2a.png)

[2021-10-29 14:27] helendallas commented on #119
All data uploaded

@aneriswanepoel Please can you check all the site locations and do a random check of the data uploaded. I found quite a few issues with taxa, spelling, etc so please always be vigilant when checking if a taxon is in the master list. Thanks

The final csv files uploaded are here:
https://www.dropbox.com/sh/t6sjq53b0czr053/AADEwbUookoYRdKS_bcu0d4Ma?dl=0

Here is the URL

https://f

[2021-11-02 07:25] aneriswanepoel commented on #119
@helendallas will do. I can already see one site has ended up in the ocean so will investigate

[2021-11-04 11:16] aneriswanepoel commented on #181
@helendallas this is complete now. There are 8 remaining records that I am battling with. For some reason they have 0 Site Visits so I can't locate them in the site visit page to change the metadata

![image](https://user-images.githubusercontent.com/55532903/140304468-2672574b-2d28-482e-a816-39e22dd46c09.png)

[2021-11-04 11:48] helendallas commented on #181
@aneriswanepoel There are sites and data when I go to records

![image](https://user-images.githubusercontent.com/45286876/140308475-507f1f82-f02a-4ab1-a68d-b31475c52a69.png)

![image](https://user-images.githubusercontent.com/45286876/140308377-3c711502-43f4-4336-96fd-7752182c3801.png)

have you tried downloading the csv and checking?

mostly fish, two invert taxa? not sure how to find the origin

[2021-11-04 11:57] aneriswanepoel commented on #181
@helendallas yes I've downloaded the CSV files but for some reason those sites and data don't show up when I search for them in Site Visits... for example when I search B2KLIP-00011, I get 2 site visits but from different dates to what is in the CSV and from data that is actually referenced as Database, not Unpublished. Out of the 4 sites in your screenshot above, the first three say "0 visits" so

[2021-11-04 12:38] aneriswanepoel commented on #184
@helendallas I've had a look at the old spreadsheets and can't find this data - but it was extracted originally sometime in 2019 (we kept a record of metadata that was extracted). I've had a look at the PDF and there are no co-ordinates given so my guess is that I extracted the data based on estimations of the co-ordinates but we obviously later decided not to include data that didn't have exact c

[2021-11-05 07:46] helendallas commented on #184
ok thanks @aneriswanepoel I will close this ticket

[2021-11-05 07:46] #184 closed, assigned to aneriswanepoel

[2021-11-05 11:05] aneriswanepoel commented on #217
@helendallas those records were duplicates so I have deleted them

[2021-11-08 08:56] aneriswanepoel commented on #199
Waiting for feedback from Sharon re correct data

[2021-11-08 08:56] aneriswanepoel commented on #201
Waiting for feedback from Sharon re correct data

[2021-11-08 09:05] #186 closed, assigned to aneriswanepoel

[2021-11-08 09:12] aneriswanepoel opened #218 "2. Invertebrates - Kemp et al 2014"
Invertebrate data extracted from Google Scholar search results for Lowveld Region

https://www.dropbox.com/sh/w07c6yj0nxy56rr/AADgq_Fajqg-DlJCxkxXZvMPa?dl=0

[2021-11-08 09:13] aneriswanepoel opened #219 "1. Invertebrates - Rasifudi et al 2018"
Invertebrate data extracted from Google Scholar search results for Lowveld Region

https://www.dropbox.com/sh/w07c6yj0nxy56rr/AADgq_Fajqg-DlJCxkxXZvMPa?dl=0

[2021-11-08 09:16] aneriswanepoel opened #220 "1. Invertebrates - Malakane thesis 2019"
Invertebrate data extracted from Google Scholar search results for Lowveld Region
https://www.dropbox.com/sh/w07c6yj0nxy56rr/AADgq_Fajqg-DlJCxkxXZvMPa?dl=0

[2021-11-08 09:18] aneriswanepoel commented on #169
@helendallas have you heard from Warren again re this data?

[2021-11-10 11:52] aneriswanepoel opened #221 "Invertebrates - Nukeri et al 2020"
Invertebrate data from Google Scholar search

https://www.dropbox.com/s/d616ntoe2izgqvh/Nukeri%20et%20al%202020.xlsx?dl=0

[2021-11-12 06:04] helendallas commented on #217
Thanks @aneriswanepoel

[2021-11-12 06:04] #217 closed, assigned to aneriswanepoel

[2021-11-12 06:32] helendallas commented on #181
@aneriswanepoel  So none of these sites have site visits (sampling dates), although they have data

![image](https://user-images.githubusercontent.com/45286876/141420211-d245607f-9828-4a8a-a51b-c6fa4b5b7385.png)

B2KLIP-00011 Michiel Jonker
https://freshwaterbiodiversity.org/admin/bims/locationsite/27232/change/?_changelist_filters=q%3DB2KLIP-00011

B2UNSP-DWAAL Rob Palmer
https://freshwaterbiodiv

[2021-11-15 05:56] aneriswanepoel opened #222 "Invertebrates - Mmako et al 2021"
Google Scholar search result

[2021-11-15 06:18] aneriswanepoel commented on #222
Need to check Methods and Sampling Effort

[2021-11-15 06:22] aneriswanepoel opened #223 "3. Invertebrates - Malakane et al 2020"
Google Scholar search result

[2021-11-15 08:43] aneriswanepoel opened #224 "7. Fish - SANParks Sabie 2021 Survey"
Robin Petersen busy finalizing survey data and will send fish data soon

[2021-11-19 07:41] aneriswanepoel commented on #222
Cannot use this data so closing ticket.

[2021-11-19 07:42] #222 closed, assigned to aneriswanepoel

[2021-11-19 07:45] aneriswanepoel opened #225 "4. Invertebrates - Addo-Bediako 2021"
Google scholar search result

[2021-11-19 08:01] aneriswanepoel commented on #221
Cannot use this data so closing ticket

[2021-11-19 08:01] #221 closed, assigned to aneriswanepoel

[2021-11-26 14:22] KSnaddon opened #226 "TMG seep WQ data for algal module"
I have copied EPM1 water quality data for the TMG seeps onto the FBIS wetland Dropbox folder.  Also here:
[TMG EPM1 WQ data.xlsx](https://github.com/helendallas/FRC_FBIS/files/7609260/TMG.EPM1.WQ.data.xlsx)

There are no data for EPM2 for the seeps / algal sampling points

[2021-12-07 11:36] aneriswanepoel commented on #224
Just received the data from Robin

[2021-12-08 07:25] aneriswanepoel opened #227 "6. Invertebrates - Soko 2014"
Google scholar search result. To be checked then uploaded to FBIS.

[2021-12-08 09:32] #216 closed, assigned to aneriswanepoel

[2021-12-08 10:37] helendallas commented on #139
Data uploaded to FBIS, closing ticket

[2021-12-08 10:37] #139 closed, assigned to Janette-Lumley

[2021-12-08 10:37] helendallas commented on #182
Any progress on this @Janette-Lumley

[2021-12-08 10:50] aneriswanepoel opened #228 "SANPArks SASS survey 2021"
SASS data received from Robin Petersen for recent SASS survey by KNP team. Waiting for SASS data from Sabie and Crocodile surveys

[2021-12-08 11:05] helendallas commented on #183
Checked all but one still problematic, try to reassign source references once updated
Pienaar U
![image](https://user-images.githubusercontent.com/45286876/145197995-bdf0fd74-6007-4d71-9161-f91fc5b76d73.png)

[2021-12-14 10:58] aneriswanepoel commented on #225
Hydrometridae on masterlist but not on FBIS taxon management, so not recognized when trying to upload
@helendallas

[2021-12-15 10:16] aneriswanepoel commented on #200
Unable to upload - "Taxonomy does not exist for this group"

[2021-12-22 12:45] Janette-Lumley commented on #182
@helendallas I have added the author column and I corrected the urls that were not correct. I made a note of what was done.

[2021-12-22 12:46] Janette-Lumley commented on #182
[Report.or.Thesis.errors (2).xlsx](https://github.com/helendallas/FRC_FBIS/files/7762679/Report.or.Thesis.errors.2.xlsx)

[2022-01-10 09:41] aneriswanepoel commented on #227
Some issues with taxa not on masterlist (Prosopistomatidae & Bulininae) @helendallas

[2022-01-10 11:15] aneriswanepoel commented on #219
Uploaded to FBIS

[2022-01-10 11:16] #219 closed, assigned to aneriswanepoel

[2022-01-10 11:16] aneriswanepoel commented on #218
Uploaded to FBIS

[2022-01-10 11:16] #218 closed, assigned to aneriswanepoel

[2022-01-10 11:16] aneriswanepoel commented on #223
Uploaded to FBIS

[2022-01-10 11:16] #223 closed, assigned to aneriswanepoel

[2022-01-10 11:17] aneriswanepoel commented on #200
Uploaded to FBIS

[2022-01-10 11:17] #200 closed, assigned to aneriswanepoel

[2022-01-10 11:17] aneriswanepoel commented on #224
Uploaded to FBIS

[2022-01-10 11:17] #224 closed, assigned to aneriswanepoel

[2022-01-13 08:00] #187 closed, assigned to aneriswanepoel

[2022-01-13 08:06] aneriswanepoel commented on #172
Complete

[2022-01-13 08:06] #172 closed, assigned to aneriswanepoel

[2022-01-13 08:06] aneriswanepoel commented on #173
Complete

[2022-01-13 08:06] #173 closed, assigned to aneriswanepoel

[2022-01-13 09:01] aneriswanepoel opened #229 "SASS - B Cele Thesis 2017"
Google scholar search result - SASS data

[2022-01-18 10:51] aneriswanepoel opened #230 "SASS - Ramudzuli Thesis 2019"
Google Scholar search result. Uploaded to FBIS.

[2022-01-18 10:52] #230 closed, assigned to aneriswanepoel

[2022-01-18 10:52] #229 closed, assigned to aneriswanepoel

[2022-01-24 08:57] aneriswanepoel opened #231 "8. Invertebrates - Dos Santos 2016"
Invert data from fish study on FBIS. Species name not on the masterlist (Paradiplozoon krugerense)

[2022-01-24 10:05] aneriswanepoel opened #232 "9. Invertebrates - Nunes et al 2016"
One species not on masterlist - Procambarus clarkii

[2022-01-24 11:42] aneriswanepoel opened #233 "10. Invertebrates - Van As 2017"
Species not on masterlist (Chonopeltis meriodionalis)

[2022-01-24 12:17] aneriswanepoel opened #234 "Inverts not on FBIS"
There are a few inverts that aren't being recognized by FBIS when I try to upload. Some are in the masterlist, some aren't. Also some are in masterlist but not when you search in taxon management.
1. Inverts on masterlist but not when searching taxon management: Hydrometridae; Prosopistomatidae; Bulininae
2. Inverts not on masterlist: Paradiplozoon krugerense; Procambarus clarkii; Chonopeltis meri

[2022-01-26 07:13] aneriswanepoel opened #235 "11. Invertebrates - Kunutu 2018"
"Lamproglena cleopatra" not on FBIS

[2022-01-26 07:16] aneriswanepoel opened #236 "12. Invertebrates - Woodborne et al 2012"
"Pleuroceridae" not on FBIS

[2022-01-27 11:01] aneriswanepoel opened #237 "13. Invertebrates (Molluscs) - De Kock papers"
Some Molluscs not on masterlist

[2022-01-27 11:28] aneriswanepoel opened #238 "IUCMA SASS data"
SASS data received from IUCMA; data for 299 sites to be added

[2022-01-27 11:29] aneriswanepoel opened #239 "IUCMA fish data"
Awaiting feedback re IUCMA fish data

[2022-02-04 10:53] aneriswanepoel commented on #239
Komati and Croc 2021 data received. Awaiting Sabie and Usuthu data, as well as 2020 survey data.

[2022-02-15 08:07] helendallas commented on #181
Closing ticket as resolved on site

[2022-02-15 08:07] #181 closed, assigned to aneriswanepoel

[2022-02-16 11:10] helendallas commented on #183
Fixed, closing ticket

[2022-02-16 11:10] #183 closed, assigned to Janette-Lumley

[2022-02-16 11:11] helendallas commented on #182
Checked and updated. Awaiting Dimas to fix issue with duplicate references. New file here:
[Report.or.Thesis.errors.2.xlsx](https://github.com/helendallas/FRC_FBIS/files/8079347/Report.or.Thesis.errors.2.xlsx)

[2022-02-16 11:39] helendallas commented on #138
@Janette-Lumley

I checked and tested uploading on FBIS testing, but several taxa not in Taxon Master list. Please can you check these against the latest master list you and Kate are working with. Error file below.

[error_Ractliffe_Snaddon__Brown_1996_DMHc9Vm.csv](https://github.com/helendallas/FRC_FBIS/files/8079536/error_Ractliffe_Snaddon__Brown_1996_DMHc9Vm.csv)

Lets try again once the algal

[2022-02-16 12:57] helendallas commented on #214
@aneriswanepoel Please remember to validate the new data that you add, so we dont get to many sitting there at one time. I assume these are new SASS data from Database: Inkomati-Usuthu Catchment Management Agency Database

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date

[2022-03-17 11:05] helendallas opened #240 "Olsen 2018 Water temperature data"
Prepare and upload water temperature data for 10 sites already on FBIS with fish data

[Olsen 2018 Water temperature data for FBIS.xlsx](https://github.com/helendallas/FRC_FBIS/files/8284122/Olsen.2018.Water.temperature.data.for.FBIS.xlsx)
.

[2022-03-17 11:09] helendallas opened #241 "Dallas and RIvers-Moore 2012 Water temperature data"
Prepare and upload water temperature data for WRC 1799 study.

Progress: 17 March 2022

All data examined and prepared, divided into

- Uploaded to FBIS
- Full data
- Missing data

Issue with photographs, and uploading missing data, and uploading data with no occurrence data

To continue once Dimas has fixed issues

Record file is here:
[Appendix 1_ Site Information for FBIS.xlsx](https://github.c

[2022-03-17 11:31] helendallas opened #242 "EWART-SMITH JL and KING JM (2012) water temperature data"
Prepare and upload water temperature data for Two sites on the Berg River and one on the Molenaars River, Western Cape.

Both Berg river sites have missing data.

G1BERG-BRBM1 26-Oct-07 TO 21-May-09
G1BERG-SKUIF 26-Oct-07 TO 21-May-09

Both Molenaars sites have missing data
Molenaars 3
Molenaars 3

Need to wait for Dimas to allow uploading of missing data

[2022-03-18 10:15] helendallas opened #243 "Bellingan & de Moor 2011 Southern Cape Rivers"
Data for 20 sites in the Southern Cape. Needs to be checked, and formatted.

[2022-03-22 11:09] helendallas commented on #243
All data checked and formatted and ready for uploading to FBIS. Waiting on issue with photographs to be sorted by Faneva and Dimas

[2022-03-22 11:44] helendallas opened #244 "Dallas et al 2017 WR K5_2337 water temperature data"
Prepare data for uploading to FBIS - 6 sites on Amandel and 15 sites on the Berg

[2022-03-22 13:20] helendallas commented on #244
Data prepared, one site removed as air temp recorded. Waiting for FBIS site to be fixed then, will upload.

Status   on FBIS | River | Site | FBIS Site code | Lat | Long
Ready for uploading | Amandel | A4 | H2BUFF-00065 | -33.50289 | 19.481088
Air temp recorded, leave out | Amandel | A9 | H2BUFF-00048 | -33.50443 | 19.48791
Ready for uploading | Amandel | A12 | H2BUFF-00050 | -33.50471 | 19.48948

[2022-03-25 09:27] helendallas opened #245 "Helen Dallas Karoo survey unpublished data"
Check SASS data for 4 Karoo sites and update source reference

J2DORP-EERST
J2HUIS-WELTE
J2SCHO-SCHOLT
J3MEIR-MEIRI

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=[%22Helen%20Dallas%22]&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,sa_provinces,Western%20Cape%22]&reference=&endemic=&conservationStatus=[]&mo

[2022-03-25 10:41] helendallas commented on #166
So the Helen Dallas 1995 is not captured as SASS data. There are 53 sites. CSV has been downloaded.

https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%221110%22]&endemic=&conservationStatus=[]&modules=21&validated=&sourceCollection=[%22fbis%22,%22gbif%22,%22

[2022-03-29 08:31] aneriswanepoel commented on #234
@helendallas I am going to mention this in the quarterly report that I have just started with, so we can tackle it afterwards.

[2022-03-30 10:22] helendallas commented on #225
@aneriswanepoel
I have added Hydrometridae to Master list on FBIS. Weird as it is already in my excel version.  The upload should work now.

Please remember to double check all data once uploaded. Thanks

[2022-03-30 10:32] helendallas commented on #227
@aneriswanepoel

Added Prosopistomatidae  -  again was already in my master list?

Bulininae is not recognised on GBIF. I suggest you add as Family **Bulinidae**. I have added this in Taxon Management

You should be able to upload now

[2022-03-30 10:42] helendallas commented on #231
@aneriswanepoel

I have added this species to FBIS Taxon MAnagement. You should be able to upload now.

[2022-03-30 11:26] helendallas commented on #232
@aneriswanepoel
I have added this non-native species to FBIS Taxon management. You should be able to upload now.

[2022-03-30 11:32] helendallas commented on #233
So this is a fish parasite, not a free-living invertebrate. Lest park this for now as it requires consideration as to if and how this get included.  There are bound to be many more records from Jo van As and colleagues work in SA. Perhaps we need a separate module down the line?

[2022-03-30 11:34] helendallas commented on #235
So this is a fish parasite, not a free-living invertebrate. Lest park this for now as it requires consideration as to if and how this get included. There are bound to be many more records from Jo van As and colleagues work in SA. Perhaps we need a separate module down the line?

[2022-03-30 11:39] helendallas commented on #236
@aneriswanepoel

I have added this family to Taxon Management in FBIS. You should be able to upload now.

[2022-03-30 11:41] helendallas commented on #237
Please add the spreadsheet and highlight the ones that are missing . Thanks

[2022-03-30 11:44] helendallas commented on #234
Thanks @aneriswanepoel I will close this ticket as I have addressed each in the individual tickets.

[2022-03-30 11:44] #234 closed, assigned to aneriswanepoel

[2022-03-30 11:46] helendallas commented on #128
Closing ticket as Unable to get original data

[2022-03-30 11:46] #128 closed, assigned to aneriswanepoel

[2022-03-30 11:47] helendallas commented on #193
PLease give reason @aneriswanepoel

[2022-03-30 11:47] helendallas commented on #191
Again please give reason, thanks @aneriswanepoel

[2022-03-31 06:49] aneriswanepoel commented on #191
@helendallas if I remember correctly it's because we don't have any context for the data (ie collector names, PDFs etc) but I can try do some digging

[2022-03-31 07:02] aneriswanepoel commented on #193
@helendallas we don't have a PDF for this data but I can see if I can find one

[2022-03-31 07:35] aneriswanepoel commented on #237
@helendallas I have highlighted the missing ones (according to error sheet from testing site upload)
[De Kock et al 2002 2006.xlsx](https://github.com/helendallas/FRC_FBIS/files/8387040/De.Kock.et.al.2002.2006.xlsx)

[2022-04-01 08:24] helendallas commented on #191
I think it was because we dont have permission to use this data. It came Via Rob Palmer/ Nepid database. I suggest leaving for now

[2022-04-05 07:21] helendallas commented on #237
**Following corrections made to spreadsheet:**
Spathopsis wahlbergi is a synonym of Chambardia wahlbergi -  added synonym as legacy name in Taxon Management
Spathopsis petersi is a synonym of Chambardia petersi -  added synonym as legacy name in Taxon Management
Added Cleopatra bulimoides to Taxon Management
Ceratophallus natalensis is a synonym of Afrogyrorbis natalensis -  added synonym as legac

[2022-04-08 06:22] aneriswanepoel commented on #231
Fish parasite..

[2022-04-08 11:19] aneriswanepoel commented on #227
Successful upload to testing, but upload to Live does not recognize Polymitarcyidae for some reason.

[2022-04-08 11:22] aneriswanepoel commented on #225
Site Codes not correct after uploading to Testing.

[2022-04-08 11:25] aneriswanepoel commented on #232
One Site Code not correct after uploading to Testing.

[2022-04-20 07:34] helendallas commented on #232
@aneriswanepoel so your comment re one site code? Did you correct and is data now on FBIS?

[2022-04-20 07:40] helendallas commented on #227
Strange, as in master list. I have added it to Taxon Management now so should be able to upload.

[2022-04-20 07:42] helendallas commented on #231
Okay removed from Taxon Management until we decide on route for fish parasites

[2022-04-20 08:45] helendallas commented on #244
Issue with incorrect WT data  - Jeremy to provide corrected data file

[2022-04-20 08:46] helendallas opened #246 "RIVERS-MOORE NA and PALMER R (2017) Development of a predictive management tool for Orange River blackfly outbreaks."
In progress, csv files ready for uploading, testing of FBIS

[2022-04-20 08:53] helendallas opened #247 "PAXTON BR and KING JM (2009) Driehoeks River"
Data being prepared.

[2022-04-20 09:03] helendallas commented on #247
Water temp data added to E2DRIE-00069

[2022-04-20 10:26] helendallas commented on #242
Berg sites:
G1BERG-00310 Part 1 and part 2 uploaded, part 3 stalled - gateway error.

G1BERG-00328 Part 1, 2 and 3 - ready but waiting on Dimas to deploy fixes to live

[2022-04-22 08:36] helendallas opened #248 "Check Unclassified Sites in Geom Zone"
Awaiting response from Dimas re Geom Zones:

Then go through and check these sites:

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,geo_class_recoded,Unclassified%22]&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abi

[2022-04-22 08:39] helendallas commented on #248
[Unclassified geom zones SASS.xlsx](https://github.com/helendallas/FRC_FBIS/files/8538708/Unclassified.geom.zones.SASS.xlsx)

[2022-04-25 13:20] aneriswanepoel opened #249 "Koen et al KNP Diatom Data 2018-2021"
Diatom report received from Robin Petersen
[KNP Report_Diatoms 2018- 2021.pdf](https://github.com/helendallas/FRC_FBIS/files/8554872/KNP.Report_Diatoms.2018-.2021.pdf)

@helendallas I am not familiar with this module so perhaps you can take a look first

[2022-04-26 09:24] aneriswanepoel commented on #238
Complete. 464 assessments uploaded.

[2022-04-26 10:01] aneriswanepoel commented on #228
Issue with adding Metadata. Adding PDF/source document not working.

[2022-05-03 06:17] aneriswanepoel commented on #238
@helendallas I have added SASS data (10454 records) and fish data (108) for IUCMA. Remind me... is it possible to link the two source references so that both SASS and fish data come up simultaneously when you search on the map? At the moment if you search for "Inkomati-Usuthu Catchment Management Agency Database" only the SASS data comes up even if you select both modules. I can only see the fish

[2022-05-03 09:14] helendallas commented on #238
SO there are two source references:
![image](https://user-images.githubusercontent.com/45286876/166428814-414b983f-4bb4-4d39-a126-c6f1015d4210.png)

There seems to be an issue with getting the second one which is the fish data?

I have already created a ticket. Is this urgent? Dimas is on leave till next week and I am not sure if he has signed off on the fix yet?

[2022-05-03 09:17] aneriswanepoel commented on #238
@helendallas okay great thanks. No not urgent at all

[2022-05-03 09:57] aneriswanepoel commented on #201
Kyle trying to convert the data into readable format. If he does not come right then will send the CD down to me in Cape Town.

[2022-05-06 07:33] helendallas commented on #249
First step is to confirm the FBIS Site code for each of these sites. Do this for all sites

Second step is to go to each Site, e.g. X3SABI-LUBYE and click Add algal data
![image](https://user-images.githubusercontent.com/45286876/167090578-6f82fc0e-1a57-427a-bad7-13eb038b334e.png)

https://testing.healthyrivers.kartoza.com/algae-form/?siteId=9383

Then fill in whatever data you can in this form:

[2022-05-06 09:56] helendallas opened #250 "Matthew - Ehemeroptera in the Komati River"
@aneriswanepoel PLease have a look at the pdf and see if it is possible to extract useful data from this thesis. Can you also see if you can get the url or pdf of the complete thesis

[Uploading Matthew 1968 Ephemeroptera Komatirivier.pdf…]()

[2022-05-06 10:11] helendallas opened #251 "Chutter and Heath 1993 - update Source Reference and upload pdf"
Please can you update the Source Reference for this and upload the pdf. Data are already on FBIS through the old Biobase.  ( I did it on friday but if Dimas has to roll back then it will disappear).

Do next week after he confirms things, thanks @aneriswanepoel

[Chutter & Heath 1992 Low Flows in The Letaba River.pdf](https://github.com/helendallas/FRC_FBIS/files/8639223/Chutter.Heath.1992.Low.Flo

[2022-05-06 10:35] helendallas opened #252 "De Moor et al 1993 - Invertebrates in the Tugela River"
We need to extract the data for 1999 as listed in Table 4 to 8 (some may not be relevant). The earlier data are already in FBIS.

First you need to check the FBIS site codes for the sites in the earlier studies and make sure to use the same site codes for the 1999 data.

![image](https://user-images.githubusercontent.com/45286876/167114994-53b25762-4705-4a10-b178-1f2d63e16e9f.png)

https://freshwa

[2022-05-06 11:06] helendallas opened #253 "De Moor & Barber-James 2003 Kabouga River"
Please extract invertebrate data in this report

Dates: 2I-23 February 2003

Aquatic macroinvertebrates from aquatic biotopes at five sites along the river (Table 1) were sampled and flying adults of aquatic insects were collected with hand nets and by means of light traps set up over two nights

Table 4 records the physical water quality parameters recorded and table 5 presents the aquatic macroi

[2022-05-06 11:13] helendallas opened #254 "Mangold and De Moore 1996 - Transkei rivers"
Please extract data from this report.

Table 2: List of sites and biotopes sampled for invertebrates, during the Transkei river survey, October - November 1996.

![image](https://user-images.githubusercontent.com/45286876/167120435-e2300243-1f56-4939-b8e6-e68d5129df94.png)

Tables 3 A and 3 B give family level data for all taxa.
Tables 4a to 8 give genus and species for a sub section of these fami

[2022-05-06 11:41] helendallas opened #255 "De Moor & BarberJames 1994 Freshw. Inverts East Cape Rivers"
Table 1. List of collecting sites, with grid reference coordinates and altitudes for each site

![image](https://user-images.githubusercontent.com/45286876/167123031-d2bec186-11fa-4212-8bff-2c91bbf4bef3.png)

![image](https://user-images.githubusercontent.com/45286876/167123251-b9b2807b-6349-471f-b82b-28e2073ea42e.png)

Table 5 to 14 Taxon data

Plates - photographs for saving and uploading Please

[2022-05-06 13:00] helendallas opened #256 "BarberJames 2000 Salt River September 2000"
Please extract data from this report

A survey of the aquatic macroinvertebrates in the Salt River was undertaken from 11 to 13 August, 2000

Collecting of aquatic macroinvertebrates was done using fine-meshed hand nets.

Most sampling was done from stones-in-current, water flowing over hygropectirc regions, marginal and floating vegetation, and from pools to a lesser extent.

![image](https://use

[2022-05-06 13:02] helendallas opened #257 "De Moor et al 2004 - Salt river"
Please extract data from this report. Same sites as
https://github.com/helendallas/FRC_FBIS/issues/256

This survey (April 2004) follows previous surveys carried out by the Albany Museum during the winter/early spring season (Barber-James 2000) and summer (de Moor & Barber-James 2001). Another survey of relevance is that conducted by Bok (2000) of the fish fauna in the region.

Sampling was limite

[2022-05-06 13:03] helendallas commented on #256
Note De Moor et al 2004 have coordinates for some of the sites.
https://github.com/helendallas/FRC_FBIS/issues/257

[2022-05-06 13:26] helendallas opened #258 "BarberJames & De Moor 1995 Survey Mpofana lions river"
Please extract data from this report:

Invertebrate samples were collected by staff of Umgeni Waters from two sites along the Nlpot-ana River (March 1995) and from two sites on the Lions River (Juty 1995) (Fig' 1; Table i).

![image](https://user-images.githubusercontent.com/45286876/167139806-802c7d62-4425-4099-8fc1-59e8398f33fb.png)

![image](https://user-images.githubusercontent.com/45286876/16

[2022-05-06 13:30] helendallas commented on #215
Please keep this ticket update, thanks

And include the master file as an upload.

[2022-05-09 06:17] aneriswanepoel commented on #201
Raw data received from Kyle

[2022-05-09 07:10] helendallas opened #259 "De Moor 2002"
Please check these data have not already been captured via one of De Moor's other studies. e.g #252

![image](https://user-images.githubusercontent.com/45286876/167358009-e9075317-2f9a-4fe7-8b84-d9df29c78ccc.png)

Here is the pdf
[De Moor 2002 Trichoptera SILAustralia.pdf](https://github.com/helendallas/FRC_FBIS/files/8649470/De.Moor.2002.Trichoptera.SILAustralia.pdf)

[2022-05-09 07:40] helendallas opened #260 "Check Invertebrate Taxon Master list and update with this study information"
Please check and update master list

![image](https://user-images.githubusercontent.com/45286876/167362945-69f76c0f-3864-43e3-b275-2203daf8c4fb.png)

[Appleton C.C. & Miranda N.A.F. 2015.pdf](https://github.com/helendallas/FRC_FBIS/files/8649667/Appleton.C.C.Miranda.N.A.F.2015.pdf)

[2022-05-09 08:14] helendallas commented on #260
And this one:

![image](https://user-images.githubusercontent.com/45286876/167363571-96dc3d9d-c640-46a2-99c5-2540d88437d6.png)

[Appleton C.C. 2003.pdf](https://github.com/helendallas/FRC_FBIS/files/8649687/Appleton.C.C.2003.pdf)

[2022-05-09 08:38] helendallas opened #261 "Check through scientific article in National Knowledge database Invertebrates"
Check which papers are relevant to extract data from and refile the remainder

Files are located on my C drive
JRS Technical Project/FRC_FBIS Knowledge Database/ Aquatic Invertebrates /National Invertebrates

[2022-05-09 09:45] helendallas opened #262 "Dallas, Helen - Conservation International data"
Please prepare electronic of **aquatic invertebrates** collected during CI 2002 Aquarap survey.

[AquaRAP II Invertebrates18Mar2004.pdf](https://github.com/helendallas/FRC_FBIS/files/8650470/AquaRAP.II.Invertebrates18Mar2004.pdf)

[Dallas & Mosepele AJAS 2007 Okavango.pdf](https://github.com/helendallas/FRC_FBIS/files/8650479/Dallas.Mosepele.AJAS.2007.Okavango.pdf)

- bsdbjbd
- sjbjdbccjs
- kjsjcc

[2022-05-09 09:51] helendallas opened #263 "Wolmarans C.T., Kemp M., de Kock K.N. & Wepener V.  2017"
Please extract mollusc data, using the map and tables provided.
![image](https://user-images.githubusercontent.com/45286876/167385346-78763cdf-717e-4ae4-983e-ff90c44161da.png)

![image](https://user-images.githubusercontent.com/45286876/167385413-77bc56a3-38cb-42e8-b57e-30890992bfaa.png)

![image](https://user-images.githubusercontent.com/45286876/167385452-9739fe77-56d2-455a-b4f2-763121f6ba81.png

[2022-05-09 10:00] helendallas commented on #262
@Janette-Lumley Please ignore this, I am doing some training with colleagues. I am showing them how to respond and comment on tickets

[2022-05-09 10:03] helendallas commented on #262
@helendallas The data is ready. Please cna you check it.

[CFR Algae Study Reference Table FBIS.xlsx](https://github.com/helendallas/FRC_FBIS/files/8650643/CFR.Algae.Study.Reference.Table.FBIS.xlsx)

https://www.dropbox.com/s/kq6o3bn135bcnue/Dallas%20H.%20and%20Day%20J.%201992.csv?dl=0

[2022-05-09 10:05] helendallas commented on #262
Data uploaded to FBIS 2022_05_09

[2022-05-09 10:05] #262 closed, assigned to helendallas

[2022-05-10 11:14] aneriswanepoel commented on #238
@helendallas

[2022-05-13 12:27] aneriswanepoel commented on #250
@helendallas this PDF link doesn't work?

[2022-05-13 12:47] helendallas commented on #250
Trying again
[Matthew 1968 Ephemeroptera Komatirivier.pdf](https://github.com/helendallas/FRC_FBIS/files/8687114/Matthew.1968.Ephemeroptera.Komatirivier.pdf)

[2022-05-13 13:15] aneriswanepoel commented on #250
Old paper so no co-ordinates @helendallas

[2022-05-16 06:37] aneriswanepoel commented on #252
@helendallas could you please re-attach the PDF. Thanks

[2022-05-16 09:06] helendallas commented on #252
[De Moor et al 1999 October 1999 Tugela Bushmans.pdf](https://github.com/helendallas/FRC_FBIS/files/8698470/De.Moor.et.al.1999.October.1999.Tugela.Bushmans.pdf)

[2022-05-17 14:43] KSnaddon commented on #249
@aneriswanepoel is making a list of Algal taxa not on the Master List

[2022-05-20 10:29] aneriswanepoel commented on #249
All data added.. Missing taxa are:
Encyonopsis krammeri
Brachysira vitrea
Cymbella kappii
Achnanthidium rivulare
Gomphonitzschia ungeri
Gomphonema pumilum var. rigidum
Anorthoneis dulcis
Kolbesia ploenensis
Hippodonta
Nitzschia dicompressa
Rhopalodia operculata
Ulnaria nyanse
Achnanthidium crassum
Navicula vandamii
Navicula microlyra
Fallacia umpatica
Craticula subminuscula
Navicula viridula

@hel

[2022-05-23 08:59] helendallas opened #264 "Accuracy of air-water temperature models"
We need to evaluate the reliability and accuracy of the air-water temperature models

Using modeled and actual data for fiver egions: Western Cape, Eastern Cape, Southern Cape, KZN and Mpumalanga, we will compare the measured and modeled water temp data.

Nick will evaluate which models to use

[2022-05-23 09:39] helendallas commented on #240
To check photo dates and revise if necessary

[2022-05-23 12:11] aneriswanepoel commented on #254
@helendallas please attach the PDF again. Looks like there was an issue with attaching the PDFs

[2022-05-24 13:14] Janette-Lumley commented on #255
@helendallas Do you know the dates for the sampling? In the report it states sampling was done from 3-7 December 1990,
21-27 March 1991 and 26 March - 2 April 1993, but when I look at the tables with the recorded inverts there are no dates.
(Table 5 to 14 Taxon data)

[2022-05-25 13:27] helendallas opened #265 "Silberbauer & King 1991 WQ data"
Find and prepare wq data into upload template and test upload procedure

[2022-05-27 08:31] helendallas commented on #255
Thanks @Janette-Lumley

So if you look at table 2, you will see that most sites were only sampled once, e.g. Site 8 was only sampled in Dec 1990. here they report the chemical data which you must also capture please. Remember EC = conductivity and it has to be divided by 10 to get mS/m

Some sites were sampled more than once, e.g. Site 2, please then just select the middle or last date for capturi

[2022-05-30 12:32] aneriswanepoel commented on #253
@helendallas
The following invert taxa aren't on the masterlist that I can see:
![image](https://user-images.githubusercontent.com/55532903/170993081-a4a30d90-984b-4bdc-9b1c-9f32e36fe2af.png)

[2022-05-30 14:50] helendallas opened #266 "Vallidate sites you have created"
@aneriswanepoel Please can you vlaidate the sites you ahve created.

Always add the Original Rive name and teh Refined geomorphological name if available

e.g. here are sites of Sharon Pollard
https://freshwaterbiodiversity.org/nonvalidated-site/?owner=Sharon%20Pollard

https://freshwaterbiodiversity.org/nonvalidated-site/

Also found here: Admin dropdown - Validate sites

Only do the ones you add

[2022-05-31 05:47] aneriswanepoel commented on #266
@helendallas okay will do

[2022-05-31 08:39] KSnaddon opened #267 "Add sampling options to Algal data entry template/page"
Need to add:
1. Sampling: add "Water column - grab" to sampling options
2. Curation: add "Preserved - formaldehyde" as an option, plus be able to choose multiple options, and give detail in notes.

@helendallas

[2022-05-31 08:48] aneriswanepoel opened #268 "Sabie River Algal data - Erasmus 2018"
Literature search result
Need to update Sampling Method and Curation Process
Need to update collector for all sites
Some taxa missing from FBIS

[2022-05-31 11:05] helendallas commented on #246
From Nick

Sadersi = Simulium adersi
Schu = Simulium chutteri
Sdam = Simulium damnosum
Simp = Simulium impukane
Smcma = Simulium mcmahoni
Snig = Simulium nigritarse
Srufi = Simulium ruficorne

[cjz-2017-0285.pdf](https://github.com/helendallas/FRC_FBIS/files/8804495/cjz-2017-0285.pdf)

[2022-05-31 11:32] helendallas opened #269 "Rivers-Moore, N.A. and Jewitt, G.P.W. (2004) Sabie River data"
Rivers-Moore, N.A. and Jewitt, G.P.W. (2004) Intra-annual thermal patterns in the main rivers of the Sabie catchment. Water SA 30(4): 445-452. [ATTACHED]

Rivers-Moore, N.A., Jewitt, G.P.W., Weeks, D.C. and O'Keeffe, J.H. (2004) Water temperature and fish distribution in the Sabie River system: Towards the development of an adaptive management tool. WRC report no. 1065/1/04. Water Research Commiss

[2022-06-03 13:20] aneriswanepoel commented on #249
I've found some more taxa not on FBIS so I've just created a spreadsheet to keep track because the list is getting quite long!
[Missing algae taxa.xlsx](https://github.com/helendallas/FRC_FBIS/files/8832599/Missing.algae.taxa.xlsx)

@KSnaddon

[2022-06-06 09:28] aneriswanepoel opened #270 "Algal data - Phungula 2018"
Literature search for algal data in KNP area

[2022-06-06 12:38] aneriswanepoel opened #271 "1. Molluscs - Kemp et al 2016"
Literature search result

[2022-06-08 07:43] aneriswanepoel commented on #271
Pisidium viridarium not on masterlist

@helendallas

[2022-06-10 07:46] aneriswanepoel commented on #252
@helendallas I've had a look and we can't use this data as it's too vague - results aren't site specific

[2022-06-10 08:21] aneriswanepoel commented on #259
@helendallas again can't use this data as results are too vague - not site or date specific.

[2022-06-14 13:13] aneriswanepoel opened #272 "Invertebrates - KT Farrell 2014"
Literature search for invert data

[2022-06-14 13:15] aneriswanepoel commented on #270
Some algal taxa missing; added to spreadsheet.

[2022-06-15 06:04] aneriswanepoel commented on #271
@helendallas see above. Also attaching spreadsheet:
[1. Kemp et al 2016 Molluscs.xlsx](https://github.com/helendallas/FRC_FBIS/files/8906263/1.Kemp.et.al.2016.Molluscs.xlsx)

[2022-07-07 07:44] aneriswanepoel commented on #254
List of taxa in the study that aren't on the masterlist:

![image](https://user-images.githubusercontent.com/55532903/177719743-9691ca65-bcf0-4817-8561-11611c8cb6aa.png)

@helendallas

[2022-07-07 07:46] aneriswanepoel commented on #254
[Mangold & De Moor 1996.xlsx](https://github.com/helendallas/FRC_FBIS/files/9061492/Mangold.De.Moor.1996.xlsx)

[2022-07-13 06:49] aneriswanepoel opened #273 "2. Frogs - various"
Google scholar results for frog data. Various studies. Combining all into one spreadsheet as datasets are not large.

[2022-07-25 12:45] aneriswanepoel opened #274 "4. Vlok et al 2013 - KNP frogs (actually Fouche et al 2013)"
Extraction complete just waiting to find out about inclusion/exclusion of frogs not on masterlist.

[2022-08-02 07:08] Janette-Lumley commented on #258
@helendallas when you get a chance could you have a look, there are a few taxon that weren't in the master list, I made notes on those in the notes column, then let me know if you are happy for me to upload to FBIS.

[Barber-James H and De Moor F 1995.xlsx](https://github.com/helendallas/FRC_FBIS/files/9240246/Barber-James.H.and.De.Moor.F.1995.xlsx)

[2022-08-02 08:58] Janette-Lumley commented on #255
@helendallas there are a few taxon not on the master list that I made notes in the notes column, when you get a chance could you have a look and let me know if I should delete them or not, and then if you are happy for me to upload to FBIS.

[De Moor F and Barber-James H 1994.xlsx](https://github.com/helendallas/FRC_FBIS/files/9240626/De.Moor.F.and.Barber-James.H.1994.xlsx)

[2022-08-02 11:09] aneriswanepoel commented on #271
@helendallas have you had a chance to look at this taxon missing from the masterlist?

[2022-08-03 07:49] aneriswanepoel opened #275 "5. Invertebrates - Wolmarans et al 2014"
Literature Search result

[2022-08-15 07:49] helendallas commented on #271
@aneriswanepoel I have added Pisidium viridarium to the master list so you should be able to upload. Only done on live site not testing. It will mirror on sunday.

[2022-08-15 09:16] helendallas commented on #254
@aneriswanepoel Please see my comments below

Afroptilum excisum -  I have added this to FBIS live, it is a synonym of Cheleocloeon excisum (Barnard, 1932), https://www.gbif.org/species/6931947

Araneidae - this is a terrestrial spider, please exclude

Chironomini -  should be Chironominae (SubFamily)

Hirudinea -  should be Hirudinidae (Family)

Neritina gagates -  added to FBIS live, synonym of

[2022-08-15 11:27] helendallas commented on #255
Thanks @Janette-Lumley
Some comments:

Please fill in Taxon rank for all taxa, there are many blanks -  sort of taxon rank and click blank

In future, please create a list of missing taxa as a separate sheet in the file, and remove duplicates, thanks. I have added a sheet to the file on dropbox.  Please also triple check that the correct taxa have been recorded as it is easy to make mistakes given

[2022-08-17 06:09] aneriswanepoel opened #276 "3. Dyamond - KNP Wetland Inverts"
Literature search
Missing taxa in spreadsheet:

https://www.dropbox.com/s/eaaptjsx83f1w3p/Invertebrate%20Template%20-%20wetland%20inverts.xlsx?dl=0

@helendallas

[2022-08-17 07:30] #259 closed, assigned to aneriswanepoel

[2022-08-17 07:31] #252 closed, assigned to aneriswanepoel

[2022-08-17 08:52] #214 closed, assigned to aneriswanepoel

[2022-08-17 09:15] #119 closed, assigned to aneriswanepoel

[2022-08-17 14:08] helendallas commented on #258
@Janette-Lumley I have gone through the taxa and included a sheet in the excel file, also recorded here:

Afroptilum excisum | Added to FBIS live, - Cheleocloeon excisum   please wait till next week to mirror on testing .
Afroptilum falcatum | Added to FBIS - Cheleocloeon falcatum
Afroptilum flavum | Added to FBIS - CRASSABWA flavum
Afroptilum indusii | Added to FBIS - Dabulamanzia indusii
Afropti

[2022-08-17 14:40] helendallas commented on #276
Checked @aneriswanepoel

Notes in spreadsheet and here

Hirudinea | make Hirudinea - Family
Naboandelus africanus | Added to FBIS
Africasia radiata | Cannot find anywhere - check for spelling?
Ephydra | Added to FBIS
Barborophilus | Spelling - should be Borborophilus -    already in FBIS
Halobates | Added to FBIS
Leptoconops | Added to FBIS
Neumania | Added to FBIS
Phyllomacromia | Spelling  - Phy

[2022-08-18 10:57] aneriswanepoel commented on #276
@helendallas not sure what happened to the taxa you added to FBIS but I can't find these on FBIS...:
Hirudinea
Ephydra
Halobates
Neumania

[2022-08-18 14:21] helendallas commented on #276
sorry typo or did in a hurry so forgto to add to FBIS, just added to master list -  all in now to live, so will be available on testing next week from monday

![image](https://user-images.githubusercontent.com/45286876/185417343-58c8d472-4ba9-4f45-aefc-bc18e72d42c8.png)

![image](https://user-images.githubusercontent.com/45286876/185417949-940b91b9-566e-4890-9637-67bce6647e77.png)

![image](https:

[2022-08-22 06:54] aneriswanepoel opened #277 "8. KNP Wetland Algae - Kock 2017"

[2022-08-22 10:26] aneriswanepoel commented on #254
@helendallas I fixed all these errors and the upload to testing was fine but when I uploaded to live, these two taxa are missing from the masterlist. So they're on testing but not live...

Acentrella monticola
Acentrella natalensis

[2022-08-23 10:31] helendallas commented on #254
I think it best to use the accepted names for each,

Demoreptus monticola not Acentrella monticola
Demoreptus natalensis not Acentrella natalensis

also Demoreptus capensis for Acentrella capensis

I have included the old names in the taxon
Here is a useful paper, thanks

https://www.ru.ac.za/media/rhodesuniversity/resources/martin/baetidae.html

[2022-08-24 12:30] aneriswanepoel opened #278 "7. KNP Wetland Algae - WRC Report"
Literature search result.

[2022-08-30 06:34] aneriswanepoel opened #279 "6. Baker - Nylsvley inverts"
Literature search

[2022-08-30 11:32] aneriswanepoel commented on #279
Taxa not on masterlist:

Dicranomyia   capicola
Dicranomyia tipulipes
Hydra oligactis
Hydrachna
Leptocerinae
Radix natalensis
Schoenobiinae
Stratiomys
Teinobasis
Tipula pomposa
Trianodes
Tricholeichiton

@helendallas

[2022-08-31 07:31] helendallas commented on #273
@aneriswanepoel to provide xls and csv file in AWARD BioSmart folder for data curation

[2022-08-31 07:32] helendallas commented on #278
@aneriswanepoel Please give more details of what this is and what has been done, thanks Especially Source reference so that we can find data on FBIS

[2022-08-31 07:32] helendallas commented on #277
@aneriswanepoel Again some details please

[2022-08-31 07:32] #271 closed, assigned to aneriswanepoel

[2022-08-31 07:33] helendallas commented on #271
Uploaded successfully and checked

[2022-08-31 07:35] helendallas commented on #276
Uploaded and checked.

[2022-08-31 07:35] #276 closed, assigned to aneriswanepoel

[2022-08-31 07:42] helendallas commented on #275
Uploaded and checked

[2022-08-31 07:42] #275 closed, assigned to aneriswanepoel

[2022-08-31 07:50] helendallas commented on #272
Uploaded and checked

[2022-08-31 07:50] #272 closed, assigned to aneriswanepoel

[2022-08-31 07:51] helendallas commented on #273
Uploaded and checked. Closing now, as data curation will be undertaken by @aneriswanepoel

[2022-08-31 07:51] #273 closed, assigned to aneriswanepoel

[2022-08-31 07:54] helendallas commented on #277
Not finding data - might be the same issue as we had with missing records.

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%221214%22]&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22,%22gbif%22,%22virtual_museum%22]&abioticData=

[2022-08-31 07:56] helendallas commented on #274
Anuran master list updated, frog data uploaded and checked.

[2022-08-31 07:56] #274 closed, assigned to aneriswanepoel

[2022-08-31 08:01] helendallas commented on #239
Uploaded and checked.

[2022-08-31 08:01] #239 closed, assigned to aneriswanepoel

[2022-08-31 08:04] helendallas commented on #238
Uploaded and checked.

[2022-08-31 08:04] #238 closed, assigned to aneriswanepoel

[2022-08-31 08:05] helendallas commented on #201
Uploaded to FBIS but not able to check as records missing. Please check again @aneriswanepoel once Dimas has fixed missing issue records

[2022-08-31 08:08] helendallas commented on #237
Please can you include details of the papers included?  Thanks @aneriswanepoel

[2022-08-31 08:10] helendallas commented on #232
Uploaded and checked

[2022-08-31 08:10] #232 closed, assigned to aneriswanepoel

[2022-08-31 08:12] helendallas commented on #225
Uploaded and checked

[2022-08-31 08:12] #225 closed, assigned to aneriswanepoel

[2022-08-31 08:14] helendallas commented on #227
Uploaded but cannot check and missing records. Issue that Dimas will be fixing. @an please check again.

[2022-08-31 08:15] helendallas commented on #236
Uploaded but cannot check as missing records issue. @aneriswanepoel please check once Dimas has fixed

[2022-08-31 08:26] helendallas commented on #189
This is outside the Kruger rivers region. Suggest you shift to FBIS project rather @aneriswanepoel

[2022-08-31 08:35] helendallas commented on #155
@aneriswanepoel

Here is the url for the 3 studies combined:

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%221013%22%2C%221014%22%2C%221015%22]&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22,%22gbif%22,%22virtual_museum%22]&

[2022-08-31 08:37] helendallas commented on #155
Can you also email Warren again for the pdf. These should be publicly available so maybe also look on google or email Jackie Jay, Barbara Weston or Christa Thirion from DWS.

[2022-08-31 08:39] helendallas commented on #190
Uploaded and checked

[2022-08-31 08:39] #190 closed, assigned to aneriswanepoel

[2022-08-31 08:40] helendallas commented on #192
Uploaded and checked

[2022-08-31 08:40] #192 closed, assigned to aneriswanepoel

[2022-08-31 08:48] helendallas commented on #149
@aneriswanepoel Please check these 13 sites as they are outside the geographic range of Mpumalanga Tourism and Parks Agency. Not usre how they were included here - must of been mislabeled in the original data from Nepid? Have a look and see if you can resolve.

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBounda

[2022-08-31 08:52] helendallas commented on #185
@aneriswanepoel There is no source reference for this

![image](https://user-images.githubusercontent.com/45286876/187638768-6696ad90-3def-4c49-9d15-8132989952c1.png)

here is the url for all
https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22226%22%2C%22268%22

[2022-08-31 08:54] helendallas commented on #141
Uploaded and checked

[2022-08-31 08:54] #141 closed, assigned to aneriswanepoel

[2022-08-31 08:55] helendallas commented on #124
Uploaded and checked

[2022-08-31 08:55] #124 closed, assigned to aneriswanepoel

[2022-08-31 08:57] helendallas commented on #135
@aneriswanepoel I cannot find this data on FBIS? Please check and include the Source Reference here

[2022-08-31 08:58] helendallas commented on #146
Uploaded and checked

[2022-08-31 08:58] #146 closed, assigned to aneriswanepoel

[2022-08-31 08:59] helendallas commented on #148
Uploaded and checked

[2022-08-31 08:59] #148 closed, assigned to aneriswanepoel

[2022-08-31 09:00] helendallas commented on #147
Uploaded and checked

[2022-08-31 09:00] #147 closed, assigned to aneriswanepoel

[2022-08-31 09:02] helendallas commented on #144
Uploaded and checked

[2022-08-31 09:02] #144 closed, assigned to aneriswanepoel

[2022-08-31 09:07] helendallas commented on #145
Uploaded and checked

[2022-08-31 09:07] #145 closed, assigned to aneriswanepoel

[2022-08-31 09:08] helendallas commented on #143
Uploaded and checked

[2022-08-31 09:08] #143 closed, assigned to helendallas

[2022-08-31 09:15] helendallas commented on #123
@aneriswanepoel Please confirm that these data were added to the
![image](https://user-images.githubusercontent.com/45286876/187643785-5e3bee86-d9ff-4dd1-82bf-9f0fd4729a01.png)

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=["226"]&endemic=&conservationStatus=

[2022-08-31 09:18] helendallas commented on #137
Please confirm the Source Reference of these data and Owner.

[2022-08-31 09:20] helendallas commented on #136
@aneriswanepoel No data so think a mkssing data issue, please check once Dimas has fixed.

[2022-08-31 09:22] helendallas commented on #127
Source References
![image](https://user-images.githubusercontent.com/45286876/187645328-ca87b1a4-2420-4bee-a481-a5428ede73e5.png)

[2022-08-31 09:22] #127 closed, assigned to aneriswanepoel

[2022-08-31 09:24] helendallas commented on #133
Uploaded and checked

[2022-08-31 09:26] helendallas commented on #130
No records, @aneriswanepoel Please check after Dimas has fixed missing records issue

[2022-08-31 09:28] #133 closed, assigned to aneriswanepoel

[2022-08-31 09:29] #250 closed, assigned to aneriswanepoel

[2022-08-31 09:30] #251 closed, assigned to aneriswanepoel

[2022-08-31 10:45] helendallas commented on #191
It would be really good to explore what data we can include from this programme.

https://wis.orasecom.org

Some data are readily available in the reports but it may make better sense to go to the source.

[2022-08-31 10:46] helendallas commented on #193
Closing ticket as cannot get more details

[2022-08-31 10:46] #193 closed, assigned to aneriswanepoel

[2022-08-31 10:51] helendallas commented on #134
Closing this ticket as no additional data for these records

[2022-08-31 10:51] #134 closed, assigned to aneriswanepoel

[2022-08-31 10:51] #266 closed, assigned to aneriswanepoel

[2022-08-31 10:52] helendallas commented on #169
@aneriswanepoel Please follow up again with Warren re the SASS data, thanks

[2022-08-31 11:07] aneriswanepoel commented on #123
@helendallas these need to be merged.. but I can't view records for the last two for some reason
![image](https://user-images.githubusercontent.com/55532903/187665009-078e5097-159b-4729-8c65-e1785e27de38.png)

[2022-08-31 11:16] aneriswanepoel commented on #135
@helendallas it's not on FBIS under SAEON Fish data as this data consists of three different papers, from Thabo Mohlala (of SAEON)

[2022-08-31 11:23] aneriswanepoel commented on #185
@helendallas seems to be another missing records issue
![image](https://user-images.githubusercontent.com/55532903/187667534-ed2fc873-bc5d-4af5-8e0a-d9cf2f669f42.png)

[2022-08-31 11:37] aneriswanepoel commented on #155
@helendallas in the spreadsheet the Owner is Warren Aken, not Golder Associates. I will see if I can find the PDFs

[2022-08-31 13:23] helendallas commented on #279
Completed

Dicranomyia   capicola | Added to FBIS live
Dicranomyia tipulipes | Added to FBIS live
Hydra oligactis | Added to FBIS live
Hydrachna | Added to FBIS live
Leptocerinae | Change to Leptocerina (Genus)
Radix natalensis | Added to FBIS live
Schoenobiinae | Include as Crambidae (Family)
Stratiomys | Added to FBIS live
Teinobasis | Added to FBIS live
Tipula pomposa | Added to FBIS live
Trian

[2022-08-31 13:57] helendallas commented on #123
Done.
![image](https://user-images.githubusercontent.com/45286876/187696339-d7a94515-6013-4a70-a86e-43e7793baece.png)

[2022-08-31 13:57] #123 closed, assigned to aneriswanepoel

[2022-08-31 13:59] helendallas commented on #135
Thanks, Uploaded and checked

[2022-08-31 13:59] #135 closed, assigned to nobody

[2022-09-01 11:02] aneriswanepoel commented on #237
@helendallas Two scientific papers on KNP mollusc diversity.

[2022-09-01 11:14] aneriswanepoel commented on #278
Assessment of ecological integrity of Zaalklapspruit wetland in Mpumalanga (before and after rehabilitation). Data added directly to FBIS.

[2022-09-02 08:48] aneriswanepoel commented on #149
@helendallas okay changed to "Nepid fish database" reference

[2022-09-02 08:55] aneriswanepoel commented on #277
@helendallas I think it's because there are two source references for some reason - one with records and one without:

![image](https://user-images.githubusercontent.com/55532903/188103200-1559a4ae-deef-4e98-b3ba-d58443e727fb.png)

[2022-09-02 08:56] aneriswanepoel commented on #277
North-West University Masters thesis, found on Google scholar.

[2022-09-07 12:02] aneriswanepoel commented on #130
@helendallas all records restored

[2022-09-07 12:04] aneriswanepoel commented on #136
@helendallas all records restored

[2022-09-07 12:06] aneriswanepoel commented on #236
@helendallas all records restored

[2022-09-07 12:07] aneriswanepoel commented on #227
@helendallas all records restored

[2022-09-13 11:48] #227 closed, assigned to aneriswanepoel

[2022-09-13 12:07] #236 closed, assigned to aneriswanepoel

[2022-09-13 12:08] #136 closed, assigned to aneriswanepoel

[2022-09-13 12:09] #130 closed, assigned to aneriswanepoel

[2022-09-13 12:11] #277 closed, assigned to aneriswanepoel

[2022-09-13 12:14] helendallas commented on #278
@aneriswanepoel Please provide full citation including author

[2022-09-13 12:16] helendallas commented on #278
Not to worry I have added is
Oberholster PJ 2016. Assessment of the ecological integrity of the Zaalklapspruit wetland. Water Research Commission Report No. 2230/2/16

[2022-09-13 12:16] #278 closed, assigned to aneriswanepoel

[2022-09-13 12:17] #237 closed, assigned to aneriswanepoel

[2022-09-13 12:19] #279 closed, assigned to aneriswanepoel

[2022-09-13 12:21] helendallas commented on #137
![Uploading image.png…]()

[2022-09-13 12:21] #137 closed, assigned to Kyle-Mark

[2022-09-13 12:22] #149 closed, assigned to aneriswanepoel

[2022-09-13 12:23] #201 closed, assigned to aneriswanepoel

[2022-09-13 12:25] helendallas commented on #189
@aneriswanepoel Checking that this is now not included in the list of source references captured for BioSmart

[2022-09-13 12:25] helendallas commented on #228
@aneriswanepoel What is the status of this?
No SASS data
![image](https://user-images.githubusercontent.com/45286876/189901006-65923c8d-c9ca-4bed-89bd-eb47120ec2f4.png)

[2022-09-13 12:35] aneriswanepoel commented on #189
@helendallas correct, it's been excluded

[2022-09-13 12:43] aneriswanepoel commented on #228
The SASS data was recorded under Gerhard Diedericks. Robin only sent the data to me.
![image](https://user-images.githubusercontent.com/55532903/189903978-5549cc7f-6ccc-43fa-a8c7-cc96a32238cf.png)

@helendallas

[2022-09-13 13:10] helendallas commented on #228
Please add the photos for each sampling visit from the SASS data sheets. Always do this when available please.

[2022-09-22 07:51] aneriswanepoel commented on #169
@helendallas still no reply from Warren

[2022-09-22 07:52] aneriswanepoel commented on #155
@helendallas I still haven't been able to track down the PDFs

[2022-09-22 07:55] aneriswanepoel commented on #228
@helendallas photos have been added

[2022-09-22 07:59] aneriswanepoel commented on #253
@helendallas I am attaching this spreadsheet here
[De Moor & Barber-James 2003.xlsx](https://github.com/helendallas/FRC_FBIS/files/9623621/De.Moor.Barber-James.2003.xlsx)

[2022-09-22 08:35] #167 closed, assigned to aneriswanepoel

[2022-09-22 08:36] #165 closed, assigned to jeremyshelton, aneriswanepoel

[2022-09-22 08:37] #156 closed, assigned to aneriswanepoel

[2022-09-22 08:37] #151 closed, assigned to aneriswanepoel

[2022-09-22 08:38] #150 closed, assigned to mokajee

[2022-09-28 07:38] #228 closed, assigned to aneriswanepoel

[2022-09-28 07:44] helendallas commented on #155
Emailed DWS colleagues - 28 Sep 2022

[2022-10-06 08:13] helendallas commented on #253
Fixed some taxa and remainder added to FBIS, still to upload next week

[2022-10-06 12:54] helendallas commented on #155
@Janette-Lumley Will update the source reference for this as we now have the correct pdf. She will also add photographs of each site as these are available in the pdf

@Janette-Lumley Please confirm when this is completed, thanks

[2022-10-06 12:58] helendallas commented on #185
@Janette-Lumley Please canyou add SASS data to these sites using Appendix C. Ignore OBS. And also add photos for each site visit (sampling date please)

[2022-10-11 13:14] Janette-Lumley commented on #155
@helendallas I have updated the source reference and added the photos

[2022-10-11 13:15] Janette-Lumley commented on #185
@helendallas I have added the SASS data and the photos for each site.

[2022-10-14 13:11] Janette-Lumley commented on #255
@helendallas I have updated the taxa according to your notes

[2022-10-14 13:12] Janette-Lumley commented on #258
@helendallas I have updated the taxa according to your notes

[2022-10-19 07:07] helendallas commented on #185
Please check photos, there are two for B2KLIP-00001

[2022-10-19 07:13] helendallas commented on #155
Thanks @Janette-Lumley

[2022-10-19 07:13] #155 closed, assigned to Janette-Lumley

[2022-11-03 12:46] Janette-Lumley commented on #263
@helendallas The paper you attached here was not the mollusc data it is invert data for the same sites. The 1st page is the title of the mollusc paper but you will see if you scroll to the next page it is actually "The possible association between selected sediment characteristics and the occurrence of benthic macroinvertebrates in a minimally affected river in South Africa"

The mollusc data is a

[2022-11-03 13:00] Janette-Lumley commented on #257
@helendallas please could you send this report to me, I can't find it on dropbox.
Thanks.

[2022-11-21 13:46] helendallas opened #280 "Check data owned by J Lumley"
There are several sites that have J Lumley as the owner. This cannot be the case and I am assuming that you added the data. It is SASS data.

Please check these data and provide the correct SASS assessor and source reference. Lets chat if you cannot resolve.

https://freshwaterbiodiversity.org/sass/dashboard-multi-sites/?taxon=&search=&siteId=&collector=%5B%22Janette%20Lumley%22%5D&category=&yearF

[2022-11-21 13:51] helendallas opened #281 "Check data owned by A Swanepoel"
Please check these sites: In the csv file Aneri is the owner. Please ask her or check with Kate who is the correct owner of the sites/site visits. and change.

H6AMAN-00024 -2/23/2021
H6DUTO-00055 - 3/26/2009