[2018-11-23 11:18] helendallas opened #1 "SASS Data - CapeNature"
Ingest revised data from Jeanne Gouws

[2018-11-23 11:24] helendallas opened #2 "SASS Data - DWS"

[2018-11-23 11:24] helendallas opened #3 "SASS Data - FCG"
Awaiting feedback from Justine Ewart-Smith re data

[2018-11-23 15:18] helendallas commented on #2
Shaddai Danie to get back to me about DWS data

[2018-11-23 15:18] #2 closed, assigned to nobody

[2018-11-23 15:19] helendallas opened #4 "SASS Data - DWS"
Shaddai Daniel to get back to me re DWS data

[2018-11-23 15:20] helendallas opened #5 "SASS Data Form Template"
Finalise SASS form and email to Tim

[2018-11-30 12:39] helendallas opened #7 "Invertebrate Knowledge database"
Update knowledge database for invertebrate data splitting into Biobase, CFR Invertebrates, National Invertebrates, wetlands and estuaries

[2018-11-30 12:45] helendallas opened #8 "SASS Data reporting Template - single site"
Create a basic SASS reporting template for serving SASS data for a single site

[2018-11-30 12:45] helendallas opened #9 "SASS Data reporting Template - multiple sites"
Create a SASS reporting template for serving data from multiple SASS sites

[2019-03-06 06:26] #9 closed, assigned to helendallas

[2019-03-06 06:27] #8 closed, assigned to helendallas

[2019-09-19 08:19] helendallas commented on #3
@toniolsen
Please move to **Done** column if this is completed

[2019-09-19 08:20] helendallas commented on #1
@toniolsen
I have been in touch with Jeanne - she is hoping to send us the full data

[2019-09-19 11:09] helendallas opened #10 "Invertebrate Taxon Data - Karl Reinecke"
Data from:

Reinecke   M.K. | 2008 | Spontaneous succession of riparian vegetation and aquatic macroinvertebrates along the Silvermine River, South Africa, after fire and clearing of exotic plant   species. MSc thesis.   Zoology Department. University of Cape Town, South Africa.
[Reinecke M.K. 2008.pdf](https://github.com/helendallas/FRC_FBIS/files/3630844/Reinecke.M.K.2008.pdf)

https://www.dropb

[2019-09-19 11:11] helendallas opened #11 "SASS Data - Eerste River Helen Dallas"
SASS data to be captured on freshwaterbiodiversity.org
All site: G1EERS-JONKE; Owner Helen Dallas

@Aneri16
Assigned to do this, please sit with @helendallas to learn how to do the data capture

https://www.dropbox.com/sh/seg79zhl4nv3tuz/AABe5vGygPkqWkYITx3dv1gva?dl=0

[2019-09-19 11:19] toniolsen commented on #10
@helendallas, no it has not been done yet.

[2019-09-19 15:06] helendallas opened #12 "SASS Data - Diep River"
Assign Biotope ratings based on datasheets
Assign all taxa and abundance = A, if not abundance values are given then no graphs are produced and scores cannot be calculated.

Add the following in the comments field:
![Screenshot_2019-09-19 FBIS SASS(4)](https://user-images.githubusercontent.com/45286876/65256296-99997f00-daff-11e9-96bb-70b4b0233abc.png)

Helen Dallas has the data - please come and

[2019-09-20 08:07] helendallas opened #13 "Invertebrate Data - Dabrowski J.M., Bollen A. & Schulz R."
Extract site locality data, for one species.  Presence only.
I suggest you create a spreadsheet for studies like this where it is one or two records only.

[Dabrowski J.M., Bollen A. & Schulz R. 2005.pdf](https://github.com/helendallas/FRC_FBIS/files/3634811/Dabrowski.J.M.Bollen.A.Schulz.R.2005.pdf)

[2019-09-20 08:23] helendallas opened #14 "Invertebrate Data- Brown CA 1997"
Data for two rivers, above and below trout farm. Emailed Cate Brown re electronic data. Awaiting response.

Table A8 in
Tables 3.3 and 3.4

Brown   C.A. | 1997 | Modelling and   managing the effects of trout farms on Cape rivers. | PhD thesis.   Zoology Department. University of Cape Town, South Africa.

[2019-09-20 08:27] helendallas commented on #3
@toniolsen
Please confirm that all this data is captured into FBIS. With Justine Ewart-Smith the Data Owner

[2019-09-20 08:29] helendallas opened #15 "Dallas 1995 MSc thesis"
Check if data from MSc are duplicated in River DB and Biobase - edit out duplicates, so that data only occur once

[2019-09-20 08:54] helendallas opened #16 "Invertebrate Taxon Data - Ketley ZA 2009"
Create a new spreadsheet for this study.

Ketley   Z.A. | 2009 | Stream   invertebrates and water temperature: Evaluating thermal tolerances in the   Cape Floristic Region (South Africa) - implications of climate change. | MSc thesis.   Zoology Department. University of Cape Town, South Africa.

Only data from chapter 4 to be included.
Site information - Table 4.1  - Six sites, details = Site desc

[2019-09-20 10:35] helendallas opened #17 "Invertebrate Taxon Data - Dallas & Ketley 2011"
Please add data on ten species to general ad hoc spreadsheet.

Dallas   H.F. & Ketley Z.A. | 2011 | Upper thermal   limits of aquatic macroinvertebrates: comparing critical thermal maxima with  96-LT50 values. | Journal of   Thermal Biology 36(6): 322-327.

Table 1 Georeference and altitude of streams where test organisms were collected.

Make sampling date April 2008 for all.

[Dallas H.F. & Ketl

[2019-09-20 11:18] toniolsen commented on #3
@helendallas,
@Janette-Lumley definitely captured this data, but now it is not on the system? Justine has sites in FBIS, but it does not correspond to the data that we entered.
@Janette-Lumley, can you please confirm that this data below was captured into FBIS:
[CFR Invertebrate SASS Data for FBIS_FCG.xlsx](https://github.com/helendallas/FRC_FBIS/files/3635619/CFR.Invertebrate.SASS.Data.for.FBIS_F

[2019-09-20 14:07] helendallas opened #18 "Invertebrate Taxon data - Dallas et al 2015"
Please add data to invertebrate ad hoc spreadsheet.

The primary reference is:

Dallas   H.F., Rivers-Moore N., Ross-Gillespie V., Ramulifho P. & Reizenberg J. | 2015 | Adaptability   and vulnerability of Riverine Biota to Climate Change – Developing Tools for   Assessing Biological Effects. | Water Research   Commission (WRC) Report No. 2182/1/15.

As well as:
Dallas,   H.F. & Rivers-Moore, N.A.

[2019-09-20 14:35] helendallas opened #19 "SASS Data - Chantel Petersen"
@toniolsen
Please can you check add the data from Chantel  into FBIS. I did a spot check and it definately not all there.

Also the correct Reference Source can now be added, which is her PHD. I have added it to her SASS folder.

Can you also try and get the biotope ratings - from thesis, or contact her.
Also all sites need a Site Description.

I have transformed the data -attached. May even be ea

[2019-09-20 14:37] helendallas commented on #3
@toniolsen
Please can you add this data onto FBIS, and check it is all there.

Also take the opportunity to add the correc Reference Source, it is not Rivers Database

[2019-09-20 14:42] helendallas opened #20 "Invertebrate Taxon Data - add DOI and "Document Upload Link""
We need to include DOI for the invertebrate taxon data we are consolidating as per the fish.

Response from Toni:
We just need to add two columns:
1.) "DOI"
2.) "Document Upload Link"
Janette and Aneri – please add these columns to all future spreadsheets.

These two columns come after the "Reference category" column in the sheet.
DOI must be in this example format: 10.3377/004.044.0109

The docum

[2019-09-20 14:45] helendallas commented on #20
@toniolsen @Aneri16 @Janette-Lumley
Please add two columns to all new invertebrate taxon spreadsheets as suggested by Toni

Toni - please confirm that these are at the end.

Also Toni - please can you go through all existing invertebrate taxon spreadsheets and add the two columns, then add the DOI, or "Document Upload Link"

No PDFs can be uploaded yet as the invertebrate data needs to be ingested

[2019-09-22 11:37] toniolsen commented on #20
@Janette-Lumley @helendallas @Aneri16
I have added these two columns into all existing sheets in the Invert species "Data to combine" folder.
@Janette-Lumley could you please confirm that these are the final datasheets for invert species data in this data to combine folder?

@helendallas, I am able to upload the documents even if the data is not in FBIS. It just creates a link that I paste for eac

[2019-09-22 11:40] toniolsen commented on #3
@Janette-Lumley is capturing this data:
[CFR Invertebrate SASS Data Bulk Import Template.xlsx](https://github.com/helendallas/FRC_FBIS/files/3639695/CFR.Invertebrate.SASS.Data.Bulk.Import.Template.xlsx)

It includes Justine's data from a published report and Chantel Petersen's data from her thesis. Christa Thirion's data is also in this spreadsheet (highlighted in grey), but does not need to be ca

[2019-09-23 05:50] helendallas opened #21 "SASS Data - Dallas Kraalstroom"
Check SASS data for Dallas 1997 (Dallas 1995)
4 sites

- Correct sampling Dates
- Add biotope ratings (see on datasheets) HD has added
- Check taxa
- Change Reference Source to:
Peer-reviewed Scientific Article
DOI: 10.1080/10183469.1997.9631389

Add in Notes;
Dallas, H.F.  1995.  An evaluation of SASS (South African Scoring System) as a tool for the rapid bioassessment of water quality. Master of

[2019-09-23 06:27] helendallas opened #22 "SASS Data - Dallas Eerste River and tribs"
Check SASS data for Dallas 1997 (Dallas 1995)
several sites

    Correct sampling Dates
    Add biotope ratings (see on datasheets) HD has added
    Check taxa
    Change Reference Source to:
    Peer-reviewed Scientific Article
    DOI: 10.1080/10183469.1997.9631389

Add in Notes;
Dallas, H.F. 1995. An evaluation of SASS (South African Scoring System) as a tool for the rapid bioassessment of wate

[2019-09-23 06:37] helendallas commented on #3
@Janette-Lumley
Please can we sit with this data and use the revised spreadsheet, which is easier. Shout when you are ready to enter it.

[2019-09-23 07:40] helendallas commented on #10
Site information on page 30 of thesis:
4 sites (Site 4 is an extra one  -see details from Karl:
Site 4 is just d/s of site 3 and tributary 5 where the old poplar forest used to be, just u/s of the homestead

See map and table
![image](https://user-images.githubusercontent.com/45286876/65407800-ee7d1400-dde3-11e9-85ad-fc9567489f1a.png)

Aquatic macro-invertebrates collected:
April 2001
March 2002

[2019-09-23 08:18] helendallas opened #23 "Invertebrate Taxon data - SR Daniels Potamonautidae"
Awaiting feedback from Prof Daniels re his data on freshwater crabs
@Janette-Lumley  I will alert you once he has responded

[2019-09-23 08:30] helendallas opened #24 "National Freshwater Snail Collection"
To follow-up with relevant snail experts about including the snail data in FBIS. Historically they have not been willing to share this data but may be worth another try.

De Kock KN  North West University
Also worth contacting Prof Chris Appleton

[2019-09-23 08:42] helendallas opened #25 "Invertebrate Taxon data - de Moor F.C. 2010"
Data ready for capture:  Reference Source is:
[de Moor F.C. 2010.pdf](https://github.com/helendallas/FRC_FBIS/files/3641249/de.Moor.F.C.2010.pdf)

Site information is in paper and excel spreadsheet
Species data is in table :
TABLE 1. Species and numbers of Trichoptera recorded at each of the rivers during the survey undertaken in 2005
Survey done in April 2005,

[De Moor 2010 Supplementary data.xl

[2019-09-23 11:17] toniolsen opened #26 "Upload Form Dropdown options - All modules"
@helendallas @jeremyshelton @philipfrenzel

Here is a spreadsheet of all the current dropdown options for the upload forms for all three modules:
These will all need to be made the same even if some don't apply to the module, i.e. curation process. We can just grey out those options.

[Forms Dropdown options.xlsx](https://github.com/helendallas/FRC_FBIS/files/3641850/Forms.Dropdown.options.xlsx)

[2019-09-23 11:24] toniolsen opened #27 "Taxonomic Backbone issue - If a new species is added not on the master lists."
We need to give some thought into the process that needs to happen if someone adds a new species that is not currently in our master lists (and Github). Suggestion: A prompt to the uploader that they are uploading a new species. All taxonomic data for this new species will need to be added by the uploader. (Will we need a new form for this?)

@helendallas @jeremyshelton @philipfrenzel

[2019-09-23 13:22] toniolsen opened #28 "Uniform form mock up for all modules"
Hi @helendallas, @jeremyshelton, @philipfrenzel
Here is the form I mocked up that could be used to upload data for all modules:

[Form_All modules.pdf](https://github.com/helendallas/FRC_FBIS/files/3642251/Form_All.modules.pdf)
[Form_All modules.docx](https://github.com/helendallas/FRC_FBIS/files/3642256/Form_All.modules.docx)

Please comment and let me know if I can ticket it to present to Kartoz

[2019-09-24 04:58] jeremyshelton commented on #26
Thanks @toniolsen - super useful!

My thoughts:

**Specific biotope**
I reckon we work toward a universal list of specific biotopes, so the same dropdown options in all three modules (it is fine to have them for the fish too, so long as they are not compulsory). I think @helendallas is going to take this on?

**Sampling effort**
You can include the replicates option for fish.

**Abundance**
We sho

[2019-09-24 05:19] jeremyshelton commented on #28
Looking good @toniolsen

A few comments/questions:

1. I wonder if we need a heading below 'Owner' called 'Sampling details' or something like that? @helendallas ?
@jeremyshelton @toniolsen what would one include here?  A general comments field is always handy but don't think it needs to be specific.

2. Should the 'Taxon Rank' column not come before 'Taxa' column? @helendallas  @jeremyshelton @to

[2019-09-24 05:24] jeremyshelton commented on #27
@toniolsen that sounds like a good idea to me. We would just need to check with Dimas if its easy for that new taxon to then join the existing master list in the FBIS.
@helendallas would we need to have a verification check when a user adds a new species?
...I suspect we will need a form.

[2019-09-24 08:21] toniolsen commented on #26
Thanks @jeremyshelton.
I have made the changes on the Dropbox version.
[Forms Dropdown options.xlsx](https://github.com/helendallas/FRC_FBIS/files/3646047/Forms.Dropdown.options.xlsx)

[2019-09-24 08:34] toniolsen commented on #19
@helendallas I entered Chantel's data into our bulk upload template (attached), with Justine's data last year.
@Janette-Lumley is capturing this data. I just need to get the biotope ratings from Chantel, I have emailed her.
[CFR Invertebrate SASS Data Bulk Import Template.xlsx](https://github.com/helendallas/FRC_FBIS/files/3646103/CFR.Invertebrate.SASS.Data.Bulk.Import.Template.xlsx)

[2019-09-24 09:53] toniolsen opened #29 "Looking for PDFs"
Hi @Janette-Lumley and @Aneri16,

I have started uploading PDFs and copying the link to all the invertebrate species data in the "Data to combine" folder on Dropbox.
I am just missing two PDFs that you may have.

1.) The published report : Snaddon, K., Ractcliffe, G., and Ewart-Smith, J., 2014. @Janette-Lumley, I think you captured this data?
2.) The thesis: Tharme, R., 2010. @Aneri16 you captured

[2019-09-25 06:45] aneriswanepoel commented on #25
Need to add document upload link

[2019-09-25 07:22] aneriswanepoel commented on #12
Certain sites still to be checked by HD

[2019-09-25 08:52] toniolsen commented on #19
Chantel' response:

_Hi Toni

I don't think I have that in a digital format. Would you need it for each sampling event? That would take some time and I would need to get it from the raw data. Unfortunately I am a bit swamped at this week and then out of the office for two weeks. Let me know so that I can find some time to get it for you.

Chantel_

Perhaps we can still capture the data into FBIS a

[2019-09-25 11:16] toniolsen opened #30 "Uploading PDFs for theses and published reports"
Hi @Janette-Lumley, @Aneri16 @philipfrenzel

I just wanted to share the process of uploading PDFS to the document management page so if you extract data from a published report or thesis (only) you can upload the PDF and then copy the link into the "Document Upload Link" column. Obviously for all peer-reviewed papers we must try get the DOI.

First go to this address: http://freshwaterbiodiversity

[2019-09-25 13:22] aneriswanepoel commented on #22
Teloganodidae not on SASS sheets and Ephemerillidae not on FBIS invert list so unsure how to proceed with data entry for some sites/dates

[2019-09-25 18:14] helendallas commented on #22
Telagonodidae is the new name for ephemerellidae. Also please don't close any issues. Just move into done column. Once I have checked in will sign off and close the ticket

[2019-09-25 18:21] helendallas commented on #12
Please reopen

[2019-09-26 04:45] helendallas commented on #25
@Aneri16
Please make a comment related to the completion of the task when the data consolidation is finalised.  @toniolsen please can you arrange a session with Janette and Aneri around the document management system.

@Aneri16
Please don't close any issues -  just move them to done for me to check. I will sign off and close

[2019-09-26 04:47] helendallas commented on #29
@toniolsen @Aneri16 @Janette-Lumley
Please keep a note of what is done please, did you get these docs Toni?

Also please dont close any issues. Just move them do done.

[2019-09-26 04:48] helendallas commented on #11
@Aneri16 please comment on status of this please.

[2019-09-26 04:49] helendallas commented on #12
@Aneri16
There were some sites that did not have codes, that I set aside - what did you do with these?

Please remember to comment and dont close any tickets.

[2019-09-26 04:53] helendallas commented on #19
@toniolsen @Janette-Lumley
I suggest we enter the data on FBIS, and leave the biotope ratings blank for now.  The spreadsheet I attached was the bulk upload sheet - just transposed to make data capture easier.

https://github.com/helendallas/FRC_FBIS/files/3636401/SASS.Data.FCG.and.C.Petersen_transformed.to.enter.xlsx

@Janette-Lumley Please indicate status of this please

[2019-09-26 04:57] helendallas commented on #23
@Aneri16 Several papers received from author.

Please add all of these to the CFR Master List Study References in the dropbox folder below. And always add DOI or document link as per ticket #20

[Invertebrates CFR Master List Study References.xlsx](https://github.com/helendallas/FRC_FBIS/files/3655941/Invertebrates.CFR.Master.List.Study.References.xlsx)

[2019-09-26 05:56] Janette-Lumley commented on #19
@helendallas I will be ready to start capturing this data today.

[2019-09-26 06:12] aneriswanepoel commented on #12
Oh sorry, I didn't realize I was closing the thread! Those sites haven't been checked on FBIS because there aren't any site codes for them. I think you wanted to still check re site codes.

[2019-09-26 06:13] aneriswanepoel commented on #22
Okay thanks for clarification!

[2019-09-26 06:17] aneriswanepoel commented on #25
I have completed and finalised the data consolidation and have put the datasheet in the "data to combine" folder on Dropbox. I have added the DOI so then no need to add document upload link. @toniolsen can have a look at the datasheet and let me know if anything is missing

[2019-09-26 06:18] aneriswanepoel commented on #29
I emailed the Tharme paper to Toni

[2019-09-26 06:20] helendallas commented on #19
@Janette-Lumley
Great, Please use Transformed sheet. or original if easier for you. For each Site there is data for each taxon as follows:

PORIFERA_S - this is the stones
PORIFERA_V - this is the vegetation
PORIFERA_G - this is the GSM
PORIFERA_T - this is the Site - need to check and revise abundances

so please check if the FCG data is in. Check Organisation row.

Then enter CSIR data. for each

[2019-09-26 06:32] aneriswanepoel commented on #11
I have completed the data capture on FBIS and the PDFs that I worked with were all correct as far as I know so what is on FBIS should be final.

[2019-09-26 06:32] toniolsen commented on #29
I received both documents. Thanks!

[2019-09-26 06:36] toniolsen commented on #25
@helendallas I have created a ticket (#30) with detailed screenshots of the PDF upload process.
@Aneri16, @Janette-Lumley let me know if anything is unclear because then we can schedule a Zoom.

[2019-09-26 07:23] aneriswanepoel commented on #23
Only one paper has co-ordinates. The rest don't have co-ordinates and one of them is not a South African study. Must I still add all of them to the reference list? I am going to see if I can get the co-ordinates in the mean time.

[2019-09-26 07:41] toniolsen commented on #25
@Aneri16, Looks fine to me.

@Janette-Lumley and @Aneri16 could you please change the name of the "Count" column to "Number" for all invertebrate species data sheets in the data to combine folder.
Also if the sampling method is unknown, please include an "unspecified" category and populate the blank cells. Thanks!

[2019-09-26 07:44] aneriswanepoel commented on #25
@toniolsen sure will do. Just realized I need to fill in the taxon rank column for the De Moor data so will do that this morning.

[2019-09-26 07:47] toniolsen commented on #25
Great. Thanks @Aneri16

[2019-09-30 06:50] helendallas opened #31 "Invertebrate Taxon Data - Barbara Stewart PhD"
@philipfrenzel
Extract data from PhD thesis and follow up with Iziko museum -  Albe Bosman for catalogued data - if required

[2019-09-30 07:22] #11 closed, assigned to aneriswanepoel

[2019-09-30 07:23] #29 closed, assigned to nobody

[2019-09-30 08:10] helendallas opened #32 "SASS Data - Liz Day"
Check all SASS data owned by Liz Day and for those SASS assessments where there are no abundances, please make A. Include a note in the comments section as per previous edits.

![Screenshot_2019-09-30 FBIS Map](https://user-images.githubusercontent.com/45286876/65860352-66aa8300-e36a-11e9-9f3f-878223a69718.png)

[2019-09-30 08:17] #21 closed, assigned to aneriswanepoel

[2019-09-30 08:19] #25 closed, assigned to aneriswanepoel

[2019-09-30 08:22] helendallas commented on #28
@toniolsen
Are these also on dropbox folder?
Form_All modules.pdf
Form_All modules.docx

[2019-09-30 08:23] helendallas commented on #28
@toniolsen  found them

[2019-09-30 10:48] helendallas commented on #26
@toniolsen @jeremyshelton
I have update file.  lines 3 to 70.

[Forms Dropdown options_Final 2019 09 30.xlsx](https://github.com/helendallas/FRC_FBIS/files/3670491/Forms.Dropdown.options_Final.2019.09.30.xlsx)

Made all words Proper, and sorted alphabetically.
Please add Kick **Net** not just Kick

@philipfrenzel I have deleted sampling from
Soft Bottom
Vegetation

Please explain what : In situ sa

[2019-09-30 11:10] toniolsen opened #33 "Activating New Users"
This is the process to activate a new user:
First you will receive an email like this. Follow the link at the bottom.
![Screenshot 2019-09-30 at 12 01 04](https://user-images.githubusercontent.com/43198125/65873355-cc9f0680-e37a-11e9-8910-088df4941301.png)

Check that the username is appropriate (E.g. Toni_Olsen), change if not:
![Screenshot 2019-09-30 at 12 01 23](https://user-images.githubuserco

[2019-09-30 16:59] toniolsen commented on #26
Thanks @helendallas

I have made the changes to the existing fish and invertebrate species spreadsheets in both "Data to combine" folders on Dropbox.
@Janette-Lumley @Aneri16 if you capture anymore fish or invertebrate species data, please use one of the datasheets in the data to combine folder as a template so it retains the dropdown options. Thanks!

Once all these sheets have been combined for

[2019-10-01 06:42] aneriswanepoel commented on #32
@helendallas what must I compare the SASS data against? Do you have the SASS sheets?

[2019-10-01 07:42] helendallas commented on #26
thanks @toniolsen

Agreed re final check of combined invertebrate taxon datafile.

[2019-10-01 13:08] toniolsen commented on #19
@Janette-Lumley
Here are the biotope ratings for Chantel's data:
[Sass_biotopes.xlsx](https://github.com/helendallas/FRC_FBIS/files/3676309/Sass_biotopes.xlsx)

@helendallas

[2019-10-01 13:36] helendallas opened #34 "SASS Data - Dallas Palmiet and Molenaars River"
Check SASS data for Dallas 1997 (Dallas 1995)
Four sites on the Palmiet River
Two sites on the Molenaars River

Correct sampling Dates
Add biotope ratings (see on datasheets) HD has added
Check taxa
Change Reference Source to:
Peer-reviewed Scientific Article
DOI: 10.1080/10183469.1997.9631389

Add in Notes;
Dallas, H.F. 1995. An evaluation of SASS (South African Scoring System) as a tool for the

[2019-10-01 14:19] helendallas opened #35 "SASS Data - Bonado & Dallas 2006"
Please add SASS data for these sites. Site information, SASS data and abiotic data given in excel sheet.  Some sites are new, so create Site first, other just need a new date added. (if data already exist then please just check for accuracy)

Make all abundance = A and make a note in the notes column.
All sites sampled in October 2001

[Bonada et al 2006_JNABS25(2).pdf](https://github.com/helendal

[2019-10-01 14:47] helendallas opened #36 "Invertebrate Taxon Data - Bruce Eady Msc 2011"
Figure 3.1: Study area, showing the paired sample sites from each river system.

No Site descriptions, but please see if you can find some details in the thesis or papers. Or email Nick to ask (He was Bruce's supervisor).

[B Eady 2011 Study Site information.xlsx](https://github.com/helendallas/FRC_FBIS/files/3676931/B.Eady.2011.Study.Site.information.xlsx)

Data in thesis (and papers)
[Eady B.R.

[2019-10-01 15:09] helendallas opened #37 "Invertebrate Taxon Data - A Fyfe MSc"
Please extract data from MSc thesis, if we receive it - see below.

Site , River and Site description

Table 2.1: Site characteristics, including GPS co-ordinates, presence/lack of temperature gauges and seasonal sampling. Pg 37

Primary sampling took place between November 2009 and December 2010. Reference sites
(PR, K-3a and OR) were sampled once in every season, on the 4th_5th November 2009
(Sp

[2019-10-01 15:31] helendallas opened #38 "SASS Data - Le Roux 2013 Holsloot River"
Extract SASS data from MSc thesis:

Site details on Page 39
Table 3: General information per sampling site

Sample dates: pg 42
see appendix

Appendix 3 SASS5-Data recorded in the 2011-2012 for all Sampling Sites - standard
data sheets (Dallas 2005).

Thesis is very large - please get from JRS hard drive.

[2019-10-01 15:33] helendallas opened #39 "Invertebrate Taxon Data - Steven Lowe"
Various invertebrate data from Steven.

Helen emailed him on the 1 October 2019. Awaiting response.

[Lowe S.R., Woodford D.J., Impson N.D. & Day J.A. 2008.pdf](https://github.com/helendallas/FRC_FBIS/files/3677177/Lowe.S.R.Woodford.D.J.Impson.N.D.Day.J.A.2008.pdf)

[2019-10-01 15:47] helendallas opened #40 "Invertebrate Taxon data - Vere Ross-Gillespie"
Please extract data for three species in six study rivers in PhD thesis and add to ad hoc sheet.

Lestagella penicillata (Ephemeroptera), Aphanicercella spp. (Plecoptera) and Chimarra ambulans
(Trichoptera),

Sites: pg 24

Tables 2.1, 2.2 and 2.3.Physical and geographical information (2.1), geomorphological characteristics (2.2) and channel morphology characteristics (2.3) pertaining to the six st

[2019-10-02 05:00] jeremyshelton opened #41 "Validating new data that users upload"
@helendallas
So for now the plan is for Helen to validate all new invert and SASS data, and for Jeremy to validate all new fish data - sound good?

@toniolsen just a reminder to set up email notifications so that Helen and I receive these alerts if you haven't done so already :)

Thanks

[2019-10-03 10:19] helendallas opened #42 "Algal Data - Petersen thesis"
@philipfrenzel
Please extract data from Chantel Petesens thesis - see

Appendix 4.3 Algal taxa sampled March 204-March 2016.
K1 – K4 = Sites. The relative abundance of each algal taxa was grouped into: 1 = ≤ 50 (rare) 2 = 51- 250 (scarce), 3 = 251-1000 (common), 4 = 1001-5000 (abundant), 5 = 5001-25 000 (predominant) cells/ 5cm2. S = Summer, W = Winter, A = Autumn, Sp = Spring

Also Benthic
Chl-a

[2019-10-03 11:27] #12 closed, assigned to aneriswanepoel

[2019-10-03 11:27] #22 closed, assigned to aneriswanepoel

[2019-10-03 11:42] helendallas commented on #16
@Janette-Lumley
Please correct Taxon name, if Genus and species is recorded then Taxon becomes Genus species; if Genus only, then Taxon become Genus, if Family, then family etc.

New file is:  Ketley, Z.A. 2009 New 2019_10_03.xlsx

[2019-10-03 12:35] aneriswanepoel commented on #23
@Janette-Lumley @helendallas
Of the papers Savel sent me, only one has co-ordinates. I have tried to find the co-ordinates for the other papers but this doesn't look promising or likely to come to anything so I am going to go ahead with data extraction of what we do have. I have found one more paper on the knowledge database (Daniels et al 2006) that has co-ordinates so will extract that data too.

[2019-10-03 13:43] helendallas opened #43 "Invertebrate Taxon Data - Dallas, H.F. & Rivers-Moore, N.A., 2015 New 2019_10_03"
@Janette-Lumley

Please can you check the

Broad biotope | Specific Biotope | Substratum for each. Possibly email Nick for confirmation if you cannot find it from the Report.

Please add Document Upload Link

New File is:
Dallas, H.F. & Rivers-Moore, N.A., 2015 New 2019_10_03

[2019-10-03 13:50] helendallas opened #44 "Invertebrate Taxon Data - Bellingan, T.A. PhD"
@Aneri16

Please can you go through the two studies of Terence and check all broad and specific biotopes and substratum.

File: Bellingan, T.A. 2010 & 2017 New 2019_10_03

[2019-10-03 14:35] helendallas opened #45 "Invertebrate Taxon Data - Ractliffe 2009"
@Janette-Lumley
Please check the latitude and longitude - commas instead of .

New file:

Ractliffe G., 2009a New 2019_10_03.xlsx

[2019-10-03 14:43] helendallas opened #46 "Invertebrate Taxon Data - Ractliffe G., Ollis D., 2009 New 2019_10_03"
@Janette-Lumley

Please check the Percentage Abundance value - they look really strange.  Please chat to me.

[2019-10-04 06:52] helendallas opened #47 "Algal Data - Ractliffe Various studies"
@philipfrenzel

Please scour the JRS hard drive and report of Geordie Ractliffe and extract periphyton data.

[2019-10-04 07:28] helendallas opened #48 "Invertebrate Taxon Data - Bellingham MSc Adult Light Trap"
@Aneri16

Please can you extract the data for the - Sampling method is Light Trap, Biotopes remain blank as N/A.

Species list Adults - Tsitsikamma rivers.xls

[2019-10-04 07:47] helendallas opened #49 "SASS Data - Bellingham MSc"
@Janette-Lumley

Please capture the SASS data of Terence Bellingham.  He is not yet registered on FBIS, so we may need to create a user name for him. I am awaiting confirmation from Tim re the correct procedure.

The data are also only for the site so I have emailed Terence to ask if he has the SASS data per biotope, and also the biotope ratings.

[SASS Totals-Tsitsikama Macroinvrtebrates-Oct-2008

[2019-10-04 08:06] helendallas commented on #23
Papers we have in the Knowledge database include:
@Aneri16 please check to see if any of these are useful and add to the adhoc file

Daniels   S.R. | 2003 | Examining the   Genetic Structure among Populations of the Common Cape River Crab Potamonautes Perlatus from   River Systems in South Africa Reveals Hydrographic Boundaries . | Journal of   Crusacean Biology 23(4): 936-950.

Daniels S.R., Gouw

[2019-10-04 08:26] helendallas commented on #18
@Janette-Lumley
Please check the Taxon column and correct to include Genus and species, family or order etc.
Taxon can never be blank

New file:
FBIS Adhoc Data New 2019_10_03

[2019-10-04 08:27] helendallas commented on #13
@Janette-Lumley

Please add DOI to ad hoc spreadsheet

[2019-10-04 09:15] helendallas opened #50 "Invertebrate Taxon Data - Snaddon 1998 MSc"
@Janette-Lumley

Please check the Taxon column. Your have order and Family combined. It should be the highest taxonomic level.

e.g.
Plecoptera Notonemouridae
Should be **Notonemouridae**

[2019-10-04 11:27] helendallas opened #51 "Invertebrate Taxon Data - Snaddon BRBM 2009"
@Janette-Lumley @Aneri16

I think you both had a hand in consolidating this data.

I have found a few issues with the Number of replicates and biotopes. I have created a new file which I have allocated Broad, Specific and Substratum for each Site_Sampling Date.  Please check and overwrite existing data with this.

Also there should really be any replicates as far as I can tell.

Snaddon 2009 BRMP

[2019-10-04 13:22] philipfrenzel commented on #28
Hi @toniolsen @jeremyshelton @helendallas

Apologies for only getting to these tickets now. Been away for at the SER conference and then fieldwork. I will work through these comments systematically now - sorry if the comments come in a little bit late.

Re the Biomass (algae only section):
- Point 1+2: agreed @jeremyshelton
- Point 3: There may be value in making the AI ratio automated, however, I

[2019-10-04 13:48] philipfrenzel commented on #26
Thanks @helendallas

Justine had suggested calling the BenthoTorch sampling as 'In situ sampling' because the heading name was sample location. But BenthoTorch sampling is only used for Chl A biomass measurements (and not AFDM). I've updated the Excel to read 'In situ sampling (BenthoTorch)'. @jeremyshelton did you manage to check whether the link is still valid to the ticket? Or whether we need t

[2019-10-04 13:48] jeremyshelton commented on #28
OK thanks @philipfrenzel
So you reckon no auto populate for AI, rather manual entry - that correct?

[2019-10-04 14:03] philipfrenzel commented on #28
I think a manual entry would be best, yes @jeremyshelton

[2019-10-04 14:07] jeremyshelton commented on #28
Cool.

[2019-10-04 14:17] helendallas opened #52 "SASS Data - TMGA"
@Janette-Lumley

Please can you capture the SASS data in the spreadsheets:

SASS Data TMGA_EPM1.xlsx
SASS data TMGA_EPM2.xlsb

https://www.dropbox.com/sh/ye07anvookzp46p/AAAiwMyK3o4tiwyDssQiRpPba?dl=0

The Site Codes, Site descriptions and georeferences should be the same as for the TMGA Invertebrate Taxon Data.

I have emailed Kate re Biotope ratings and to find out who did each SASS assessment.

[2019-10-04 14:20] helendallas opened #53 "Invertebrate Taxon Data - TMGA"
@Janette-Lumley

Please check what happened to the missing Taxon (Genus and Species) data for all data.

New file:
Snaddon, K., Ractliffe, G. & Ewart-Smith, J., 2014 New 2019_10_03.xlsx

[2019-10-04 14:44] helendallas opened #54 "Invertebrate Taxon Data - Tharme 2010"
@Aneri16

Please can you put the electronic data in the FBIS data - Tharme 2010 folder on dropbox.

I need to go through and check spreadsheet with the original data thanks.

[2019-10-07 06:45] helendallas opened #55 "Invertebrate Taxon Template - Master"
@Aneri16 @Janette-Lumley

The final master template to use for all data capture is: Link below

https://www.dropbox.com/s/szmdjeuj4lrpudo/Invertebrate%20Taxon%20Template%202019_10_03.xlsx?dl=0

**Invertebrate Taxon Template 2019_10_03.xlsx**

[Invertebrate Taxon Template 2019_10_03.xlsx](https://github.com/helendallas/FRC_FBIS/files/3695810/Invertebrate.Taxon.Template.2019_10_03.xlsx)

[2019-10-07 06:51] aneriswanepoel commented on #32
Temporarily hit pause with this data capture while FBIS bugs are being sorted out

[2019-10-07 06:52] aneriswanepoel commented on #38
Temporarily hit pause with this data capture while FBIS bugs are being sorted out

[2019-10-07 07:40] helendallas commented on #49
@helendallas
Terence has sent the original SASS data sheets. They are in the dropbox:
https://www.dropbox.com/sh/m8heb55lbqr3j8r/AAAlHIGK0KkAy3paE2cxN6P7a?dl=0

To check if these data are already in Rivers DB. Email DWS.
October 2008 is missing

Please assign the SASS assessments to the following person based on the name on the SASS form:
The dates that are accredited are given

Title | First Name

[2019-10-07 08:11] #45 closed, assigned to Janette-Lumley

[2019-10-07 08:11] #46 closed, assigned to Janette-Lumley

[2019-10-07 08:13] #18 closed, assigned to Janette-Lumley

[2019-10-07 08:13] #17 closed, assigned to Janette-Lumley

[2019-10-07 08:13] #13 closed, assigned to Janette-Lumley

[2019-10-07 08:18] #20 closed, assigned to toniolsen

[2019-10-07 08:23] helendallas commented on #26
@jeremyshelton
Please confirm if this has been ticketed on the Kartoza Github, and that all is in order. SO that I can close this ticket.

@philipfrenzel
I have created a new data template for inverts with our standardised biotopes. I suggest you revise existing template to reflect the final list and not rely on doing it at the end.

[2019-10-07 08:25] helendallas commented on #31
@philipfrenzel

Template to use is on dropbox:
https://www.dropbox.com/s/szmdjeuj4lrpudo/Invertebrate%20Taxon%20Template%202019_10_03.xlsx?dl=0

[Invertebrate Taxon Template 2019_10_03.xlsx](https://github.com/helendallas/FRC_FBIS/files/3696189/Invertebrate.Taxon.Template.2019_10_03.xlsx)

Please discuss with Janette or Aneri if you are unclear.

[2019-10-07 09:17] helendallas opened #56 "SASS Data - Ollis 2005 MSc"
@Aneri16
Please extract SASS data from Dean Ollis's MSc.  Lourens, Palmiet and Hout Bay Rivers
Dean will be the SASS Data Owner

Most Sites should exist already in FBIS. See Chapter 2 tables and maps for study site details.
Sampling dates on page 66.

SASS Data:
Page 134.
APPENDIX 2.6: MACROINVERTEBRATE TAXA COLLECTED. Use the biotope code to assign taxa per biotope. Use abundance = A, since no ab

[2019-10-07 09:25] helendallas commented on #38
@Aneri16
I have created usernames:
Anso_LeRoux
Ntswaki_Ditlhale

Please see if this is now working.

[2019-10-07 10:52] helendallas opened #57 "Invertebrate Taxon data - Mirimin et al 2015"
@Aneri16
Please can you extract presence data for the shrimp and ad to the FBIS ad hoc file:

https://www.dropbox.com/s/heibw5d006uwbov/FBIS%20Adhoc%20Data%20New%202019_10_03.xlsx?dl=0

FBIS Adhoc Data New 2019_10_03.xlsx

Table1 gives sampling sites, you can include them all.

[2019-10-07 10:57] helendallas commented on #57
[Mirimin L., Kitchin N., Impson D.N., Clark P.F., Richard J., Daniels S.R. & Roodt-Wilding R. 2015.pdf](https://github.com/helendallas/FRC_FBIS/files/3696815/Mirimin.L.Kitchin.N.Impson.D.N.Clark.P.F.Richard.J.Daniels.S.R.Roodt-Wilding.R.2015.pdf)

[2019-10-07 11:04] helendallas opened #58 "SASS data - Mwangi 2014"
@Aneri16
Please can you extract the data. It is only at Site level. Please can you make a note to add abiotic data later when it is live of FBIS.

Use the abundances to assign a 1, A, B, C or D. Shout if unclear
Sites:

Table 3.1 Location and description of sites selected upper of the Kuils River

3.2.2 Data sampling
To evaluate and quantify changes in water quality a total of 65 samples of physic

[2019-10-07 11:24] helendallas opened #59 "Invertebrate Taxon Data - Samways et al 2011"
@Aneri16

Please extract data from published paper. I have emailed one of the authors who I know to ask if he perhaps has the data in electronic format.

[2019-10-07 11:44] helendallas opened #60 "Invertebrate Taxon Data - Scodanibbio 2002"
@Aneri16
Please extract data from this thesis. Sites will already have codes in the FBIS, please check and make them the same in the spreadsheet.

Scodanibbio   L. | 2002 | Is aquatic   invertebrate endemism in the Western Cape region of South Africa related to   the fynbos blackwaters? | Honours theis.   Botany Department. University of Cape Town, South Africa.
[Scodanibbio L. 2002.pdf](https://g

[2019-10-07 12:04] helendallas commented on #59
Linked to

Sharratt   N. | 2005 | Response of   aquatic macroinvertebrate and aerial odonate assemblages to the removal of   invasive alien trees in the Western Cape. | MSc thesis.   Conservation and Entomology Department. Stellenbosch University, South   Africa.

[2019-10-07 12:11] helendallas opened #61 "SASS Data - Simaika Tsitsikamma"
@Aneri16

I have emailed John for this data. Not data in paper.

Table 1
Details of sampling sites (Tsitsikamma region, Western and Eastern Cape Provinces, South Africa), including river name, sampling site abbreviation, site co-ordinate (WGS,
1984), transect length and elevation of site.

[2019-10-07 12:36] helendallas opened #62 "Invertebrate Taxon Data - Wishart 1998 MSc"
@Janette-Lumley

Please extract data from thesis.
 Issue: Data in thesis is pooled for three sites and all months.

Jenny Day re data - she has hard copy data which she will bring at the AGM

[2019-10-07 12:53] helendallas opened #63 "Invertebrate Taxon Data - Wishart 2002 PhD"
@Janette-Lumley

Please extract relevant data and ad to FBIS ad hoc datasheet.
He doesnt give exact site co-ordinates -I suggest getting co-ordniates from google, based on descriptions. Also some sites may already be in FBIS.

Elporia barnardi - Kasteelpoort, Skeleton Gorge, Platteklip, Nursery Ravine, Lang, Eerste
Aphanicerca capensis - Kasteelpoort, Skeleton Gorge, Platteklip, Nursery Ravine, La

[2019-10-08 12:36] helendallas opened #64 "SASS Data - Gouritz Intermediate Reserve Study"
Five Sites with study:
Department of Water and Sanitation (DWS), 2015. Reserve Determination Studies for the Selected Surface Water, Groundwater, Estuaries and Wetlands in the Gouritz Water Management Area: Rivers RDM Report – Intermediate Assessment. Prepared by Rivers for Africa eFlows Consulting (Pty) Ltd. for Scherman Colloty & Associates cc. Report no. RDM/WMA16/00/CON/1013.

![image](https:/

[2019-10-08 12:38] helendallas opened #65 "SASS Data - Gouritz Rapid Reserve Study"
Five Sites in study:
Department of Water and Sanitation (DWS), 2014. Reserve Determination Studies for Surface
Water, Groundwater, Estuaries and Wetlands in the Gouritz Water Management Area: Rivers RDM
Report – Rapid Assessment. Prepared by Rivers for Africa eFlows Consulting (Pty) Ltd. for
Scherman Colloty & Associates cc. Report no. RDM/WMA16/01/CON/1113.

![image](https://user-images.githubuse

[2019-10-08 12:41] helendallas commented on #64
https://www.dropbox.com/s/atpqxxh0zo8fjkh/Gouritz%20Intermediate%20Reserve.xlsx?dl=0

[2019-10-08 12:49] helendallas opened #66 "SASS Data - KNYSNA AND SWARTVLEI"
Study Reference:
Department of Water Affairs (DWA), 2009. Resource Directed Measures: Reserve Determination studies for selected surface water, groundwater, estuaries and wetlands in the Outeniqua catchment: Ecological Water Requirements Study. Riverine RDM Report, Volume 2: Appendices. Edited by Louw, MD and Koekemoer, S for Scherman Colloty & Associates. Report no. RDM/K50/00/CON/0607, Volume 2.

[2019-10-10 10:49] helendallas commented on #55
@philipfrenzel
Please revise the algal template so that it aligns with the invertebrate taxon template, specifically:

- Sampling Effort (new column)
- Abundance Measure (New Name with new dropdown)
- Abundance Value (instead of having separate columns for number/count and percentage abundance and density) , I have created Abundance Measure and Abundance Value
- Broad Biotope - check your biotopes

[2019-10-11 06:59] Janette-Lumley commented on #53
@helendallas I have sent Kate an email with regards to missing site description, I will fill it in as soon as I received it. All other data has been fixed.

[2019-10-11 10:53] aneriswanepoel commented on #23
@helendallas
I have extracted the Daniels et al 2006 paper. The rest do not have co-ordinates.

[2019-10-15 12:35] Janette-Lumley commented on #19
@helendallas I have re-entered all the SASS data according to the new spreadsheet you sent. I have also filled in the biotope ratings.

[2019-10-16 08:38] philipfrenzel commented on #26
Good idea. I'll adapt accordingly @helendallas

[2019-10-16 08:40] philipfrenzel commented on #55
Best to standardise, agreed. I will do so. This will take some time for the algae data - especially given that I have captured the algae data based on the original specific biotope dropdown options. I will trawl through the raw data sheets again so that I can differentiate between the specific biotopes based on this new classification.

@helendallas

[2019-10-17 11:28] aneriswanepoel commented on #60
@helendallas
Data extraction is complete but cannot find site codes on FBIS.

[2019-10-21 11:19] aneriswanepoel commented on #32
@helendallas
SASS data capture is complete but biotope ratings not filled in

[2019-10-21 12:02] aneriswanepoel commented on #34
@helendallas
H1MOLE-DETOI not on FBIS - must be added

[2019-10-21 16:03] jeremyshelton opened #67 "Algae data: adapting the algae template to match the new biotope classification"
@philipfrenzel please adapt the algae template to match the new biotope classification that Helen suggested. This will involve trawling through the raw data to retrieve the specific biotope data.

[2019-10-21 16:32] jeremyshelton opened #68 "SA Fish Data: Check species mater list (by end October)"
@Aneri16 @mokajee
We need to scrutinise the fish species master list and clean it up before we sent SA fish data to Kartoza at end of October.

There may be some name change issues, so we need to ask Kartoza how we deal with previously different names for the species of interest. i.e. can we link current name to older names for which we had data?

[2019-10-21 16:38] jeremyshelton opened #69 "CFR Fish Data: Sampling methods dropdown needs ‘multiple’ to be added"
@Aneri16
Sampling method column in CFE Fish Data (CFR Fish Data_excl_SAIAB.xlsx): ‘multiple’ needs to be added to sampling methods dropdown, and we need to go back to papers with ‘unspecified’ and see if any should in fact be ‘multiple’. This is a 'Toni-linked issue'.

[2019-10-21 16:45] jeremyshelton opened #70 "CFR Fish Data: Substratum column needs 'mixed' category added"
@Aneri16
Substratum column in CFE Fish Data (CFR Fish Data_excl_SAIAB.xlsx): ‘mixed’ needs to be added to Substratum dropdown, and we need to go back and check for papers with ‘mixed’ and see if any adjustments are needed. This is a 'Toni-linked issue'.

[2019-10-21 16:49] jeremyshelton opened #71 "CFR Fish Data: Hydraulic biotope column needs 'mixed' and 'unspecified' added"
@Aneri16 Hydraulic biotope column in CFR Fish Data (CFR Fish Data_excl_SAIAB.xlsx): ‘mixed’ and 'unspecified' need to be added to the dropdown, and we need to go back to check for papers  with ‘mixed’ or 'unspecified' and see if any adjustments to the dataset are needed. This is a 'Toni-linked issue'.

[2019-10-21 16:52] jeremyshelton opened #72 "SA Fish Data: Need to add ‘document upload links’ to spreadsheet after uploading PDFs to FBIS"
@mokajee Need to add ‘document upload links’ to spreadsheet after uploading PDFs to FBIS for SA fish data.

[2019-10-21 17:05] jeremyshelton opened #73 "CFR Fish Data: Clean up notes column"
@Aneri16 you noticed some site description and note column repetition - please clean up where possible.

[2019-10-21 17:07] jeremyshelton opened #74 "SA Fish Data: clean up original site code column"
@mokajee You identified that you need to clean up your original site code column, by using EG 'Eerste' instead of 'Eerste 1'.

[2019-10-21 17:12] jeremyshelton opened #75 "SA Fish Data: Non-Native species (aim for 15 Jan 2020)"
@mokajee lets aim for mid Jan 2020 for getting the Non-native fish species data added to the SA Fish spreadsheet.

@Aneri16 will be able to help with the data extraction when needed 👍

[2019-10-21 17:15] jeremyshelton opened #76 "SA Fish data: date format consistency"
@Aneri16 @mokajee on second thought lets convert all date formats in the SA fish data to the same as that used in the CFR Fish data 👍

[2019-10-21 17:18] jeremyshelton opened #77 "SA Fish Data: Tracking down the experts (aim for end Jan 2020)"
@mokajee lets see how much expert data we can track down by end Jan 2020. Olaf was happy with our expert list, so I reckon we can start firing off those emails 👍

[2019-10-22 06:57] Aneri16 commented on #76
@jeremyshelton @mokajee
I can do this today. Correct format then being YEAR-MONTH-DAY

[2019-10-22 06:59] aneriswanepoel commented on #76
@jeremyshelton @mokajee
OK, I can correct the SA fish data that Toni and I worked on and then Mo can just correct the data he is currently working on

[2019-10-22 07:30] jeremyshelton commented on #76
@Aneri16 sounds good 👍
@mokajee

[2019-10-23 14:31] jeremyshelton opened #78 "PDF Upload issues?"
@helendallas we need to make sure that we only upload PDFs not accessible online. This has not been the case thus far, as some of the these we have uploaded are available online! We also need to watch out for copyright infringements. We also need to revisit linking data to thees and the papers that stem from them....let's chat when you're back 👍

[2019-10-31 10:32] mokajee commented on #72
Done

[2019-10-31 10:32] #72 closed, assigned to mokajee

[2019-10-31 10:33] mokajee commented on #74
Done

[2019-10-31 10:33] #74 closed, assigned to mokajee

[2019-10-31 10:34] #76 closed, assigned to aneriswanepoel, mokajee

[2019-10-31 10:35] mokajee commented on #77
Awesome. I will start sending out emails from tomorrow.

[2019-10-31 11:19] helendallas commented on #34
@Aneri16
I have added the site so now you cna add the SASS data

[2019-10-31 11:24] #32 closed, assigned to aneriswanepoel

[2019-10-31 12:36] helendallas commented on #60
@Aneri16
Helen has provided Aneri with FBIS SIte codes for capturing into the ad hoc spreadshet. Please note some river names need to be changed.

[2019-10-31 13:01] aneriswanepoel commented on #34
@helendallas
Thanks, I have just completed this SASS data capture now

[2019-10-31 13:14] aneriswanepoel commented on #60
@helendallas
FBIS site codes have been captured and river names edited

[2019-11-03 06:48] jeremyshelton commented on #77
@mokajee Great!

[2019-11-04 10:09] jeremyshelton opened #79 "Toni still owner of fish records"
I see that Toni is still listed as the owner of the fish data…..this is incorrect. Not sure why it is still like this as I had assumed it was corrected ages ago.

@Aneri16 lets double-check that the record owner-column is correct in our new spreadsheet. The owner is always the person who collected the data....

<img width="826" alt="Screenshot 2019-11-04 at 12 07 02" src="https://user-images.githu

[2019-11-04 12:03] aneriswanepoel commented on #79
@jeremyshelton
There is no "owner" column in the spreadsheet, only "collector/assessor" so my guess is that the person who adds the data to FBIS might be assigned the "owner"?

[2019-11-05 08:24] helendallas commented on #79
@jeremyshelton @Aneri16
The collector/assessor probably needs to be renamed collector/owner, and it needs to be imported with the author details as per the spreadsheet. Jeremy, please make a note to check with Dimas why the collector/owner is Toni when the data are exported into csv.

[2019-11-05 14:12] helendallas opened #80 "Biobase - correcting georeferences"
Once Biobase Data is on the live site, the georeferences need to be corrected based on work already done by @Janette-Lumley

@helendallas  needs to check how best to do this with Kartoza team

[2019-11-05 14:32] helendallas opened #81 "PES, EI and ES spatial layer"
@jeremyshelton to follow up with CSIR and Nancy Job about the latest PES, EI and ES layer. It was provided for the NBA 2018, so should be available from SANBI to include in the FBIS V3.

[2019-11-05 14:33] helendallas opened #82 "River Management Unit"
@jeremyshelton to follow up with Nancy Job, SANBI, about the progress with the RMU layer.

Needs to be included for FBIS V3.

[2019-11-05 14:38] helendallas opened #83 "Land cover"
@jeremyshelton

I recommend we include a land use layer in FIS V3. Can you please discuss with admire as to the most appropriate one to serve up.

[2019-11-06 09:11] aneriswanepoel commented on #73
@jeremyshelton
I have completed the clean up of notes and descriptions

[2019-11-06 09:14] aneriswanepoel commented on #69
@jeremyshelton
I have added the "multiple" option and have gone through the relevant papers to edit accordingly. There are 2 papers that I still need to look at but am waiting for Bruce to get back to me with the names of these papers so that I can finish up.

[2019-11-06 09:16] aneriswanepoel commented on #70
@jeremyshelton
I am in the process of checking the relevant papers. Will let you know when it is done.

[2019-11-06 09:18] aneriswanepoel commented on #71
@jeremyshelton
Same as for #70 - will let you know once complete (both can be addressed at the same time so easy to do and won't take long)

[2019-11-06 09:21] aneriswanepoel commented on #79
@helendallas @jeremyshelton
Okay will change the column name in national and CFE fish spreadsheets, as well as the adhoc spreadsheet

[2019-11-08 07:10] helendallas opened #84 "Invertebrate Taxon data - Bellingham 2017"
@Aneri16
Please can you check you site descriptions for sites:

Rondegat | BT-CB

Also please dropbox me his thesis

[2019-11-08 08:49] aneriswanepoel commented on #84
@helendallas
I have added site descriptions for BT-CB - "below treatment area"
Thesis can be found on Dropbox:
FRC_FBIS Folder for FRC\Data for Consolidation\Invertebrate Data\CFR Invertebrate data Species\FBIS data - T.Bellingan

[2019-11-08 08:58] helendallas commented on #84
@Aneri16 thanks

[2019-11-08 09:42] helendallas commented on #80
@Janette-Lumley
Please can you direct me to the spreadsheet of corrected georeferences for the Biobase sites. The Kartoza team are going to correct them from the backend before migration into the live site. This will save us a lot of editing :)

[2019-11-08 10:06] Janette-Lumley commented on #80
@helendallas the spreadsheet is on dropbox under : FRC_FBIS Folder for FRC \Data for Consolidation \Invertebrate Data \ Biobase

[2019-11-08 10:19] helendallas commented on #48
@Aneri16
I have deleted biotopes and physico-chemistry for all light trap data as it is incorrect to include it. Light trapping is done adjacent to the river, so not physical sampling of the aquatic environment. Also some presence were blank, and some taxon rank were left out. I have corrected on the spreadsheet.

[2019-11-08 10:19] #48 closed, assigned to aneriswanepoel

[2019-11-08 11:14] helendallas commented on #38
Checked. Somethings strange is happening with Site Ownership. But I will need to check further.

[2019-11-08 11:14] #38 closed, assigned to aneriswanepoel

[2019-11-08 11:43] helendallas commented on #57
@Aneri16
Did you capture data from this? There is no record in the ad hoc sheet on dropbox

[2019-11-08 11:45] #34 closed, assigned to aneriswanepoel

[2019-11-08 11:49] aneriswanepoel commented on #57
@helendallas
Yes data was captured - I have highlighted in yellow for you. At bottom of sheet.

[2019-11-08 11:50] helendallas commented on #23
@Aneri16
Please can you email me all the papers he sent us.  I want to add them to the knowledge database, even thoughonly one has data that are included.

[2019-11-08 11:52] helendallas commented on #57
@Aneri16
Okay it was definately not there earlier, maybe it had not sinced or the reference was not it.

Thanks

[2019-11-08 12:09] #57 closed, assigned to aneriswanepoel

[2019-11-08 12:11] #60 closed, assigned to aneriswanepoel

[2019-11-08 12:12] #26 closed, assigned to nobody

[2019-11-08 12:14] #43 closed, assigned to Janette-Lumley

[2019-11-08 12:17] helendallas opened #85 "Invertebrate Taxon Data - Consolidate into Master File"
Consolidate all invertebrate taxon data into Master File, then check for consistency, errors and missing fields.

[2019-11-08 12:59] Janette-Lumley commented on #53
@helendallas I have added the Genus and species data and taken out the subfamily data. I have also added the site descriptions according to what Kate sent us.

There was some missing data (Specific Biotope and Substratum) so I have gone through the reports and filled in as much as I could find.

The new spreadsheet is on dropbox data to combine folder: Snaddon, K., Ractliffe, G. & Ewart-Smith, J.,

[2019-11-08 13:35] Janette-Lumley commented on #3
@helendallas The FCG SASS data was entered in according to the green highlighted data: Dropbox: Data for consolidation > Invertebrate Data > CFR Invertebrate data SASS > Data > SASS Data FCG and C Petersen_transformed to enter

[2019-11-08 14:26] helendallas commented on #53
@Janette-Lumley
thanks very much!

[2019-11-08 14:30] helendallas commented on #53
@helendallas
to check river names - -some are strange

[2019-11-08 16:06] helendallas commented on #15
@helendallas
check the following spreadsheets to see which Sites and Site Visits
[Dallas 1995 Biobase data.xlsx](https://github.com/helendallas/FRC_FBIS/files/3825320/Dallas.1995.Biobase.data.xlsx)
are in FBIS V2
[Dallas SASS Sites extracted from FBIS V2.xlsx](https://github.com/helendallas/FRC_FBIS/files/3825321/Dallas.SASS.Sites.extracted.from.FBIS.V2.xlsx)

[2019-11-12 12:24] Janette-Lumley commented on #40
@helendallas please email Vere for the water chemistry data, I only have the graphs. Thanks.

[2019-11-14 06:01] Janette-Lumley commented on #3
@helendallas I just need to change the Reference source, it says Rivers Database. Could you please let me know what the correct Report is to upload and enter.

[2019-11-14 11:48] helendallas opened #86 "Biobase - check reference category"
Once Biobase data is migrated into FBIS Live - we need to check the reference categories for all studies.

E.g. Kemp is a Published Report not Peer-reviewed scientific article
@helendallas to assign task to someone

![Screenshot_2019-11-14 FBIS Map(2)](https://user-images.githubusercontent.com/45286876/68854753-65000900-06e5-11ea-89a1-37ad00df59da.png)

[2019-11-15 06:08] jeremyshelton commented on #81
@helendallas On it. Email sent. Lets see what they come up with...

[2019-11-15 06:11] jeremyshelton commented on #82
@helendallas follow-up email sent 👍

[2019-11-15 06:20] jeremyshelton commented on #83
@helendallas ticket #1788 assigned to Admire

[2019-11-15 06:22] jeremyshelton commented on #73
@Aneri16 Thanks, looks good to me 👍

[2019-11-15 06:25] jeremyshelton commented on #69
@Aneri16 thanks. Is this all sorted now or are you still looking through those papers of Bruce's?

[2019-11-15 06:27] jeremyshelton commented on #70
@Aneri16 are you still working on this, or is it now done?

[2019-11-15 06:27] jeremyshelton commented on #71
@Aneri16 just following up to check on the status of this task?

[2019-11-15 06:28] aneriswanepoel commented on #70
@jeremyshelton I am done with this.

[2019-11-15 06:28] aneriswanepoel commented on #69
@jeremyshelton no everything is now done

[2019-11-15 06:29] aneriswanepoel commented on #71
@jeremyshelton this is also complete.

[2019-11-15 06:29] jeremyshelton commented on #79
@Aneri16 has this column now been updated?
@helendallas I have made a note to raise this with Dimas at our next catchup on Tuesday.

[2019-11-15 06:31] aneriswanepoel commented on #79
@jeremyshelton yes I've renamed the column to "collector/owner"

[2019-11-15 08:35] Janette-Lumley commented on #3
@helendallas I found the report on the JRS external hard drive, so I have uploaded it and corrected the reference from Rivers database to the published report.

[2019-11-15 10:14] jeremyshelton opened #87 "CPUE in data upload forms?"
@helendallas I have lost track with what we decided in terms of entering (or background calculating) CPUE in the fish and invert upload forms.

Here is Toni's mock-up on which the forms were built:
[Form_All.modules.pdf](https://github.com/helendallas/FRC_FBIS/files/3850962/Form_All.modules.pdf)

@Aneri16 please add Toni's input?

[2019-11-15 10:16] aneriswanepoel commented on #87
@helendallas @jeremyshelton
From Toni:
The idea with the CPUE is that it should be auto calculated (catch/effort). There should be a function in the background developed to draw CPUE graphs by doing that calculation.

[2019-11-15 10:37] jeremyshelton commented on #78
@Aneri16 please feed back on thesis copyrite protocols once you have contacted universities?

[2019-11-15 11:15] jeremyshelton commented on #79
@Aneri16 👍

[2019-11-15 11:19] aneriswanepoel commented on #78
@jeremyshelton @helendallas
I phoned the Stellenbosch University Copyright Administrator re serving up theses on FBIS. We must submit a request to gain permission to serve these papers, and she said this is quite unlikely to happen. I can imagine this is the case for all universities and the papers for which they own the copyright.

[2019-11-18 12:02] aneriswanepoel commented on #35
@helendallas
FBIS is not recognizing the DOI when I try to add it on the Source Reference page so I am unable to proceed with uploading SASS data... For now I am going to make the reference Unpublished Data and will correct it once we have sorted out the DOI issue

[2019-11-19 05:52] helendallas commented on #78
@jeremyshelton @Aneri16
Okay, we need to systematically work through:
1 - all documents on the live site
2 - all invertebrate data spreadsheets. I have already started consolidating, so wait on this for now. To discuss today.

[2019-11-19 10:39] helendallas opened #88 "Revised Master Taxon Template"
@Aneri16 @melandrirafferty @philipfrenzel @Janette-Lumley @jeremyshelton

Revised template for algae, invertebrates and fish, to include extra details required by Dimas for importing data into FBIS.

Columns highlights include

Author(s) | Year | Source | Title | Description
and
URL

[Invertebrate Taxon Template 2019_10_03.xlsx](https://github.com/helendallas/FRC_FBIS/files/3863287/Invertebrate.Ta

[2019-11-19 12:30] jeremyshelton opened #89 "Do taxa in our fish master list match those in GBIF?"
@mokajee

Following our zoom with Kartoza today, I just wanted to touch base on the SA taxon master list and make sure that the taxa we list for SA correspond to those listed in GBIF (and that the actual taxon names correspond)? Or is this something we need to interrogate?

@Aneri16

[2019-11-20 03:17] jeremyshelton opened #90 "Check PDF uploads in live site"
@Aneri16 could you or @melandrirafferty please check all documents in FBIS live site to make sure they fit our new criteria for PDF uploads: documents that do not exist online, for example consulting reports, some other unpublished reports that never made it online (and are often very old). @helendallas anything to add here?

[2019-11-20 03:21] jeremyshelton commented on #89
@mokajee
Please add the 'recipe' and 'ingredients' we used to generate our SA fish taxon master list to this ticket as discussed, and once you hear back from @toniolsen

[2019-11-20 03:25] jeremyshelton opened #91 "Should CPUE feature in the upload forms for fish and invert data?"
@Aneri16 @toniolsen @helendallas
I am a little unclear on what we decided with CPUE in the forms for fish and invert data? At present it does not feature, but I seem to recall this was something that Kartoza would calculate in background (e.g. abundance divided by effort) and then this would be displayed somewhere? (not sure where?)

Or maybe I have this wrong and we chose to not report on CPUE?

[2019-11-20 05:38] aneriswanepoel commented on #90
@jeremyshelton yes can do today

[2019-11-20 05:57] jeremyshelton commented on #90
Great, thanks 👍

[2019-11-20 09:23] helendallas commented on #3
Thanks @Janette-Lumley
Please just confirm with Justine that she is happy for the report to be visible on FBIS. If not we can change to unpublished data

[2019-11-20 12:57] aneriswanepoel commented on #56
Assigned to @Janette-Lumley

[2019-11-21 11:33] aneriswanepoel commented on #90
@jeremyshelton I have just finished going through the FBIS live site and I have deleted all the documents that should not be there. So only reports are on the site

[2019-11-22 03:47] jeremyshelton commented on #90
@Aneri16 that's fantastic. Good work. Will check through this asap 👍

[2019-11-22 03:50] jeremyshelton opened #92 "Recipe for PDF uploads"
@Aneri16 could you please make a ticket explaining the recipe for what we do and what we don't upload via the FBIS PDF uploader. Then for those that we do upload, a brief indication of where url, doi, database description etc are appropriate. thanks

[2019-11-22 03:54] jeremyshelton opened #93 "National fish data ready for Kartoza?"
@Aneri16
How is the progress coming along in terms of adjusting the National Fish spreadsheet as per Kartoza's requests? Let me know when ready & I will check and replace the one currently shared in dropbox 👍 Thanks

[2019-11-22 06:08] aneriswanepoel commented on #93
@jeremyshelton
Mel and I have both finished our sections and I am now just going through the sheet to make sure everything is correct etc

[2019-11-22 07:22] aneriswanepoel commented on #93
@jeremyshelton
Okay I have finished going through the data and I think it is ready for Kartoza. It is in the "Shared with Kartoza" folder: National fish data _ 22 Nov

[2019-11-22 07:23] Aneri16 commented on #92
@jeremyshelton
Will do so today

[2019-11-22 08:08] aneriswanepoel opened #94 "Protocol for uploading PDFs and other information sources to FBIS"
**The following PDFs can be uploaded to FBIS:**
- Reports
- Those documents which cannot be found online anymore

**The following PDFs cannot be uploaded to FBIS:**
- Theses
- Journal articles

For the excel spreadsheets for bulk ingestion:
**In terms of uploading thesis documents to FBIS:**
- Provide only a link (URL) to the university website where the PDF can be accessed
- Provide author(s), ye

[2019-11-22 08:15] aneriswanepoel commented on #92
@jeremyshelton
I have created the ticket (#94) and it is in the "information" column. Have a look and let me know if I need to add anything?

[2019-11-22 12:10] aneriswanepoel commented on #35
@helendallas
SASS data has been captured so moving to "Done" column but need to remember to come back and correct the DOI/reference once Kartoza has fixed it

[2019-11-23 12:13] mokajee commented on #89
Having checked with @toniolsen, this is what I know about the **development of the master list**:

- We are unsure where the original Excel spreadsheet (see attached) came from. I have a distant memory of being told that the list was given to us by SAIAB. [SA fish list_Master.xlsx](https://github.com/helendallas/FRC_FBIS/files/3882415/SA.fish.list_Master.xlsx)

- From the above spreadsheet, I then

[2019-11-23 12:23] mokajee commented on #89
@toniolsen Says that Kartoza pulled all South African fish data from GBIF (minus the marine species). But that this is worth double checking with Dimas.

- My suggestion is to first check with Dimas to see if they used our list for the species search, or pulled the fish species independently (I highly doubt this).

- If they used our list to determine what species they pulled onto FBIS, then we do

[2019-11-25 08:31] jeremyshelton commented on #93
@Aneri16 great. Have just checked through it. All looks good 👍 Will share with Dimas now...

[2019-11-25 08:59] jeremyshelton commented on #89
@mokajee
Ok thanks for this. I will double check with Dimas. Probably best to just call up (from GBIF) all the taxa from our master list, but let me give this some thought.
Will chat to Dimas about this this week...

[2019-11-25 09:12] jeremyshelton commented on #94
@Aneri16
Thank you very much. That's spot on. So glad we resolved this 👍

[2019-11-25 09:53] jeremyshelton opened #95 "FRC big picture ticket: Fish data for FBIS v3 (Feb 2020)"
@Aneri16 @mokajee
Hi guys,
Well done to us on reaching our November fish data milestone. Looking forward, there are four main tasks to be completed during the next phase before FBISv3 is released in Feb next year:

**1. SA non-native fish data**
Systematically search google for data on Non-native fish data in SA
**2. SA expert data**
Work through our list (https://www.dropbox.com/sh/o0ktzp3op25bzh

[2019-11-25 09:57] jeremyshelton commented on #95
Lets have a fish team meeting before the year end to work through these & plan the next pew months. @mokajee I know you are busy with your chapter and proposal. Perhaps the week of 9-13 December?

[2019-11-25 10:05] aneriswanepoel commented on #95
@jeremyshelton @mokajee
Meeting sounds good - I just won't be able to do the 13th. Any other day is fine though

[2019-11-25 10:12] mokajee commented on #95
Hi Both,

Yes, I agree a meeting is much needed. I've picked up several things that need to be discussed and dealt with. I should be done with the proposal this week (Thursday, I hope), so could potentially meet next week, if that works for you both. I can't commit to a specific day between the the 9-13th as I will be presenting my upgrade to the Department on one of those days.

If next  week doe

[2019-11-25 10:14] mokajee commented on #95
I've also been receiving feedback from the experts I have contacted thus far. Many have committed to getting us the data in the coming months, with some data already being sent to me.

[2019-11-25 10:41] jeremyshelton commented on #95
OK good. Thanks Mo. I am away next week, so lets aim for 9-13th. I can do any day except Frida, so lets set a date once you know when your proposal is going to be...

[2019-11-26 09:56] mokajee commented on #95
Just got feedback that my seminar wont be happening in December. So I am available on any day between 9-13 December.

[2019-11-27 04:21] jeremyshelton commented on #95
Cool. Sent out invite for 10 Dec @10h00

www.frcsa.org.za

On Tue, Nov 26, 2019 at 11:57 AM mokajee <notifications@github.com> wrote:

[2019-11-27 14:05] mokajee opened #96 "FBIS search glitches"
The map on the website does not remove invert records when I try to search for all fish in the country.

[2019-11-27 14:10] mokajee commented on #96
@jeremyshelton is it possible to batch download all the FBIS data at once? Or does this have to go through Kartoza?

It might be useful to have this as an option for the public?

[2019-11-28 04:10] jeremyshelton commented on #96
@mokajee in relation to 'The map on the website does not remove invert records when I try to search for all fish in the country' please provide a url for this query on FBIS, and/or a screenshot so ai can check it out 👍

[2019-11-28 04:14] jeremyshelton commented on #96
@mokajee 'is it possible to batch download all the FBIS data at once' yes it is: Simply make sure FBIS is selected in 'data sources'. Then hit search > all sites > detailed dashboard > download .csv

Have a go and I'll walk you through any stumbling blocks 👍

<img width="577" alt="Screenshot 2019-11-28 at 06 11 53" src="https://user-images.githubusercontent.com/44292029/69776758-274fb580-11a6-11ea

[2019-11-28 09:27] mokajee commented on #96
When I select the fish module, invert taxa still come up in the results:
![image](https://user-images.githubusercontent.com/55532969/69793911-fdac8380-11d1-11ea-907f-de8885ddbc0b.png)

[2019-11-28 10:48] mokajee commented on #96
http://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=[%22validated%22,%22non%20validated%22,%22sass%20accredited%22,%22non%20sass%20accredited%22]&sourceCollection=[%22fbis%22,%22gbif%22]&ecologicalCategory=

[2019-12-10 07:39] jeremyshelton opened #97 "We need to get the Rondegat fish data"
@mokajee please email Casey and cc Olaf and ask for the full Rondegat fish monitoring data set.
C.Broom@saiab.ac.za
o.weyl@saiab.ac.za

[2019-12-10 09:30] jeremyshelton opened #98 "Rivers Database fish data"
@Aneri16 we need to add the RD fish data from dropbox to our fish spreadsheet for Kartoza to upload for FBIS v3

[2019-12-10 09:37] jeremyshelton commented on #96
@mokajee this should be rectified once v2.6 is deployed. Please make a note to test this again once v2.6 is live...

[2019-12-10 10:34] jeremyshelton opened #99 "SANParks fish data"
@mokajee please add Nicola Van Wilgen to the list for SANParks fish data.
nicola.vanwilgen@sanparks.org

[2019-12-10 11:16] jeremyshelton opened #100 "Fish data plan for FBIS v3 - Big picture ticket"
**_Key tasks and timelines for Dec 2019 - March 2020_**

**Non-native fish data sources**
- @mokajee to identify papers with NN fish data
- Need to come up with a rule to avoid papers without geo-ref fish data
- Alternatively, we may need to just take teh first 500 papers

**Non-native fish data extraction**
- @mokajee and @Aneri16 to divide and conquer. @jeremyshelton and @Janette-Lumley on stand

[2019-12-11 08:01] helendallas commented on #80
Ticket created for Dimas to correct georeference in the backend of the FBIS Live site. Ticket closed

[2019-12-11 08:01] #80 closed, assigned to Janette-Lumley

[2020-01-21 09:19] helendallas commented on #35
@Aneri16
Please check if this has been resolved or not. If not please alert me so I can escalate the ticket for Dimas to fix.

[2020-01-21 09:20] helendallas commented on #3
@Janette-Lumley

Have you checked with Justine about adding this report? Please follow up and revert

[2020-01-21 09:36] helendallas commented on #58
@Aneri16
Please add Original Site Code as per the thesis, so K1, K2, K3, K4 and K5.
Also add physico-chemical data from Appendices 1 Physical and chemical parameters recorded weekly at different sites .

[2020-01-21 09:38] helendallas commented on #51
@Janette-Lumley

Please can you indicate the status of this within this ticket, thanks

[2020-01-21 09:52] helendallas commented on #19
@Janette-Lumley

Please add Original Site Code for all sites, and Original River Name.
Please add physio-chemical data
[WQ_Wilderness_data.xlsx](https://github.com/helendallas/FRC_FBIS/files/4090320/WQ_Wilderness_data.xlsx)

Check with me if unsure of wq names

[2020-01-21 10:08] helendallas commented on #19
![image](https://user-images.githubusercontent.com/45286876/72795115-c1cbf280-3c45-11ea-852d-6b74860a722a.png)

@Janette-Lumley
Alos need to revise the site location so that it lies on the river. This is not easy to do at the moment, I have created a ticket for Kartoza (Rivers visible on Update a location site #1866)

Always check georeference against map in paper/thesis and shift onto river if sl

[2020-01-21 10:11] helendallas commented on #23
@Aneri16 Please can you add all these references to our master list, indicating that they have no oc-ordinates, hence data cannot be captured.

https://www.dropbox.com/s/62cyyzuuqdeiram/Invertebrates%20CFR%20Master%20List%20Study%20References.xlsx?dl=0

[2020-01-21 10:13] helendallas commented on #44
@Aneri16
Are you happy that this is completed? Did you have any queries?

[2020-01-21 10:21] helendallas commented on #40
@Janette-Lumley Email sent 202_01_21

[2020-01-21 10:22] helendallas commented on #36
@Janette-Lumley  How is this going?

[2020-01-21 10:23] helendallas commented on #63
@Janette-Lumley How is this going?

[2020-01-21 10:34] helendallas commented on #85
@Janette-Lumley
How is the checking on GBIF going for this master list?

[2020-01-21 11:41] Janette-Lumley commented on #3
@helendallas
Yes I called Justine and she said it shouldn't be a problem.

[2020-01-21 13:25] Janette-Lumley commented on #51
@helendallas
The broad, specific and substratum biotopes have been changed according to what you added in the datasheet. Please check the number of replicates with me to let me know if they are correct or not. Thanks.

[2020-01-21 13:36] Janette-Lumley commented on #36
@helendallas

I emailed Nick for site descriptions, but there wasn't much I could find from what he sent me. I added what I could find. Let me know when you have some time to have a look. Thanks

[2020-01-24 09:34] Janette-Lumley commented on #63
@helendallas The data has been entered into excel but there are no co-ordinates because the site descriptions and maps are not clear.

[2020-01-24 09:38] Janette-Lumley commented on #85
@helendallas I am on just over 1000 entries.

[2020-01-24 13:20] Janette-Lumley commented on #19
@helendallas I have added original site codes and site names as well as updated the co-ordinates so that the site lies on the river.
I don't see anywhere to add physio-chemical data though, please could you assist.

[2020-01-31 09:40] helendallas opened #101 "Conductivty data incorrect - all needs checking before ingestion"
@Aneri16 @Janette-Lumley @philipfrenzel @jeremyshelton

The conversions used for conductivity appear to be flawed. All data captured in spreadsheets will need to be checked.

To convert: milliSiemans/cm (mS/cm) to milliSiemans/m (mS/m) - multiply by 100

To convert: microSiemans/cm (uS/cm) to milliSiemans/m (mS/m) - divide by 10

I am going through the invertebrate data and correcting.

@Aneri16

[2020-01-31 11:28] helendallas opened #102 "Bellingham 2017 - conductivity data to be recaptured"
@Aneri16
It looks like you captured average conductivity (EC) data for the Rondegat River. The data is available per sampling month.

Please can you update this data and also check all other variables, to make sure the average has not been captured.

Data is available is the following spreadsheet
[Environmental Data - Rondegat river.xlsx](https://github.com/helendallas/FRC_FBIS/files/4139070/Envir

[2020-02-18 10:08] helendallas commented on #86
Also need to add Study Reference to all studies. Waiting for Dimas to add this functionality

[2020-02-18 10:10] helendallas opened #103 "Biobase - updating taxonomy on LIve Site"
@helendallas to update taxonomy on live site using spreadsheet on taxonomy master list

[2020-02-19 12:12] helendallas opened #104 "Ad hoc Data spreadsheet -missing lat and long"
@Janette-Lumley
Please can you add missing latitude and longitudes for the sites in the Ad Hoc datasheet. It is the last issue before I can consolidate the data.

I have filtered on blanks.

https://www.dropbox.com/s/heibw5d006uwbov/Adhoc%20Data%20New%202019_10_03.xlsx?dl=0

[Adhoc Data New 2019_10_03.xlsx](https://github.com/helendallas/FRC_FBIS/files/4224955/Adhoc.Data.New.2019_10_03.xlsx)

[2020-02-20 07:39] Janette-Lumley commented on #104
@helendallas I have added the missing latitude and longitudes. I couldn't find the data for 2 sites (Holsloot and Schusters) so I used Google earth according to the site descriptions.

[2020-02-20 12:12] Janette-Lumley commented on #102
@helendallas all the water quality data has now been changed as per the spreadsheet.

[2020-02-20 15:15] helendallas commented on #104
@Janette-Lumley Thanks

Please can you go through the ad hoc file once more.  I had to change the fields to match the master list, and I don't think that all of the upload links are working.  **Specifically check:**

Collector/Owner | Institute | Author(s) | Year | Source | Title | Reference category | URL | DOI | Document Upload Link

[2020-02-20 15:15] #101 closed, assigned to philipfrenzel, aneriswanepoel

[2020-02-20 15:16] #102 closed, assigned to Janette-Lumley

[2020-02-20 15:17] #104 closed, assigned to Janette-Lumley

[2020-02-20 15:18] #44 closed, assigned to aneriswanepoel

[2020-02-20 15:20] #23 closed, assigned to aneriswanepoel, Janette-Lumley

[2020-02-20 15:25] #53 closed, assigned to Janette-Lumley

[2020-02-20 15:25] #51 closed, assigned to Janette-Lumley

[2020-02-21 09:00] Janette-Lumley commented on #40
@helendallas I have added the data to the ad hoc spreadsheet without the water chemistry data, I also couldn't find any site descriptions.

[2020-02-24 08:26] aneriswanepoel commented on #58
@helendallas
Okay I have now started adding abiotic data to the sites

[2020-02-25 11:12] aneriswanepoel commented on #58
@helendallas
All done now

[2020-02-25 11:25] aneriswanepoel commented on #35
@helendallas
Busy checking this now

[2020-02-25 11:48] aneriswanepoel commented on #35
@helendallas
Okay all checked and updated. DOI now recognized correctly

[2020-02-27 07:25] helendallas commented on #58
@Aneri16
Okay, so you have added abiotic data to each site. It is not visible on the SASS single site dashboard. The study reference is also not visible in the search view.  Please check on your side when you are back in the field, and if necessary I will write a ticket for Dimas.

[2020-02-28 06:40] Aneri16 commented on #58
Yes I've checked now and data and study reference not visible... how
strange. I see you have made a ticket now. Thanks

www.frcsa.org.za [4]

On 2020-02-27 09:25, Helen Dallas wrote:

Links:
------
[1] https://github.com/Aneri16
[2]
https://github.com/helendallas/FRC_FBIS/issues/58?email_source=notifications&amp;email_token=ANHV2ZZOHYEMF24RFMJ3DHTRE5TE5A5CNFSM4I6C62LKYY3PNVWWK3TUL52HS4DFVREXG43VMV

[2020-02-28 07:02] aneriswanepoel commented on #58
@helendallas
Just checked now and at first the study reference did not come up in the search view but now it does. Don't see the abiotic data either. But I see you have made a ticket now, thanks.

[2020-03-02 06:08] aneriswanepoel commented on #98
@jeremyshelton
I'm only seeing this ticket now... I don't think this data was added then.

[2020-03-02 06:45] jeremyshelton commented on #98
OK, please have a look, confirm that we didn't include it, and let me know what you think it would require (time-wise) to add this to our [spreadsheet](https://www.dropbox.com/sh/ilfrbn6klyesv3k/AAA520tmniByikaY-Of2CCr9a?dl=0)?

[2020-03-02 06:46] aneriswanepoel commented on #98
@jeremyshelton
I've just had a look on FBIS and it seems the data has been uploaded already. Not sure by whom or when but it is there.

[2020-03-02 07:04] helendallas commented on #10
@Aneri16

The file below was received from Karl in response to my query. Please have a look and see if you can work it out. Then check with me to see we are on the same page.

His comments to my queries will be forwarded in a separate email.

File is: Karl Reinecke Invert data.xlsx

In folder
https://www.dropbox.com/sh/4h3ktgzkxgypfu2/AAChAylE8NV9_eEyYBfeuaaba?dl=0

Thanks

All new completed inver

[2020-03-02 07:05] jeremyshelton commented on #98
Ok cool, well it it’s in, its in 👍 please try do a few extra cross checks to make sure it’s all in there. Thanks

[2020-03-02 07:16] aneriswanepoel commented on #98
@jeremyshelton
I've checked a few sites and the data seems to be there, but just doesn't include the abundances that are in the spreadsheet. Everything else seems to be included though

[2020-03-02 08:15] jeremyshelton commented on #98
Hmm OK thanks. Are there a lot of abundance data? Do you think we should try add that this week?

[2020-03-02 08:28] aneriswanepoel commented on #98
There are 3267 records with abundances. Perhaps it was a case of the abundance column not being read correctly? I noticed that the column is called "Catch/number" but I'm not sure if that is the issue? Spreadsheet is here:
C:\Users\User\Dropbox\FRC_FBIS Data for Consolidation\Data for Consolidation\Fish data\Rivers Database Fish Data

Unless I have got it wrong and abundances are indeed on FBIS bu

[2020-03-02 08:31] aneriswanepoel commented on #98
When I download the CSV for the sites, abundance is not included

[2020-03-02 08:47] jeremyshelton opened #105 "Refine layer drawers and get info drawers"
@helendallas we need to decide what to do with 'not so useful' fields currently on display for spatial layers and filters.

For example, we must make a call on (1) what to show when a user clicks on a layer?

<img width="350" alt="Screenshot 2020-02-29 at 17 05 31" src="https://user-images.githubusercontent.com/44292029/75659392-925fcb00-5c72-11ea-97a1-f3891f280997.png">

And (2) what to show/hide

[2020-03-02 09:23] jeremyshelton commented on #98
Is there sampling effort associated with those abundance data?

[2020-03-02 09:30] aneriswanepoel commented on #98
Yes

[2020-03-02 12:59] aneriswanepoel commented on #10
@helendallas
Okay I have have finished extracting this data and it is on Dropbox in the "Data to combine" folder

[2020-03-02 18:24] helendallas commented on #105
@jeremyshelton Lets chat thursday

[2020-03-05 03:50] jeremyshelton commented on #98
OK, lets  address in FBISv5.

[2020-03-10 08:14] #99 closed, assigned to mokajee

[2020-03-18 06:43] jeremyshelton opened #106 "Is the 'Collector/owner' column really working?"
For almost every Sandelia capensis record (see csv download below) the 'Collector/owner' column is just 'FBIS'. That's not very useful, and seems a bit weird? Maybe better to just hide that column, and tell on the Reference column as the link to the human(s) who collected the data? Thoughts @Aneri16 @helendallas ?

[OccurrenceData-5.xlsx](https://github.com/helendallas/FRC_FBIS/files/4347380/Occur

[2020-03-18 06:54] aneriswanepoel commented on #106
@jeremyshelton
So I remember making "FBIS" the collector/owner for most of the Cape Nature and DWS database records because the data was collected by a number people unlikely to join FBIS (as we agreed to do in order to save time) with the exception of a few names like Dean Impson etc. However the other records should definitely have the collector/owner names so not sure what is happening there

[2020-03-18 06:58] aneriswanepoel commented on #106
From what I can see, the only names present in the owner/collector column are Jeremy_Shelton, Helen_Dallas and Toni_Olsen which are your FBIS user names. Perhaps FBIS is only recognizing names that are on the system already, and everyone else who isn't on FBIS yet gets assigned "FBIS"? Just a guess..

[2020-03-18 07:34] helendallas commented on #106
@jeremyshelton I assume this will of been resolved with the revised fish data which has actual Owner/Collector for most, and FBIS for some. If you confirm please close the ticket.

[2020-03-18 08:30] jeremyshelton commented on #106
Oh right, yes looking at the spreadsheet I agree - this should be resolved with the latest fish data 👍

[2020-03-23 07:45] #82 closed, assigned to jeremyshelton

[2020-03-23 07:45] #81 closed, assigned to jeremyshelton

[2020-03-23 07:46] helendallas commented on #85
Final step to check master list ingested to FBIS with GBIF records

[2020-03-23 07:47] #88 closed, assigned to nobody

[2020-03-23 07:47] #103 closed, assigned to helendallas

[2020-03-23 07:51] jeremyshelton commented on #83
@helendallas before closing this ticket lets make sure we are 100% happy with the land use layer:
<img width="1440" alt="Screenshot 2020-03-23 at 09 48 25" src="https://user-images.githubusercontent.com/44292029/77293721-8dc78900-6ceb-11ea-93d3-78f5fe115abe.png">
Admire said the LADA land use classes are the one we should go with. Does that look right to you?

[2020-03-23 07:51] helendallas commented on #49
I am closing this ticket as the SASS data was collected by DWS and they have either already captured it or will capture it in FBIS in due course.

[2020-03-23 07:51] #49 closed, assigned to helendallas

[2020-03-23 07:52] helendallas commented on #4
Closing ticket as its best if DWS capture there own data

[2020-03-23 07:52] #4 closed, assigned to helendallas

[2020-03-23 07:53] helendallas commented on #1
Closing ticket as Jeanne is not being forthcoming with the data

[2020-03-23 07:53] #1 closed, assigned to toniolsen, helendallas

[2020-03-23 07:53] helendallas commented on #27
Issue resolved, ticket closed

[2020-03-23 07:53] #27 closed, assigned to nobody

[2020-03-23 07:54] helendallas commented on #24
Ticket closed, beyond the scope of this phase

[2020-03-23 07:54] #24 closed, assigned to helendallas

[2020-03-23 07:54] helendallas commented on #28
Issue resolved, ticket closed

[2020-03-23 07:54] #28 closed, assigned to nobody

[2020-03-23 07:55] helendallas commented on #61
No response from John Simiaka - closing ticket

[2020-03-23 07:55] #61 closed, assigned to aneriswanepoel

[2020-03-23 07:55] helendallas commented on #59
No response from Norma Sharratt, closing ticket

[2020-03-23 07:55] #59 closed, assigned to aneriswanepoel

[2020-03-23 07:56] helendallas commented on #52
@Janette-Lumley Please update me on this

[2020-03-23 07:56] helendallas commented on #62
@Janette-Lumley Please update me on this

[2020-03-23 07:57] helendallas commented on #37
No luck getting this data - follow up once UCT is open to see if data is on CD as suggested by Jenny Day

[2020-03-23 07:58] helendallas commented on #86
@Janette-Lumley has attended to this in the Epic V4 project, closing ticket here

[2020-03-23 07:58] #86 closed, assigned to helendallas

[2020-03-23 08:00] helendallas commented on #78
@Aneri16 Please confirm this has been done. I think you went through everything in FBIS live

[2020-03-23 08:01] helendallas commented on #14
Cate Brown is not providing any further details.
@Janette-Lumley
Please go ahead and capture data from tables.

[2020-03-23 08:01] helendallas commented on #39
Steve has not yet provided the data. We cannot proceed. I am clooing the ticket.

[2020-03-23 08:01] #39 closed, assigned to helendallas

[2020-03-23 08:03] helendallas commented on #83
@jeremyshelton yes, but we have a ticket on the Epic V4, dont also need it here. this is FRCinternal

[2020-03-23 08:12] jeremyshelton commented on #83
@helendallas Kept it here because I think it's an issue for FRC internal discussion.

[2020-03-23 08:25] jeremyshelton opened #107 "Deciding on which attributes to display for layers"
@helendallas at present, clicking on a layer gives a bunch of attributes, most of which look like clutter and may not be that useful for the user. We need to decide which, if any, to retain & communicate that to Admire.

<img width="1440" alt="Screenshot 2020-03-23 at 10 19 42" src="https://user-images.githubusercontent.com/44292029/77296347-2bbd5280-6cf0-11ea-89ea-075d0b08ccba.png">

[2020-03-23 09:12] aneriswanepoel commented on #78
Yes all thesis PDFs have been removed from FBIS and URLs added to spreadsheets

[2020-03-23 09:13] #78 closed, assigned to jeremyshelton, helendallas

[2020-03-24 09:12] Janette-Lumley commented on #52
@helendallas I can start on this next week, it would also be a good way to test the system. I will keep you updated.

[2020-03-24 09:13] Janette-Lumley commented on #62
@helendallas did Jenny give you the hard copy data at the AGM?

[2020-03-24 09:29] Janette-Lumley commented on #56
@helendallas I have entered the data with abundances. Dean found the excel spreadsheet with all the data and sent it to me.

[2020-03-24 11:04] helendallas commented on #56
@Janette-Lumley Thanks. So there are 13 sites. Just checking you added study reference as it doesnt come up in the search filter

[2020-03-24 12:26] helendallas commented on #62
@Janette-Lumley No sadly not. Can daat be extracted from the thesis. If not lets leave for now. et me know and I can close it and reassign it. Thanks

[2020-03-24 12:28] Janette-Lumley commented on #56
@helendallas yes the study reference is: Ollis, D.J., 2005, Rapid bioassessment of the ecological integrity of the Lourens, Palmiet and Hout Bay rivers (South Western Cape, South Africa) using aquatic macroinvertebrates

I also tried to search for it in the filter but it didn't come up, but if you go to the SASS dashboard for a site and then to a SASS data record you can see the reference there.

[2020-03-24 12:29] #40 closed, assigned to Janette-Lumley

[2020-03-24 12:30] #35 closed, assigned to aneriswanepoel

[2020-03-24 12:34] Janette-Lumley commented on #62
@helendallas I remember it was that book on my desk and I was struggling to find a lot of data in there. I need to go and get a few things from the office computer tomorrow before lockdown, so let me bring the book back and have another look before you close this ticket. I will let you know.

[2020-03-24 12:36] helendallas commented on #19
@Janette-Lumley
I have edited file with correct headers - attached.  Click on below to open

[Chantel Petersen Abiotic data_data.xlsx](https://github.com/helendallas/FRC_FBIS/files/4375248/Chantel.Petersen.Abiotic.data_data.xlsx)

[2020-03-24 12:52] helendallas commented on #3
@Janette-Lumley
Please check study reference for all sites and dates: This one is still wrong:

![Screenshot_2020-03-24 FBIS SASS(2)](https://user-images.githubusercontent.com/45286876/77426788-e24b3100-6ddd-11ea-86b2-aaeef7df2b87.png)

Also check which data are associated with which report...there are two. See below:
[Ewart-Smith, J. 2017. Assessment of the Groot River, Meiringspoort First report

[2020-03-24 12:53] helendallas commented on #96
@mokajee I am closing this ticket

[2020-03-24 12:53] #96 closed, assigned to jeremyshelton, mokajee

[2020-03-24 13:01] #56 closed, assigned to Janette-Lumley

[2020-03-24 13:24] helendallas commented on #10
@Aneri16
Please can you change the codes as per those needed by Dimas. Thanks. Alos pelase change the master template.

Also remember Collector/Owner needs to be First Name, Surname, so Karl Reinecke
Authors(s) - change to format Dimas needs

Also I had to change date format again.

Please also add taxonomy as per Master list up until Order.
I have updated to new template, please just change above

[2020-03-24 14:03] helendallas commented on #36
@Janette-Lumley
Please fix the dates. They need to be yyyy/mm/dd
Add in Refined Geomorphological zone - same as Longitudinal zone in his table.
Change collector/Owner format to : First name Surname, so Bruce Eady
Change Author(s) to correct format: Eady BR
Title -dont put fullstop at end.

This is now standard.

[2020-03-24 14:09] helendallas commented on #42
@philipfrenzel Please confirm this is done so I can close the ticket.

[2020-03-24 14:10] helendallas commented on #67
@phi Please confirm this is done so I can close the ticket

[2020-03-25 06:51] Aneri16 commented on #10
Okay checking now. Does the invert spreadsheet need the Turbidity column?

[2020-03-25 06:56] helendallas commented on #10
@Aneri16 Check I revised spreadsheet after email. Should have correct labels etc. Just chec:
Also remember Collector/Owner needs to be First Name, Surname, so Karl Reinecke
Authors(s) - change to format Dimas needs

Also I had to change date format again.

Please also add taxonomy as per Master list up until Order.

[2020-03-25 07:09] aneriswanepoel commented on #10
Okay so just to confirm - adding taxonomy from Species through to Order?

[2020-03-25 10:14] philipfrenzel commented on #42
@helendallas  Yes, this is done. I'll close it with this reply.

[2020-03-25 10:14] #42 closed, assigned to philipfrenzel

[2020-03-25 10:16] philipfrenzel commented on #67
@helendallas Yes, completed. I'll close this comment with this reply. Thanks.

[2020-03-25 10:16] #67 closed, assigned to philipfrenzel

[2020-03-25 10:51] Janette-Lumley commented on #36
@helendallas I have added the Refined Geomorphological zone, Aneri had already fixed the dates and name formats this morning.

[2020-03-25 10:53] aneriswanepoel commented on #10
@helendallas Okay I have checked the sheet and added taxonomy

[2020-03-25 11:59] helendallas commented on #36
@Aneri16 @Janette-Lumley Thanks

[2020-03-25 11:59] #36 closed, assigned to Janette-Lumley

[2020-03-27 15:08] Janette-Lumley commented on #19
@helendallas the excel spreadsheet data is different from the data in the Thesis. Please could you check before I continue? I added the thesis table to the spreadsheet on dropbox.

[2020-03-29 15:50] mokajee opened #108 "GBIF Fish Data"
Has Dimas pulled all the occurrence records for all the **previous names** for each species?

[2020-04-01 11:19] Janette-Lumley commented on #19
@helendallas please could you also check if conductivity is the correct measurement. Thanks

[2020-04-03 08:56] aneriswanepoel commented on #30
@philipfrenzel here you go!
Just shout if anything is unclear. And remember the title of the report should be in the format shown in this example (the Snaddon et al report).
The link at the end of the process that should be copied onto your spreadsheet in the Document Upload Link column will look something like this:
https://freshwaterbiodiversity.org/documents/205 (you will have a different end n

[2020-04-06 06:59] philipfrenzel opened #109 "Origin dropdown options query"
Hi @helendallas

I was wondering whether you had been able to make a ticket for Dimas regarding the origin dropdown options? I recall us having a discussion at our last internal Zoom meeting about whether to add an 'unknown' option given that these data are all unknown for algal taxa. The options would, therefore, be: Native, Non-native and Unknown.

Not sure whether that will change the dashboard

[2020-04-06 07:33] helendallas commented on #109
@philipfrenzel @jeremyshelton I have already added ticket to FBIS V4

#1996

[2020-04-06 07:45] philipfrenzel commented on #109
@helendallas many thanks.

[2020-04-06 09:12] Janette-Lumley commented on #3
@helendallas I have checked and changed the study references.
The spreadsheet that I received was for the 2017 report. Can I enter the 2018 report data?
I have also emailed Justine with regard to the other report and awaiting her reply.

[2020-04-06 11:47] helendallas commented on #19
@Janette-Lumley
The data look the same to me.
![image](https://user-images.githubusercontent.com/45286876/78555155-b5027800-780c-11ea-81de-688321683bd7.png)

conductivity (mS m-1) see page 39

[2020-04-06 11:49] helendallas commented on #3
@Janette-Lumley If and when you get the extra data and report, then go ahead and add it. The important criterion is to ensure the correct Site Codes, Rivers and sampling dates , with associated SASS and wq data, are from the correct report, as reflected in the study reference.

[2020-04-07 06:11] Janette-Lumley commented on #19
Thanks @helendallas, something must've gone wrong with the original spreadsheet, the COD column had the Ph data in and the rows got a bit messed up. I added another tab "Thesis" with the correct data. I have now added the data in FBIS.

[2020-04-09 10:36] helendallas commented on #94
**Clarification in terms of Citation Manager and Document Manager:**

When data is ingested into FBIS from an excel file with the information above, it is added to the CITATIONS Manager (**Administration/Citations**)

Citations include all study references in the FBIS – the URL or DOI is for theses and peer-reviewed papers are added here.

All Published Reports (and some papers/theses that are not

[2020-04-16 14:48] helendallas commented on #16
@Janette-Lumley I have found some issues with this data after doing some checks with the final version for ingestion. I have had to remove the data from the consolidated file so that it can be corrected

1. You have not captured details in the Notes column when several species were found so these come through as duplicates in the data, but they are not.

For example Chironomidae Species 1, Species

[2020-04-16 15:18] helendallas commented on #84
@Aneri16
I have decided to extract the Bellinghan 2017 data from the FBIS ingestion file as there are several records that come up as duplicates, but I ma not sure if they are real or an artifact of biotopes.

Please can you systematically work through these for errors checking with the raw data.
The file is in the
https://www.dropbox.com/sh/3lrrqeup1sqaxni/AADaXjW9Ujg3G7w5T6g4RMraa?dl=0

Bellinga

[2020-04-17 08:20] helendallas opened #110 "Citations in Testing"
@Aneri16
I found some strange citations in the Citations on testing.

https://testing.healthyrivers.kartoza.com/bibliography/?year=&author=&doi_exist=&q=

![image](https://user-images.githubusercontent.com/45286876/79547916-ebee4e80-8094-11ea-906e-a5e87b69a67c.png)

Please can you check the fish data to see they are correct.  Please can you check Citations on the testing site and correct if these

[2020-04-17 08:37] aneriswanepoel commented on #110
@helendallas the referencing is correct in the spreadsheet so not sure why it has been pulled into FBIS so strangely...

[2020-04-17 08:42] aneriswanepoel commented on #84
@helendallas I have made a start on this and from what I can tell, the "Broad biotope" column seems to have been populated quite generally (ie most of the duplicated rows have SIC) instead of according to the category specified in the raw data. It will take a day or two to fix but luckily it's pretty straightforward

[2020-04-17 08:49] helendallas commented on #84
Please remember we have to assign the data to one of our accepted categories which are also kinda hierarchical.

Broad   Biotope
Unspecified
Mixed
Stones In Current
Stones Out Of Current
Marginal Vegetation
Aquatic Vegetation
Gravel/Sand/Mud

Specific   Biotope
Backwater
Bedrock
Cascade
Chute
Detritus
Mixed
Pool
Rapid
Riffle
Run
Slackwater
Unspecified
Waterfall

Substratum
Unspecified
Mixed
Bedroc

[2020-04-17 09:58] aneriswanepoel commented on #84
@helendallas
Here are the changes I have made so far (in blue) according to raw data. Bedrock in the substratum column because BRIC was the biotope in the raw data. I just want to check that I'm on the right track before I carry on... The "Specific Biotope" column only consists of Run, Pool and Unspecified for duplicate data

![Biotopes](https://user-images.githubusercontent.com/55532903/79557339-

[2020-04-17 10:12] helendallas commented on #84
So Gravel/Sand/Mud cant have a substratum of Cobble, only gravel, sand or mud
Stones out of current, run, cobble is fine
Stones in current, run, bedrock is fine

[2020-04-17 10:15] aneriswanepoel commented on #84
Okay thanks. Most of the changes will be along those lines

[2020-04-17 10:22] helendallas commented on #84
Okay fine, so long as they make sense, happy for you to check each unique combination of broad, specificand substratum with me before changing

[2020-04-20 10:14] helendallas commented on #84
From Aneri:
Just want to check in re unique biotopes - Leaf packs in current, leaf packs out of current, roots in current. What should the Broad/specific/substratum columns be?

@Aneri16 These are tricky ones and very seldom encountered. I would suggest the following, not ideal but the best without having to change the classification to accommodate these.

So classification would be:
**Leaf packs

[2020-04-20 10:18] helendallas commented on #16
@Janette-Lumley Are you managing to tackle this? Any questions?

[2020-04-20 10:27] Janette-Lumley commented on #16
@helendallas yes thanks, I am busy going through it systematically. I have also picked up a copy and paste issue, for example:
Chironomidae was pasted over as ChIronomidae (with a capital I instead of i), so must double check those. I will let you know if I have any questions. Thanks
--

[2020-04-20 11:04] aneriswanepoel commented on #84
Great, thanks. And in what instance will "Pool" be the specific biotope?

[2020-04-20 11:08] helendallas commented on #84
Pool is normally associated with the Broad biotope: stones out of current.
But if the substratum is gravel/sand/mud pool then would be Broad biotope: Gravel/Sand/Mud

[2020-04-21 13:50] Janette-Lumley commented on #16
@helendallas I need to add in some missing data for February too, will this cause problems with the UUID?

[2020-04-21 14:03] helendallas commented on #16
I have deleted the entire dataset from the data going into FBIS. It will go in in the new round. So please check carefully and add all missing data. we create new UUIDs once all data are conslidated

[2020-04-22 13:09] aneriswanepoel commented on #84
@helendallas okay I have finally finished checking the duplicates! What a job. Hope I got everything... I have renamed the folder with today's date.
I extracted this data roughly a year ago and I worked according to the biotopes given in the raw data but Toni and I split Terence's PhD work between us so I have a feeling that perhaps during the combining of our spreadsheets, and then further combin

[2020-04-22 14:15] Janette-Lumley commented on #16
@helendallas would you prefer for me to add the number of taxa instead of the percentage abundance? I remember you saying that with the percentage you lose out on important data numbers. For example in December - Site 1 there were 1810 Dytiscidae recorded.

[2020-04-23 08:00] helendallas commented on #16
@Janette-Lumley She did not sample quantitatively, so percentage abundance is probably better. You calculated these previously right? Does this mean you will need to redo?

If so then just use numbers as given in the thesis.  This data will only go into FBIS in the next round.

[2020-04-23 08:01] helendallas commented on #84
@Aneri16 Thanks so much. What a job. Shows that is is always best for one person do do a single study.  This data will be ingested into the next round of FBIS data.

[2020-04-23 08:02] #19 closed, assigned to toniolsen

[2020-04-23 08:04] helendallas commented on #85
Completed

[2020-04-23 08:04] #85 closed, assigned to helendallas

[2020-04-23 08:04] #109 closed, assigned to helendallas

[2020-04-23 08:08] helendallas commented on #91
See ticket #87

@jeremyshelton We decided it should be auto-calculated where data were available. I recommend we park this for FBIS V5.

I am closing #87

[2020-04-23 08:08] #87 closed, assigned to nobody

[2020-04-23 08:08] helendallas commented on #87
See ticket #91

[2020-04-23 08:10] helendallas commented on #110
@jeremyshelton Did these citations come through correctly in the new fish ingestion?

[2020-04-23 11:51] Janette-Lumley commented on #3
**Copy of emails:**

Hi Janette
Please check that all Justine’s Meiringspoort sites are linked to this document…I thought there were more than 2 - Helen

Hi Helen,
I went through this again this week, the original spreadsheet that Toni gave me had only that document name as per your email below, but there are actually 2 other reports. I have attached the spreadsheet that hopefully will make sense.

[2020-04-24 06:28] jeremyshelton commented on #110
@helendallas @Aneri16

Unfortunately these issues still persist on the testing site.

Should we make a ticket to ask Dimas?

[2020-04-24 06:55] helendallas commented on #110
@jeremyshelton Yes, we definately need to make a ticket. Something has either not been cleared out before reingestion, or it is because it is the testing site and not the live site. Perhaps make a ticket Jeremy to ask him to check why. Aneri has spent a lot of time fixing documents on the live site.

[2020-04-24 11:50] jeremyshelton commented on #110
@helendallas done. #2060 on Kartoza GitHub

[2020-04-29 09:44] Janette-Lumley commented on #16
@helendallas I didn't need to recalculate the percentage abundance, I just double-checked them and then you will see 3 rows in the spreadsheet (highlighted) that are recorded as a number: 1, this is because as a percentage it comes out as 0. Should I delete those rather?

[2020-04-29 09:49] helendallas commented on #16
@Janette-Lumley I reckon just include as 0.01%

[2020-05-19 11:57] #110 closed, assigned to aneriswanepoel

[2020-05-25 11:44] aneriswanepoel commented on #47
@helendallas
I have finished going through the files - only two studies extracted. The rest are wetland studies or have no co-ordinates..will add the file with new algal data to Dropbox

[2020-06-02 08:06] helendallas commented on #47
@Aneri16 Thanks. Please add link to dropbox folder:
https://www.dropbox.com/sh/a25z08smji231b5/AACPs_isC1W8c9gjmddzuD-Za?dl=0

Any new algal data you track down can be added to this file. Please also make sure that all the columns match the last data file:
https://www.dropbox.com/s/44eema6w72tbzs7/SA%20Algal%20Data%20For%20FBISV3_13%20May%202020.xlsx?dl=0

And that all taxa match the master list.

[2020-06-23 09:16] helendallas commented on #16
@Janette-Lumley PLease confirm this is completed and in the folder:
Final for FBISv4 folder

[2020-06-23 09:24] #16 closed, assigned to Janette-Lumley

[2020-06-23 09:24] #84 closed, assigned to aneriswanepoel

[2020-06-23 09:25] #10 closed, assigned to aneriswanepoel

[2020-06-23 09:26] Janette-Lumley commented on #16
@helendallas Yes that is the completed one.

[2020-06-23 09:33] helendallas opened #111 "FBIS V4 Consolidate Invertebrate data"
@Aneri16

What would be really helpful is to start consolidating the data from each invert study into the new FBIS invert data file for ingesting into FBIS next round.

Dropbox Folder: FRC_FBIS Data for Consolidation/ Data for Consolidation/ Invertebrate Data/ CFR Invertebrate data Species/ Final for FBISv4
https://www.dropbox.com/sh/3lrrqeup1sqaxni/AADaXjW9Ujg3G7w5T6g4RMraa?dl=0

New data file to

[2020-06-23 09:35] #71 closed, assigned to aneriswanepoel

[2020-06-23 09:35] #70 closed, assigned to aneriswanepoel

[2020-06-23 09:35] #73 closed, assigned to aneriswanepoel

[2020-06-23 09:35] #69 closed, assigned to aneriswanepoel

[2020-06-23 09:35] #68 closed, assigned to aneriswanepoel, mokajee

[2020-06-23 09:35] #79 closed, assigned to jeremyshelton, aneriswanepoel

[2020-06-23 09:35] #92 closed, assigned to aneriswanepoel

[2020-06-23 09:35] #90 closed, assigned to melandrirafferty, aneriswanepoel

[2020-06-23 09:35] #93 closed, assigned to aneriswanepoel

[2020-06-23 09:36] #83 closed, assigned to jeremyshelton

[2020-06-23 09:36] #105 closed, assigned to jeremyshelton, helendallas

[2020-06-23 09:36] #107 closed, assigned to jeremyshelton, helendallas

[2020-06-23 09:42] #47 closed, assigned to aneriswanepoel

[2020-06-23 11:49] helendallas commented on #63
@Janette-Lumley Lets use the top site and generate a georef for each river.

[2020-06-23 11:56] helendallas commented on #62
Data in thesis not compatible with FBIS, No co-ordinates, or details per site and date.

[2020-06-23 11:56] #62 closed, assigned to Janette-Lumley

[2020-06-23 12:45] helendallas commented on #52
@Janette-Lumley @Aneri16
As per our chat today Janette, once Aneri is done consolidating invert data and you are done with Brown etc., can we have a google chat, with working through the data flow adding to FBIS. The TMGA sites should mostly exist, although there may be extras from EMP1.  Excel file here gives Original Site Code, FBIS Site Code and Sampling date - all needed to ensure the data are

[2020-06-29 07:00] aneriswanepoel commented on #111
Data consolidation is complete but must still add UUIDs. Missing taxa highlighted in the Taxon column

[2020-06-29 10:35] aneriswanepoel commented on #111
Comments from Helen Dallas

 Simulium albivirgulatum - added to Master List (orange)

Stratiomyia - added to Master List (orange)

Teratothyasa - added to Master List (orange)

Nitidulidae - added to Master List (orange)

Mytilidae - added to Master List (orange)

Nymphulinae - corrected to Crambidae

Chlorosyphidae - spelling, should be Chlorocyphidae

Forcipomyiinae -  subFamily of Ceratopogonid

[2020-07-03 08:45] aneriswanepoel commented on #111
@helendallas I have found one more taxon that is not in the masterlist - Centroptiloides bifasciata

[2020-07-06 08:25] Janette-Lumley commented on #14
@helendallas please could you send me the co-ordinates for the sites that you have when you get a chance. Thanks

[2020-07-06 09:01] aneriswanepoel commented on #52
I will get started on this

[2020-07-07 08:49] helendallas commented on #14
@Janette-Lumley Here we go. The sites should match those of Cate's on the Kraalstroom. Please shout if they don't.

[Kraalstroom Sites Cate Brown.xlsx](https://github.com/helendallas/FRC_FBIS/files/4883718/Kraalstroom.Sites.Cate.Brown.xlsx)

Are you managing with the others? Perhaps send me the descriptions and I can check. if any already exist in the FBIS

[2020-07-07 09:23] Janette-Lumley commented on #14
@helendallas Thank you. The descriptions are different to the ones in the thesis. I have copied them all below:

Upstream   of the Earthdam farm | Molenaars |
At the effluent outlet | Molenaars
50 m downstream of the outlet | Molenaars
200 m downstream of the   outlet | Molenaars
500 m downstream of the   outlet | Molenaars
1000 m downstream of the   outlet | Molenaars  |  

Upstream of the Portap

[2020-07-07 10:10] helendallas commented on #14
@Janette-Lumley Dont woryy about slight differences in wording, it means the same thing.  I did the work with Cate.
So all Kraalstroom sites are as per mine in the excel file.

Upstream of the Portapool farm | Kraalstroom - **H1KRAA-ABOVE**
At the effluent outlet | Kraalstroom **H1KRAA-BELOW**
50 m downstream of the outlet | Kraalstroom **H1KRAA-BEL50**
200m downstream of the outlet | Kraalstroom

[2020-07-07 10:22] helendallas commented on #14
Here is a shot of the Earthdam farm on the Molenaars - I reckon it is easiest to Use Google Earth to pin point each site, and then create a new site for each on FBIS.
![image](https://user-images.githubusercontent.com/45286876/86766797-5509b080-c04b-11ea-8d64-102f0a08cc4b.png)

[2020-07-07 10:24] Janette-Lumley commented on #14
@helendallas ok great thanks for all this.

[2020-07-07 10:36] #75 closed, assigned to mokajee

[2020-07-07 10:37] #100 closed, assigned to jeremyshelton, aneriswanepoel, mokajee

[2020-07-07 10:38] #95 closed, assigned to jeremyshelton, aneriswanepoel, mokajee

[2020-07-08 09:47] helendallas commented on #30
UPdate on documents unploading:
@Janette-Lumley @Aneri16

The document authors, date, title etc need to be added to the **Edit BIMS Document**

BIMS
![image](https://user-images.githubusercontent.com/45286876/86903796-1db10780-c110-11ea-9cb2-c9b76f8e87ee.png)

![image](https://user-images.githubusercontent.com/45286876/86903831-27d30600-c110-11ea-94fd-64a1a69b8eae.png)

To have the document visibl

[2020-07-13 13:56] Janette-Lumley commented on #3
@helendallas I have uploaded all the other reports and linked them to the correct SASS data. I also captured the SASS data from the 2018 report. There were a few errors in the excel spreadsheet that Toni sent me when I compared the data to the reports so I have made all the necessary corrections.

[2020-07-15 08:22] helendallas commented on #3
@Janette-Lumley Thanks so much!

[2020-07-15 08:22] #3 closed, assigned to Janette-Lumley

[2020-07-15 08:25] helendallas opened #112 "Update FBIS Invertebrate Master list"
@helendallas to maintain new taxa in master list so as to add to FBIS V4

File is: SA Invertebrate Master List FBISv3_11 May 2020.xlsx

Located here:
https://www.dropbox.com/sh/3lrrqeup1sqaxni/AADaXjW9Ujg3G7w5T6g4RMraa?dl=0

[2020-07-15 08:27] helendallas commented on #106
@jeremyshelton Please check if this has been resolved, and if yes, close the issue.

[2020-07-15 08:28] helendallas commented on #108
closing ticket

[2020-07-15 08:28] #108 closed, assigned to nobody

[2020-07-15 08:29] helendallas opened #113 "Corrected algal data needs to be reinjested"
Awaiting corrected algal data with duplicates removed from @philipfrenzel

Once received Dimas will reinjest.

[2020-07-15 08:32] helendallas commented on #14
@Janette-Lumley I see this is in the FBIS V4 folder. Is it completed? Any issues?

[2020-07-15 08:34] helendallas commented on #111
@Aneri16 This is spelt incorrectly. It should be
Centroptiloides bifasciatum

This is in the master list. Please can you update on the data file, thanks

[2020-07-15 08:37] Janette-Lumley commented on #14
@helendallas yes I wasn't sure what folder to add it to in FBIS, but it is complete as per the tables in the thesis, there are a few issues though, I wanted to ask if you could have a look when you get a chance, all the taxa in red has comments that I made, I compared it to the master list and found some discrepancies.
Please let me know what to change and if you see other errors. Thanks.

[2020-07-15 08:40] helendallas commented on #14
@Janette-Lumley Ok I can look at it now. Let me know when you have closed it so we dont create a conflicted copy

[2020-07-15 08:41] Janette-Lumley commented on #14
@helendallas I have closed it now, thanks.

[2020-07-15 08:42] aneriswanepoel commented on #111
@helendallas okay done. That should be it for this data file then

[2020-07-15 09:33] helendallas commented on #14
@Janette-Lumley Okay I have gone through it.. please see my comments next to yours. I also picked up 2 other issues, in green. Please can you correct and then let me know once done and I will have a final check.

The Master list is here:
https://www.dropbox.com/s/tskyv34cslgirp9/SA%20Invertebrate%20Master%20List%20FBISv3_11%20May%202020.xlsx?dl=0

[2020-07-15 10:08] Janette-Lumley commented on #14
Thanks @helendallas I have made the corrections, could you check my comments next to yours in blue and let me know. Thanks

[2020-07-15 11:03] jeremyshelton commented on #106
@helendallas CSV downloads for some fish species not working at the moment. S capensis is one of them, so I can't test at this point. Will check as soon as Dimas fixes the fish csv downloads.

[2020-07-16 11:13] helendallas commented on #14
@Janette-Lumley I will take it from here. Easier. Only the taxon is ingested so you dont need all the other higher taxonomy, What is NB is that the taxon rank matches that in the master list, and that the taxon exists in the master list.

I will finalise now thanks

[2020-07-16 11:15] Janette-Lumley commented on #14
Thanks @helendallas

[2020-07-16 12:23] helendallas commented on #14
@Janette-Lumley Sorry still  few things for your to tackle now that I have looked at the data. I have done the following:

- I have deleted taxon Typanidae - this does now exist and I cannot find out what Cate meant.

- I have added Broad Biotope to all as all riffles are Stones in current, and all Backwaters are Stones out of current

- Abundances are given as density  - Abundances (10m2) - so I

[2020-07-16 12:42] Janette-Lumley commented on #14
@helendallas thanks, I will get started on the corrections and let you know

[2020-07-24 09:25] Janette-Lumley commented on #14
@helendallas I have made the corrections now, there should be no more duplicates.

[2020-07-28 11:32] Janette-Lumley commented on #63
@helendallas I finally found the co-ordinates, I was looking at the incorrect report and found them in "Wishart & Hughes 2001"
I have added it to Final for FBISv4 /  AdHoc excel sheet
I filled in everything I could find, please have a look when you have some time. Thanks.

[2020-07-29 12:33] aneriswanepoel commented on #52
@helendallas I have reached the end of the first batch of SASS data (TMGA_EPM1). However stuck on the last bit of data - SASS data was collected for a site called K_4_Dwars channel but I cannot find the corresponding FBIS site code or any other details for that site

[2020-08-11 11:10] Janette-Lumley commented on #52
Hi @Aneri16 I found a sheet with the FBIS site codes and for K4 it is G4LOUW-00014

[2020-08-21 08:12] helendallas commented on #111
@Aneri16 Please can you add the following to the consolidated file:
[AdHoc_For revision 2020_07_28.xlsx](https://github.com/helendallas/FRC_FBIS/files/5107625/AdHoc_For.revision.2020_07_28.xlsx)
[Brown, C.A. 1998_For revision 2020_07_14.xlsx](https://github.com/helendallas/FRC_FBIS/files/5107626/Brown.C.A.1998_For.revision.2020_07_14.xlsx)

And check that all the others in the Final for FBISv4 hav

[2020-08-21 08:12] helendallas commented on #31
@Aneri16 I am reassigning this to you. Perhaps get hold of Philip to see where he got with this and what still needs to happen.
It would also be worth checking on GBIF is these data are already there, as we don't want to duplicate.

[2020-08-21 08:13] helendallas commented on #113
@philipfrenzel @Aneri16
Phil - if you are battling to finalise these, please can you spend some time with Aneri giving her the low down.

[2020-08-21 08:15] helendallas commented on #97
@mokajee Did you get this data? Can I close the ticket?

[2020-08-21 08:15] helendallas commented on #98
@Aneri16 Has this been resolved yet? Note to address in FBIS V5.

[2020-08-21 08:20] helendallas commented on #37
I am closing this ticket as unable to track down data - such a shame

[2020-08-21 08:20] #37 closed, assigned to aneriswanepoel

[2020-08-21 08:21] helendallas commented on #89
@jeremyshelton I assume this has been resolved. Closing ticket

[2020-08-21 08:21] #89 closed, assigned to mokajee

[2020-08-21 08:22] #63 closed, assigned to Janette-Lumley

[2020-08-21 08:22] #14 closed, assigned to Janette-Lumley

[2020-08-21 08:26] helendallas commented on #106
@jeremyshelton I checked now, seems to be sorted. PLease confirm. FIle attached.
[FishOccurrence.xlsx](https://github.com/helendallas/FRC_FBIS/files/5107706/FishOccurrence.xlsx)

[2020-08-21 09:32] aneriswanepoel commented on #111
@helendallas I have added the above two, and the other studies are all there. Just need to add UUIDs

[2020-08-21 11:32] helendallas commented on #111
@Aneri16 Thanks, please also check all taxa are on the master list and alert me to any that are not in this ticket. Thanks

[2020-08-27 07:46] Aneri16 commented on #31
@helendallas
I am just finalizing this data now and just have a question re a river name. Most of the co-ordinates given are vague so I have been looking on the FBIS map to find the more accurate co-ordinates. One river is the Burgersbos River (crossing Rhodes Drive, Constantia, co-ords given are : -34,01667 S and 18,4167 E). Does this river maybe have a different name now?

[2020-08-27 09:54] aneriswanepoel commented on #31
I have finished this data extraction, just need to add UUIDs. Folder is on Dropbox:
C:\Users\User\Dropbox\FRC_FBIS Data for Consolidation\Data for Consolidation\Invertebrate Data\CFR Invertebrate data Species\Final for FBISv4 -> Stewart, B.A. 1991

[2020-08-27 12:49] helendallas commented on #31
@Aneri16 Thanks. Th Burgerspos looks to be an unnamed tributary, so happy to leave as is.
Please just make sure the sampling date is in the correct format: yyyy/mm/dd

Then you can combine with the consolidated file, and check the taxonomy

[2020-08-27 12:56] aneriswanepoel commented on #31
@helendallas okay have combined it and checked taxonomy and all looks okay

[2020-08-27 13:06] #31 closed, assigned to aneriswanepoel

[2020-08-27 13:23] helendallas opened #114 "Extract GBIF information for Branchiopoda"
@Aneri16 Please can you:

- add the GBIF links for each taxon in the Branchiopoda
- Check and add Scientific name and authority
- Add common name if available

The link for the GBIF taxonomic backbone is:
https://www.gbif.org/species/2235078

Enter taxon in:
![image](https://user-images.githubusercontent.com/45286876/91447140-9f9ff000-e878-11ea-8614-ffe2276e3030.png)

Here is the file:
[SA Inverte

[2020-08-27 13:50] helendallas opened #115 "Extract GBIF data for Plecoptera"
@Aneri16 Please can you:

-     add the GBIF links for each taxon in the Order Plecoptera
-     Check and add Scientific name and authority
-     Add common name if available

The link for the GBIF taxonomic backbone is:
https://www.gbif.org/species/2235078

Enter taxon in:
image

Here is the file:
[SA Invertebrate Master List FBISv3_11 May 2020 Plecoptera only.xlsx](https://github.com/helendallas

[2020-08-31 09:41] Janette-Lumley commented on #52
@helendallas  This is complete.  The data for EMP1 was entered by Aneri and I entered the data from EMP2.

[2020-08-31 09:46] helendallas commented on #52
@Janette-Lumley @Aneri16
Thanks that's awesome, I will close ticket.

[2020-08-31 09:46] #52 closed, assigned to Janette-Lumley

[2020-09-01 10:05] aneriswanepoel commented on #114
@helendallas I have finished the Branchipods - taxa missing from GBIF highlighted in orange, as well as any other queries (eg spelling). File is in the Taxonomy folder, with today's date (1 September 2020)

[2020-09-01 11:04] aneriswanepoel commented on #115
@helendallas there is no column for common name - shall I add it?

[2020-09-02 08:18] aneriswanepoel commented on #115
@helendallas just finished - again highlighted in orange the taxa that are not on GBIF. File is in the taxonomy folder with today's date

[2020-09-02 08:45] helendallas commented on #115
@Aneri16 Thanks very much. I will generate a few more groups for checking soonest. Its a big help.

[2020-09-02 08:46] #114 closed, assigned to aneriswanepoel

[2020-09-02 08:46] #115 closed, assigned to aneriswanepoel

[2020-09-08 11:35] helendallas opened #116 "Extract GBIF data for Hemiptera"
PLease can you extarct GBIF link, add scientific anme and authority, common name and check on details for Hempitera

FIle is Here:
https://www.dropbox.com/sh/yx3aj7p3kfe5rjv/AAAX1oIkaYfhOoZxTOmjeXRfa?dl=0

[2020-09-09 09:27] aneriswanepoel commented on #116
@helendallas done - file with today's date
Shall I continue with Ephemeroptera and Mollusca?

[2020-09-15 12:19] aneriswanepoel commented on #116
@helendallas finished with Mollusca - on Dropbox with today's date (15 September 2020). Would you like me to start with Ephemeroptera?

[2020-10-26 08:45] aneriswanepoel commented on #113
@helendallas @philipfrenzel I have finished correcting the duplicates.     File is on Dropbox:
https://www.dropbox.com/s/q3c7mku12yqtqza/SA%20Algal%20Data%20For%20FBISV3_PF%20to%20AS%2026-10-2020.xlsx?dl=0

[2020-11-05 07:47] helendallas commented on #113
@Aneri16 Thanks. I will check next week and organise reingestion. Thanks so much. I will shout if I have any quereis

[2020-11-05 11:45] helendallas opened #117 "SCHAEL, D.M. and KING, J.M. 2005 Invertebrate data"
I have got excel data for the study below.

Sites on Page 2. All sites listed as Foothill should be Upper Foothill on FBIS as refined geomorphological zone. River Eerste 1 should be Eerste. The sites dont need a date, you will use the data in excel to generate the date.

Hard copy of report should be in office.  If not I can send to you.

Study Reference: SCHAEL, D.M. and KING, J.M. 2005. Western

[2020-11-06 06:26] helendallas commented on #113
@Aneri16 Thanks Aneri. Looks fine.

[2020-11-06 06:26] #113 closed, assigned to philipfrenzel, aneriswanepoel

[2020-11-19 09:30] helendallas opened #118 "Change owner from Aneri Swanepoel to correct owner"
@Aneri16 For some reason you have been assigned ownership of these data. Please can you edit and assign correct owner.

https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=[%22Aneri%20Swanepoel%22]&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=21&validated=&sourceColle

[2020-11-19 09:32] helendallas commented on #118
Can you also please figure out if these data were captured on the FBIS site or ingested, if the latter then we need to make sure ingested data are correctly assigned ownership.

[2020-11-19 12:19] aneriswanepoel commented on #118
@helendallas okay will have a look tomorrow

[2020-11-20 07:06] aneriswanepoel commented on #118
@helendallas
I have tried to edit one of the sites so far - G1KUIL-00003
The correct collector/owner is F Mwangi.
However, when I replaced my name with F Mwangi, your name got added as Collector for some reason. I am logged in as myself.

![Owner collector error](https://user-images.githubusercontent.com/55532903/99769773-87eea580-2b0f-11eb-826f-ad63c26809e9.png)

![collector error](https://user-i

[2020-11-20 07:19] aneriswanepoel commented on #118
@helendallas and then for another site G1KUIL-00009 I've had a look at whether data has been uploaded or ingested.
The invert data has been uploaded by me (again F Mwangi data) but the fish data was ingested with Cape Nature SOB Database as source and Cape Nature specified as Author in the spreadsheet. However the Author column in the metadata table is blank.

![Author blank](https://user-images.g

[2020-11-24 09:42] helendallas commented on #118
@Aneri16 Okay, I am not sure what is going on. Perhaps leave for now.

[2020-12-07 12:16] helendallas commented on #58
@Aneri16 All these SASS data have you listed as owner. Please can you edit and change

![image](https://user-images.githubusercontent.com/45286876/101349674-565b3580-3896-11eb-8cd4-bff0fc640d0d.png)

To
![image](https://user-images.githubusercontent.com/45286876/101349744-712daa00-3896-11eb-9c47-b91382a1050f.png)

Here is a spreadsheet to assist you.  Only ones is red need fixing.

Please ask if y

[2020-12-07 12:16] #111 closed, assigned to aneriswanepoel

[2021-02-03 15:06] helendallas opened #119 "King and Schael 2001 Invertebrate data"
@aneri Please can extract data from King and Schael 2001

File template to use is here: SA Invertebrate Data for FBISv5.xlsx
https://www.dropbox.com/sh/oyedi12bigmfzza/AAAa7X8Yi4bdJYLKr7SrfUfwa?dl=0

And the master list for checking taxa against.
SA Invertebrate Master List FBISv3_2020_10_16.xlsx

Please name data accordingly, thanks.

River and sites information is in Table 5.1. Ignore Zone
Appen

[2021-02-03 15:12] helendallas commented on #117
Closing ticket as this report used the data from King and Schael 2001

[2021-02-03 15:12] #117 closed, assigned to nobody

[2021-02-03 15:13] #106 closed, assigned to jeremyshelton, helendallas, aneriswanepoel

[2021-03-17 11:49] aneriswanepoel commented on #119
Completed - just need to generate the UUIDs. File is on Dropbox: https://www.dropbox.com/s/ltxb2w8eemv5hxc/King%20%26%20Schael%20invert%20data%20March%202021.xlsx?dl=0

[2021-04-12 08:43] helendallas opened #120 "Dallas 1992 Berg River data"
Please can you revise attached data file into the FBIS data template
[SA Invertebrate Data for FBISv5.xlsx](https://github.com/helendallas/FRC_FBIS/files/6295140/SA.Invertebrate.Data.for.FBISv5.xlsx)
 Is on dropbox:
https://www.dropbox.com/sh/oyedi12bigmfzza/AAAa7X8Yi4bdJYLKr7SrfUfwa?dl=0

Use the FBIS Site Code is red a,d the Taxon in red.

[Dallas 1992 Berg River.xlsx](https://github.com/helenda

[2021-04-19 09:36] helendallas opened #121 "Update Knowledge database of Source References"
The knowledge database of source references needs to be updated to reflect what has been done, with comments on any specific issues

[2021-05-13 06:20] aneriswanepoel opened #122 "Fish and invertebrate data for AWARD"

[2021-05-14 06:37] aneriswanepoel commented on #122
Received the following data from Kyle on 30 April 2021:

1. SASS data from Robin Peterson
- Still to be uploaded onto FBIS

2. Fish data from Andrew (?)
- Must still have a look at the data and check it has not already been extracted as part of the other data sets

3. Fish data from Robin Peterson
- Still to be extracted

4. Nothobranchius fish data from Brian Watters
- Still to be extracted

5. K

[2021-05-24 12:25] Janette-Lumley commented on #120
@helendallas I have uploaded the spreadsheet to dropbox:
https://www.dropbox.com/s/jup0ybsmytennhl/Dallas%20H.%20and%20Day%20J.%201991.xlsx?dl=0

I have checked the data using your guidline doc. I just need to add the document upload link.

[2021-06-14 12:52] aneriswanepoel opened #123 "1. Kruger National Park fish database"
3277 fish records extracted from KNP 2009 fish data
Ready for ingestion into FBIS

[2021-06-14 12:54] aneriswanepoel opened #124 "2. Rivers of Life Inkomati fish data 2020"
438 fish records extracted from Rivers of Life 2020 Inkomati study
Ready for ingestion into FBIS

[2021-06-14 12:57] aneriswanepoel opened #125 "Nepid fish data for AWARD"
Busy splitting Nepid fish data into two separate data sets:
1. AWARD-relevant fish data
2. Fish data not relevant to AWARD

[2021-06-14 13:00] aneriswanepoel opened #126 "Other Nepid fish data"
Busy splitting Nepid fish data into two separate data sets:

1. AWARD-relevant fish data
2. Fish data not relevant to AWARD

[2021-06-14 13:06] aneriswanepoel opened #127 "Kruger National Park SASS data"
SASS data to be entered into FBIS with Hendrik Sithole as collector

[2021-06-14 13:08] aneriswanepoel opened #128 "Brian Watters Nothobranchius data"
To be extracted

[2021-06-14 13:10] aneriswanepoel opened #129 "SANParks – Limpopo & Komati (RHAM - Robin Petersen)"
To be extracted

[2021-06-14 13:11] aneriswanepoel opened #130 "5. Ian Russell PhD fish data"
To be extracted

[2021-06-14 13:12] aneriswanepoel opened #131 "6. Louis Olivier thesis fish data"
To be extracted

[2021-06-16 12:31] helendallas commented on #119
@aneriswanepoel
Please confirm why the conductivity values are highlighted, thanks

[2021-06-16 12:51] helendallas commented on #118
@aneriswanepoel Please change ownership for these sites to the correct owner, You are listed as the owner.

![image](https://user-images.githubusercontent.com/45286876/122222173-4dd16080-ceb2-11eb-87a6-67e819f783b3.png)

[2021-06-17 13:17] helendallas opened #132 "Dallas and Day 1992 Invertebrate data"
Please consolidate invertebrate data for this study using the excel file attached.

[Dallas 1992 Berg River.xlsx](https://github.com/helendallas/FRC_FBIS/files/6670468/Dallas.1992.Berg.River.xlsx)

[2021-06-17 13:20] helendallas commented on #132
@Janette-Lumley Thanks, mostly looks fine. Some notes for future:

I changed sampling over 3 days as this is what it said in the methods
Only the stones biotope was sampled with two replicates, the marginal veg was a single sample
The conductivity has not been converted, it is given a microS/cm so needs to be divided by 10 to get to mS/m. I will do this.

![image](https://user-images.githubusercon

[2021-06-17 13:25] helendallas commented on #120
@Janette-Lumley Thanks, mostly looks fine. Some notes for future:

I changed sampling over 3 days as this is what it said in the methods
Only the stones biotope was sampled with two replicates, the marginal veg was a single sample
The conductivity has not been converted, it is given a microS/cm so needs to be divided by 10 to get to mS/m. I will do this.

![image](https://user-images.githubusercon

[2021-06-17 13:26] helendallas commented on #112
Revisions made, new file is on 👍 dropbox:
https://www.dropbox.com/s/aqpbp6480bbcyg3/SA%20Invertebrate%20Master%20List%20FBIS_2021_06_16.xlsx?dl=0

[2021-06-17 13:30] #55 closed, assigned to philipfrenzel, aneriswanepoel, Janette-Lumley

[2021-06-17 14:02] #77 closed, assigned to mokajee

[2021-06-17 14:14] jeremyshelton commented on #98
@helendallas looks like this is all sorted.
Closing ticket.

[2021-06-17 14:14] #98 closed, assigned to aneriswanepoel

[2021-06-17 14:34] helendallas commented on #119
Also please indicate why some taxa are highlighted. Thanks

[2021-06-17 14:38] jeremyshelton commented on #91
@helendallas I think the idea was that it would be useful for the FBIS form to auto-calculate CPUE, and for this to be included in the downloaded csv.....but this might not be that straightforward because effort can be time or area etc. But maybe something with trying?

[2021-06-18 12:00] aneriswanepoel commented on #119
@helendallas
Conductivity was highlighted because I needed to check that the values were in the correct units (I had to convert μS/cm to mS/m but I must have just forgotten to clear the highlighting afterwards) and the taxa were highlighted because I needed to check against the masterlist for spelling but again forgot to clear the highlighting afterwards. I have cleared the highlighted sections on

[2021-06-18 12:12] aneriswanepoel commented on #118
@helendallas that's really odd because I just checked those sites now and do not see my name as owner. Instead can only see the following:
E2GROO-EWR06 owner listed as Helen Dallas
H2HEXR-00005 & H2HEXR-00029 owner listed as D. Christie
H6DUTO-00055 owner listed as Kate Snaddon

[2021-06-24 07:13] aneriswanepoel commented on #125
Data split into AWARD and non-AWARD regions to the best of my knowledge but may need to confirm some rivers/areas. Conductivity values divided by 10

[2021-06-24 07:13] aneriswanepoel commented on #126
Data split into AWARD and non-AWARD regions to the best of my knowledge but may need to confirm some rivers/areas. Conductivity values divided by 10

[2021-06-24 09:27] aneriswanepoel commented on #129
Complete

[2021-06-28 08:55] aneriswanepoel commented on #130
Complete but need to add Document Upload Link once document has been added to FBIS

[2021-07-01 09:53] aneriswanepoel commented on #128
No useful information

[2021-07-02 09:53] helendallas commented on #123
Duplicates found and removed by @aneriswanepoel

@aneriswanepoel to carefully check all Owners and dates, to make sure these are not included in other datasets, and that the dates are accurate.

All issues need to be captured in a separate spreadsheet and emailed to Robin for clarification

[2021-07-02 09:54] helendallas commented on #129
@aneriswanepoel
Also duplicates here – please check.

I recommend that you always sort the data as follows:

Original River Name
Original Site Code
Sampling Date
Taxon

Then add the concatenate column and duplicates checker before finalising the dataset.

[2021-07-02 09:55] helendallas commented on #124
@aneriswanepoel has emailed KM to check on source reference, as all data currently listed as unpublished

[2021-07-02 09:57] helendallas commented on #130
@aneriswanepoel

Still to upload pdf of thesis (when ready on FBIS) and add to excel file before uploading.

Sampling date not specified in excel data file although 3 x winter surveys (May - September 1987, 1988 & 1989) & 1 x summer survey (November 1987 - February 1988) were undertaken; and methods used included seine netting and electro-fishing.

[2021-07-02 09:59] helendallas commented on #128
Reviewed but unable to extract any data. FRC received one or two reports/articles, neither of which included any occurrence data.

[2021-07-02 10:00] helendallas commented on #125
8581 records extracted, consolidated and ready for uploading to FBIS, potential duplicates and source references need to be checked. Awaiting input from KM who has contacted Robin Petersen from SANParks. Note number of records might change after this process. There is a strong likelihood that many of these records are duplicated in other datasets. FRC will also email Rob Palmer for clarification.

[2021-07-06 10:18] aneriswanepoel commented on #124
Duplicate issue resolved.

[2021-07-06 10:58] aneriswanepoel commented on #129
Duplicates checked - its to do with the Biotopes classified as "Mixed" but the specific biotopes are detailed in the Site Description column. So not actually duplicates.

[2021-07-06 11:47] aneriswanepoel commented on #131
Co-ordinates updated and checked for duplicates.

[2021-07-06 11:49] aneriswanepoel opened #133 "7. Andrew Deacon FRAI survey data"
To be extracted from FRAI spreadsheets

[2021-07-08 07:25] aneriswanepoel commented on #133
@helendallas
Methods not specified in the raw data so have selected "Unspecified". I am also not sure what the source of this data is.

[2021-07-08 08:49] helendallas opened #134 "Nepid Fish data - remaining"
The full Nepid  fish dataset received from Kyle needs to be edited to remove subsets of data. PLease work with the full dataset and not the two separate ones split into Award and non-Award.

I spoke to Rob Palmer - the person who collated the database, and he was not even aware it had been shared with us.  A large portion of the dataset includes SAIAB data which we already harvest from GBIF.

He i

[2021-07-08 08:54] helendallas commented on #123
@aneriswanepoel Please can you update ticket, rather than in an email
Thanks

[2021-07-08 08:55] helendallas commented on #124
@aneriswanepoel Please can you provide more detail in the ticket on what the issues were and how they were resolved. thanks

[2021-07-08 09:35] aneriswanepoel commented on #123
@helendallas

Owners checked against other datasets for duplicate data - found duplicates that are in the IA Russell thesis spreadsheet. Duplicates removed from KNP 2009 sheet, amounting to 238 duplicates removed.

Only potential duplicate data is from L Olivier (same as the L Olivier thesis data) with the only difference being the year recorded as 1905 in the KNP 2009 dataset. This is likely wron

[2021-07-08 09:45] aneriswanepoel commented on #124
@helendallas
Duplicate data was due to Biotope/Substratum data that was initially not included in the dataset but has since been included so there are no more duplicates.

[2021-07-08 12:11] helendallas commented on #123
Thanks @aneriswanepoel

Please remove L Olivier records from this dataset.
Please extract A Deacon 1905 & 1972 records from this dataset and create a separate excel file for checking later. I suspect Robin wont respond timeously.

Revise Team to read : "KNP Fish team"

[2021-07-08 12:28] helendallas opened #135 "8. SAEON Fish data"
Data excel file received from file. Edited for uploading to FBIS.

Some issues noted:
I have done some editing and checking of the SAEON fish data for uploading to FBIS and am finding some duplicate entries. Please see column AX, highlighted in red. The numbers are different so I suspect that these were possibly different Broad biotopes , which you have not specified in the spreadsheet – please se

[2021-07-08 12:37] helendallas commented on #124
@aneriswanepoel Were there no fish broad biotopes included ?
Slow-Shallow
Slow-Deep
Fast-Shallow
Fast-Deep

[2021-07-08 12:40] helendallas commented on #133
@aneriswanepoel Thanks looks fine. Where did you find the lats/longs?

[2021-07-08 12:42] aneriswanepoel commented on #124
@helendallas no, only substrate data was given

[2021-07-08 12:44] aneriswanepoel commented on #133
@helendallas I actually found a report that had used the same sites so was able to find the co-ordinates there for two of the sites, and for the other two sites the co-ordinates were given already

[2021-07-08 12:46] helendallas commented on #133
Great thanks @aneriswanepoel

[2021-07-08 13:02] aneriswanepoel commented on #134
@helendallas I have so far addressed the first three issues (bullet points) and just putting it here while it is still fresh in my mind:

1. SAIAB data checked against raw spreadsheet and removed from Nepid spreadsheet.

2. - The only Rivers Database data on FBIS is for 1996, 1997, 1998, 1999, 2000 and 2004; there is no 1989 data on FBIS..
    - In the Nepid spreadsheet (IWQS - Neels Kleynhans dat

[2021-07-08 13:15] helendallas commented on #129
@aneriswanepoel This descriptions are the biotopes GHU means Geomorphological Habitat Unit so a description of specific biotope
So I used description to give specific biotope, for pool-run selected pool, for run-riffle selected run, and then kept description in for details.

[2021-07-08 13:25] aneriswanepoel commented on #129
@helendallas ah okay I see, thanks.

[2021-07-08 13:36] helendallas opened #136 "9. U Pienaar Kruger fish data"
@aneriswanepoel

I have extracted all data owned by U Pienaar from the Kruger database. The original owner and citation needs to be the Source Reference.

9. U Pienaar 2060 Kruger fish data

[2021-07-08 13:53] helendallas commented on #123
@aneriswanepoel

I extracted all U Pienaar data and created a separate file as these data don't belong to Kruger Park.
I have made all data = "Database" This is easier to manage in the future

I standardised database names;
**River Health Programme**

I renamed: Kruger National Park fish data and Kruger National Park Fish Data 2009
to **Kruger National Park fish database**

I replaced: South Afric

[2021-07-08 14:01] helendallas commented on #129
@aneriswanepoel
These data should really be combined with the Kruger dataset,. Data added to Kruger fish database. Ticket closed.

[2021-07-08 14:02] #129 closed, assigned to aneriswanepoel

[2021-07-08 14:04] helendallas commented on #123
Data from #129 added to Kruger National Park Data and source all made Kruger National Park Fish Database

[2021-07-08 14:11] helendallas commented on #128
@aneriswanepoel
Can you please email Brian to see if he is able to provide georeference for the sites, How much data are there?

![image](https://user-images.githubusercontent.com/45286876/124936395-cab1af00-e006-11eb-8360-1dd9ff15672e.png)

[2021-07-08 15:03] helendallas commented on #124
Gordon O'Brian of Rivers for Life emailed re this dataset

[2021-07-09 06:34] aneriswanepoel commented on #128
@helendallas I have tried to email him but email has failed to send... think the address is correct but it automatically failed due to anti-spam

[2021-07-09 07:18] helendallas commented on #133
@aneriswanepoel Please check that none of Andrew's data is in the Kruger database, thanks

[2021-07-09 08:54] helendallas commented on #136
@aneriswanepoel Please can you check the paper to see if there are any more details about sampling date and or biotope, sampling effort etc. Thanks
https://koedoe.co.za/index.php/koedoe/article/view/761

[2021-07-09 09:28] aneriswanepoel commented on #136
@helendallas no specific dates given. Survey conducted over ten years with various methods used - I have included this in the notes column.

[2021-07-09 09:37] helendallas commented on #135
Emailed Kyle on the 9 July to check on duplicates. Awaiting feedback.

[2021-07-09 09:38] helendallas commented on #126
Closing ticket as decision to have a single dataset of all Nepid data -  which will then be split into relevant sub datasets for example Mike Coke KZN needs to become a single dataset

[2021-07-09 09:38] #126 closed, assigned to aneriswanepoel

[2021-07-09 09:44] aneriswanepoel commented on #133
@helendallas checked for duplicates. Duplicates removed from FRAI dataset

[2021-07-09 09:47] helendallas opened #137 "SAEON SASS data"
SASS data received from SAEON has been entered by Kyle Middleton into FBIS. There are however some outstanding issues that need to be resolved. some sites and data are missing.

Mainstem sites  =4
![image](https://user-images.githubusercontent.com/45286876/125058877-fb4b2480-e0aa-11eb-8a5d-a60ef8cf259a.png)

Tributaries  =2 sites
![image](https://user-images.githubusercontent.com/45286876/12505906

[2021-07-09 09:59] helendallas commented on #123
@aneriswanepoel Please check if any of these sites already exist on FBIS, for example, Crocodile river @ Crocodile Bridge is X2CROC-CROCB.
Then add this code to the FBIS Site Code column. The data will then be added to this site.

[2021-07-09 10:01] helendallas commented on #127
@aneriswanepoel Please check if any of these sites already exist on FBIS, for example, Crocodile river @ Crocodile Bridge is X2CROC-CROCB.
Then add this code to the FBIS Site Code column. The data will then be added to this site.

I suggest you check all the sites using coordinates on FBIS, if the site exists with river health code, then use this.

[2021-07-09 10:09] helendallas commented on #133
@aneriswanepoel Please check if any of these sites already exist on FBIS, for example, Crocodile river @ Crocodile Bridge is X2CROC-CROCB.
Then add this code to the FBIS Site Code column. The data will then be added to this site.

[2021-07-09 10:09] helendallas commented on #122
Closing ticket as overview

[2021-07-09 10:09] #122 closed, assigned to aneriswanepoel

[2021-07-09 10:10] helendallas commented on #121
Closing ticket as preference for separate tickets for each dataset

[2021-07-09 10:10] #121 closed, assigned to nobody

[2021-07-09 11:51] helendallas opened #138 "Riviersonderend Data Southern Waters - algal data"
Please extract the relevant algal data from the report. Using site descriptions and species list.

First check if the data are already in FBIS, thanks

[2021-07-09 11:51] helendallas opened #139 "Riviersonderend Data Southern Waters - Invertebrate data"
Please extract the relevant invertebrate data from the report. Using site descriptions and species list

[2021-07-09 11:53] helendallas opened #140 "Checking RHP SASS data - hard copy vs FBIS"
Please work through raw SASS datasheets and check if the data are already captured on FBIS.

If they are not, and there is enough information, please capture the data.

[2021-07-09 13:18] helendallas opened #141 "10a. Mike Coke & KZN river fish data"
All data listed as Data provided by Mike Coke of Natal Parks Board/EKZNWildlife have been extracted from Nepid Database.

@aneriswanepoel Please can you go through this data and remove all records where the Original River Name is not specified. This extracted data can then be labelled **Mike Coke & KZN wetland fish data** and will be uploaded at a later stage. Please create a new folder for wetlan

[2021-07-12 07:46] aneriswanepoel commented on #130
@helendallas PDF has been uploaded to FBIS and DUL copied into the spreadsheet so this is ready for FBIS ingestion

[2021-07-12 09:23] aneriswanepoel commented on #134
@helendallas I have finished checking this dataset:

4. M Angliss 2007 data - extracted in 2020 as part of Mo's expert data and ingested to FBIS; removed from Nepid spreadsheet
5. Nepid data - Source edited
6. AfriDev Consultants - J Engelbrecht listed as Collector in raw data sheet

[2021-07-12 10:15] aneriswanepoel commented on #127
@helendallas sites checked against those on FBIS - 13 out of 25 already on FBIS with river health codes. FBIS Site Code Column updated accordingly.

[2021-07-12 10:17] aneriswanepoel commented on #133
@helendallas sites checked against those on FBIS - 13 out of 25 already on FBIS with river health codes. FBIS Site Code Column updated accordingly.

[2021-07-12 10:17] aneriswanepoel commented on #123
@helendallas sites checked against those on FBIS - 13 out of 25 already on FBIS with river health codes. FBIS Site Code Column updated accordingly.

[2021-07-12 10:32] aneriswanepoel commented on #124
@helendallas existing FBIS codes for three sites added to spreadsheet

[2021-07-14 07:20] aneriswanepoel commented on #141
@helendallas data has been split. A lot of records without Original River Name are specified as dams/streams/reservoirs etc in the Site Description column, so these records have been kept in the original file. The rest (specified as wetlands/swamps/pans etc in the Site Description column) have been added to the **Mike Coke & KZN wetland fish data** file. This also includes any St Lucia records.

[2021-07-14 12:25] aneriswanepoel commented on #130
@helendallas some sites in this data are also existing RHP codes that are on FBIS so have updated accordingly

[2021-07-15 12:40] aneriswanepoel commented on #123
@helendallas I had a Zoom with Robin to clarify some points:

- He is going to look at the KNP drive and get back to me re the 1905 Andrew Deacon data.
- As we thought, the 1905 Olivier data is the same data from his thesis.
- TEAM is a group of students, and led by Robin, that collected data so he said we can reference him as the Collector/Owner.
- We must acknowledge SANParks for the collection

[2021-07-19 10:06] helendallas commented on #135
Response from Kyle: Dated 13 July 2021.
I spoke to Tony Swemmer. He said he will go through the original datasheets to check where the duplicates may have come from.

[2021-07-19 10:23] helendallas commented on #141
@aneriswanepoel I suggest you extract records using the province = KZN filter. Then download the csv file and compare with datafile. Make sure GBIF is clicked on.

[2021-07-19 11:56] helendallas opened #142 "1a. KNP data from Nepid for checking with 1"
@aneriswanepoel

These data have been added to KNP database. And checked for duplicates.

[2021-07-19 11:57] helendallas commented on #123
Data extracted from Nepid that were labelled as Source = Kruger have been combine with data in this file.
See ticket #142

[2021-07-19 12:21] #142 closed, assigned to helendallas

[2021-07-19 12:26] helendallas opened #143 "11. River Health Programme fish data"
RHP fish data extracted from KNP and Nepid databases and used to create a new database.
11. River Health Programme Kruger data

[2021-07-19 12:43] helendallas opened #144 "12. TPA Nature Conservation Neels Kleynhans"
@aneriswanepoel I have extracted these data from NEPID database and emailed Neels.

12. Institute for Water Quality Studies Neels Kleynhans

[2021-07-19 12:50] helendallas opened #145 "13. Nepid fish database Rob Palmer"
@aneriswanepoel Data owner by Nepid, Rob Palmer, have been extracted and given their own file.

[2021-07-19 12:55] helendallas opened #146 "14. Clean Stream Biological Services"
@aneriswanepoel I have extracted all fish data from Nepid database owned by Clean Stream Biological Services and created its own file. I have emailed Pieter Kotze re uploading data to FBIS.

14. Clean Stream fish database

[2021-07-19 13:20] helendallas opened #147 "15. AfriDev Consultants J Engelbrech"
@aneriswanepoel Fish data extracted from Nepid.

15. AfriDev Consultants J Engelbrecht

[2021-07-19 13:28] helendallas opened #148 "16. Ecosun"
@aneriswanepoel Extracted from Nepid dataset -
16. Ecosun

[2021-07-19 13:29] helendallas opened #149 "17. Mpumalanga Tourism and Parks Agency"
@aneriswanepoel Data extracted from Nepid dataset

17. Mpumalanga Tourism and Parks Agency

[2021-07-20 08:33] helendallas commented on #144
@helendallas emailed Neels re this data . It needs to be cited as Transvaal Provincial Administration Nature Conservation as the organisation.

[2021-07-20 11:06] jeremyshelton opened #150 "Leon Barkhuizen fish data"
@mokajee has email Leon regarding sampling dates and waiting for response. Data will then be ready for ingestion.

[2021-07-20 11:12] aneriswanepoel opened #151 "Expert & Gauteng fish data"
@aneriswanepoel busy checking data for duplicates before ingestion.

[2021-07-20 12:17] aneriswanepoel commented on #151
All duplicates removed

[2021-07-21 06:52] helendallas opened #152 "Check SASS data per province - Western Cape"
Several issues exist with the SASS data in FBIS which need to be systematically checked.

I have created a folder on FRC_FBIS Data for Consolidation/SASS Data checking FBIS

Two files: invert sass ihas v3.1Jul17.xlsx (This is the original Rivers database SASS data) -  highlighted columns include

RHP Site Code
Sampling Date
Site Visit Owner

File to check is: WC Multiple SASS Summary.xlsx (Extract

[2021-07-21 09:38] mokajee commented on #150
Leon replied. All data extracted. @aneriswanepoel to double check and upload.

[2021-07-21 09:39] mokajee opened #153 "Wynand Vlok Fish Data"
@mokajee to sort, clean and extract data.

[2021-07-21 09:41] mokajee opened #154 "Department of Water Affairs - Free State Fish Data"
@mokajee to extract data from report sent by Leon Barkhuizen

[2021-07-21 10:48] jeremyshelton commented on #150
Nice one - than @mokajee

[2021-07-21 11:50] helendallas commented on #97
@jeremyshelton This was in the FBIS project, moved it to fish. Not sure if it has been actioned yet.

[2021-07-21 11:55] jeremyshelton commented on #97
@helendallas it looks like we have most of the [published SAIAB Rondegat fish data](https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=RONDEGATRIVIER&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCatego

[2021-07-22 07:17] aneriswanepoel commented on #141
@helendallas data checked against the KZN GBIF data from FBIS and duplicates between the two removed. Also checked for duplicates within the Mike Coke data and removed.

[2021-07-22 08:59] helendallas commented on #141
Thanks @aneriswanepoel

I am still a bit concerned that some of the data here is also being brought down by GBIF. The collector names are often old JLB Smith or SAIAB.  please can you ask @jeremyshelton to check through these as well.

Also lets ask Dimas how we can check for duplicates during the upload process. I dont know how the duplicate functionality is working.

[2021-07-22 10:38] aneriswanepoel commented on #136
@helendallas error file successfully loaded onto testing site so ready for live site ingestion

[2021-07-22 10:38] aneriswanepoel commented on #133
@helendallas successfully loaded onto testing site so ready for live site ingestion

[2021-07-22 10:39] aneriswanepoel commented on #144
@helendallas successfully loaded onto testing site so ready for live site ingestion

[2021-07-22 10:39] aneriswanepoel commented on #145
@helendallas successfully loaded onto testing site so ready for live site ingestion

[2021-07-22 10:40] aneriswanepoel commented on #130
@helendallas successfully loaded onto testing site so ready for live site ingestion

[2021-07-22 10:40] helendallas commented on #146
@aneriswanepoel Please check the data that Mo has from Clean Stream and combine with this file. Then all data become the Clean Stream Biological Services Database

[2021-07-22 10:42] helendallas commented on #141
@aneriswanepoel Thanks for clarifying. As chatted about, re-harvest data from GBIF and then run the duplicates check again. Then once any duplicates are removed these data can be uploaded.

It may also be worth checking if Mo received any data from KZN wildlife and checking for duplicates before uploading.

[2021-07-22 10:46] helendallas commented on #148
@aneriswanepoel
Please check for any datasets from Ecosun or Rohanne Rall and then combine with this one and check for duplicates.
Ecosun Database

[2021-07-22 10:52] helendallas opened #155 "18. Golder Consultants - Letaba, Olifants & Shingwedzi RRD"
@aneriswanepoel
Mo received a lot of data from Warren Aken. The data in 18. Golder Consultants.xlsx includes some data from Warren as well as Golder consultant.  Please can you check the datasets and preferably combine into one, if the actual study are listed as different sources then also best to keep as is. Ideally it would be best to have the pdf of the report that goes with each source.

[2021-07-22 10:58] helendallas commented on #131
Uploaded to FBIS, checked all fine. Ticket closed

[2021-07-22 10:58] #131 closed, assigned to aneriswanepoel

[2021-07-22 10:59] aneriswanepoel commented on #143
@helendallas successfully uploaded to testing site so ready for live site ingestion

[2021-07-22 11:30] aneriswanepoel commented on #146
@helendallas okay data has been combined, checked for duplicates and river health codes added for some sites

[2021-07-22 11:46] aneriswanepoel commented on #136
Uploaded to FBIS live

[2021-07-22 11:46] aneriswanepoel commented on #133
Uploaded to FBIS live

[2021-07-22 11:59] helendallas commented on #136
@aneriswanepoel Please also check site localities, for e.g this one must be wrong

https://freshwaterbiodiversity.org/location-site-form/update/?id=65862

[2021-07-22 12:08] aneriswanepoel commented on #136
@helendallas those would have been the co-ordinates given with the AWARD data. Since the study was done in 1960 I'm assuming the co-ordinates aren't 100% accurate so not sure what to do

![image](https://user-images.githubusercontent.com/55532903/126636782-72f8b883-59cd-41d4-ab1e-3b3bc9c56bb6.png)

[2021-07-22 12:11] helendallas commented on #136
@aneriswanepoel Challengin, leave for now, but we will need to try and get better coordinates perhaps by liaising with Robin who know the area. thanks

[2021-07-22 12:16] aneriswanepoel commented on #133
@helendallas seems the existing FBIS codes were not acknowledged when ingested and new codes were created instead. Will create a ticket too.

[2021-07-22 12:29] aneriswanepoel commented on #130
@helendallas uploaded to live site but similar issue with existing FBIS codes not being linked to the new data

[2021-07-22 12:35] aneriswanepoel commented on #149
@helendallas there are some sites here that are already on FBIS as river health codes so I need to go through them and update this spreadsheet before uploading to FBIS

[2021-07-22 12:41] aneriswanepoel commented on #123
@helendallas holding off on FBIS live ingestion until Dimas has sorted out existing codes issue

[2021-07-22 12:42] aneriswanepoel commented on #143
@helendallas holding off on FBIS live ingestion until Dimas has sorted out existing FBIS codes issue

[2021-07-22 13:08] aneriswanepoel commented on #144
Uploaded to live site

[2021-07-22 13:12] jeremyshelton opened #156 "Adding back the data that Dimas deleted"
@aneriswanepoel it's now time to add back the corrected versions of that data deleted by Dimas months back.
It's the '15 June' spreadsheet on dropbox: https://www.dropbox.com/s/57xwgcakmkpc15p/FBIS%20Fish%20Data%20for%20upload%2015%20June.xlsx?dl=0

Before uploading we need to (1) make sure the data match the fish upload template precisely and (2) add FBIS site codes for the existing Snaddon et al

[2021-07-23 09:20] aneriswanepoel commented on #156
@jeremyshelton okay done and renamed to "23 July"

[2021-07-23 09:53] jeremyshelton commented on #156
Thanks @aneriswanepoel
I have created a .CSV
Keen to try upload to FBIS....or shall we wait to Dimas to fix site code issue?

I have invited you and @mokajee to the FBIS2 folder.
This is where the fish occurrence data live:

<img width="378" alt="Screen Shot 2021-07-23 at 11 50 33 AM" src="https://user-images.githubusercontent.com/44292029/126765892-561f5208-ee4b-4955-b809-c38bad834d83.png">

[2021-07-23 10:20] aneriswanepoel commented on #156
@jeremyshelton I think we should wait until Dimas has fixed the codes issue

[2021-07-23 10:22] aneriswanepoel commented on #148
@helendallas checked for duplicates, but I'm not aware of any other J Rall/Ecosun data

[2021-07-23 10:25] jeremyshelton commented on #156
Agreed.

[2021-07-23 11:43] aneriswanepoel commented on #155
@helendallas data has been combined into one spreadsheet. I am not sure where/how to get the PDFs for the two reports. The third batch of data (from Mo) is Unpublished data.

[2021-07-23 11:44] aneriswanepoel commented on #151
Pieter Kotze, Golder & Warren Aken data removed, and added to their respective database spreadsheets created by Helen. This data is in the AWARD folder

@mokajee @jeremyshelton

[2021-07-23 12:25] aneriswanepoel commented on #145
Uploaded onto live site

[2021-07-23 12:40] aneriswanepoel opened #157 "Update on data uploads - 23 July 2021"
1. Six fish datasets successfully uploaded onto Live site (found in Dropbox folder: Uploaded CSV). The issues were:
   - 7. Deacon FRAI data - existing FBIS codes not pulled through with ingestion; Dimas to fix
   - 5. IA Russell thesis data - existing FBIS codes not pulled through with ingestion; Dimas to fix
2. Remaining four datasets (found in Dropbox folder: Checked and ready CSV) to be upload

[2021-07-23 13:02] jeremyshelton commented on #157
Great work.
Thanks @aneriswanepoel

[2021-07-26 06:45] aneriswanepoel commented on #128
@helendallas I have emailed Robin Petersen about an alternative email address, or if he knows where I can access the study

[2021-07-26 06:57] aneriswanepoel commented on #147
@helendallas successfully loaded onto testing site but holding off on live site ingestion until Dimas has sorted out the existing site code issue

[2021-07-27 10:20] helendallas commented on #137
As per email from @Kyle-Mark the SASS data is all captured.
@aneriswanepoel Please can you run queries to check the data, thanks

[2021-07-28 10:16] aneriswanepoel commented on #137
@helendallas I have gone through the SASS data that Kyle sent through, and it seems that there is still quite a bit missing from FBIS...there should be more than 8 sites (according to the spreadsheet there are 21 sites with SASS data)

![image](https://user-images.githubusercontent.com/55532903/127305566-ed7a3fea-5446-428c-b534-7632859d46d9.png)

For the sites that are on FBIS, there also seems to

[2021-07-28 10:29] aneriswanepoel commented on #137
@helendallas search results with Validated and Non-Validated selected:

![image](https://user-images.githubusercontent.com/55532903/127307834-c2ac4eef-e671-4439-bb3b-b4e11057a17c.png)

[2021-07-28 10:38] aneriswanepoel commented on #137
@helendallas Okay SASS data comes up when specifying TD Mohlala as owner:

![image](https://user-images.githubusercontent.com/55532903/127308911-56d27a91-6f75-49ae-8951-52b29d26fba7.png)

Not sure why the data doesn't come up when searching for the study reference though..

[2021-07-28 10:40] helendallas commented on #137
Thanks @aneriswanepoel
Please can you email Kyle and follow up with him. I think perhaps he needs to send you the data so that we can figure out what is missing.

[2021-07-28 10:51] aneriswanepoel commented on #137
@helendallas so it seems all the data is there (I've checked the spreadsheet that Kyle sent through) and the metadata is correct. So it has been entered correctly. However, if you search by Study Reference, FBIS only returns 8 sites where it should return 21 sites. But if you search by Owner as TD Mohlala, FBIS returns all 21 sites.

[2021-07-28 10:53] helendallas commented on #137
@aneriswanepoel Oh dear, please can you email Dimas with links so he can check and revert. Thanks

[2021-07-28 11:26] Kyle-Mark commented on #137
Hi Helen and Aneri

I also encountered that issue of it not finding the study references. It also couldn't find site codes when I searched for them but when I input the coordinates, it showed them.
As for the dates that are missing from the data, this came about when I checked everything to look for possible reasons for why the SASS scored would have differed between samples. Within the data, ther

[2021-07-28 11:55] aneriswanepoel commented on #137
Thanks @Kyle-Mark
I'm going to email Dimas and see if he can figure out why the Study References aren't linked to all 21 sites

[2021-07-29 08:13] aneriswanepoel commented on #137
@Kyle-Mark out of interest, do you have any further info on why so many dates had to be excluded? Or why there is an Exclude for SASS column and what determined the True/False?

[2021-07-30 15:33] helendallas opened #158 "Palmer 2006 Elefantes EWR - Inverts V1.1"
@Janette-Lumley
Please can you check the existing data for the two sites in the attached file for August 2005, and then add the new data for May 2006.
Biotope ratings and physico-chemical data need to be added.

Also also please add photographs for each site for each date

All files are in the SASS Data/Rob Palmer folder in our shared dropbox
[Comparison of FBIS and Robs data 2006.docx](https://gi

[2021-08-02 10:03] Janette-Lumley commented on #139
@helendallas I have added the invert data and uploaded to dropbox. I will just need to add the document upload link once we can upload documents on FBIS again.

[2021-08-02 11:57] helendallas commented on #139
@Janette-Lumley Thanks. The pdf is already on the system as I added it when I first edited the SASS data.

[2021-08-03 07:56] Janette-Lumley commented on #158
@helendallas I have checked the data in FBIS and added the biotope ratings and water chemistry.
I also added the new data for May 2006.

[2021-08-03 08:55] Janette-Lumley commented on #138
@helendallas I have added the algal data and uploaded the spreadsheet to dropbox. Could you let me know the name of the report, I tried to search for it but couldn't find anything.

[2021-08-03 09:03] helendallas commented on #152
@Janette-Lumley Dimas said he had run an update to fix this so let me check first so that we dont waste your time. I have working today on FBIS stuff so should have some more tickets lined up for you  soon :)

[2021-08-03 09:12] helendallas commented on #158
@Janette-Lumley Thanks so much. Looks great, closing ticket.

[2021-08-03 09:12] #158 closed, assigned to Janette-Lumley

[2021-08-03 09:13] helendallas commented on #140
@Janette-Lumley Please can you update this ticket with a narrative. Doesnt have to be to detailed.

What still needs to be done with this data? or is it all sorted?

[2021-08-03 09:21] Janette-Lumley commented on #140
@helendallas I have checked all the data sheets and added the ones that weren't in FBIS. There were 3 SASS data sheets that were not entered because there were no site coordinates visible on the hard copies.

[2021-08-03 09:33] helendallas commented on #140
@Janette-Lumley Great thanks, closing ticket then

[2021-08-03 09:33] #140 closed, assigned to Janette-Lumley

[2021-08-03 09:57] helendallas commented on #58
@aneriswanepoel I have checked through these and you were still the site owner for several of these sites. I have now edited. so hope its all correct.

[2021-08-03 09:57] #58 closed, assigned to aneriswanepoel

[2021-08-03 12:30] aneriswanepoel commented on #153
@mokajee can you please clarify which species this is meant to be?
![image](https://user-images.githubusercontent.com/55532903/128015523-99081cc1-dfd4-417f-af11-b08f9818e14f.png)

[2021-08-03 12:48] aneriswanepoel commented on #153
@mokajee why is this highlighted in red? And what is the Source for the rest of the column?

![image](https://user-images.githubusercontent.com/55532903/128018023-e1c1985c-9b20-4b85-bfe3-9b196dd22ab8.png)

[2021-08-03 12:57] helendallas commented on #118
@aneriswanepoel I have gone through all these data and revised and now you are not the owner of any site. To remember:
Ownership is at both Site and Site Visit (Site + Sampling date)

Closing for now.

[2021-08-03 12:57] #118 closed, assigned to aneriswanepoel

[2021-08-03 12:59] helendallas commented on #91
@jeremyshelton I suggest we park this for now and see if it is something we have budget etc to do in the next phase.

[2021-08-03 12:59] #91 closed, assigned to jeremyshelton

[2021-08-03 13:32] helendallas commented on #139
@Janette-Lumley So so sorry, getting my wires crossed.......I uploaded the report of SASS data of Rob Palmer. This one still needs to be uploaded once Dimas fixes the functionality to do so.

[2021-08-03 13:34] helendallas commented on #138
@Janette-Lumley So so sorry, getting my wires crossed.......I uploaded the report of SASS data of Rob Palmer. This one still needs to be uploaded once Dimas fixes the functionality to do so.

[2021-08-03 14:08] helendallas commented on #15
@Janette-Lumley
Please can you check the to sets of data: both mine.

Some data were included in the Biobase which was migrated to FBIS. See Appendix A of my MSc thesis for site codes, river, site description, Lat and long.  There should be a copy at FRC. Some will have the same FBIS Site code as the Dallas and Day 1992.
The xls file is above: **Dallas 1995 Biobase data.xlsx**

I am just waiting t

[2021-08-03 14:33] helendallas commented on #119
Data checked and csv file ready for upload

[2021-08-03 14:47] helendallas commented on #119
@aneriswanepoel
You have added this link:
https://freshwaterbiodiversity.org/documents/384

But Schael is not in the FBIS Source References.  PLease can you check and revert

[2021-08-03 14:48] helendallas commented on #120
Ready except for document link for report pdf

[2021-08-04 05:52] aneriswanepoel commented on #119
@helendallas that's odd... it should be in the Source References page. @Janette-Lumley has also recently added a document via the link that Dimas provided however it also does not reflect on the FBIS Source References page. Seems like there could be a disconnect between the Geonode page and the FBIS Source References page?

[2021-08-04 07:26] aneriswanepoel opened #159 "Adding a document to FBIS (interim)"
This is the document upload process to follow until we have an "Add Document" button on FBIS:

Use this link:
https://freshwaterbiodiversity.org/documents/?limit=5&offset=0

Which will take you to the Geonode Resources page:
![image](https://user-images.githubusercontent.com/55532903/128138807-b520f3bb-0fd3-4c88-99c2-baeec4e8405a.png)

Click the "Upload Documents" button, fill out the document det

[2021-08-04 07:32] jeremyshelton commented on #159
Thanks @aneriswanepoel

[2021-08-04 08:42] helendallas commented on #159
Perfect thanks @aneriswanepoel
I have asked Dimas to prioritise source reference upload functionality but at least we have a  work around for now.

[2021-08-04 13:32] helendallas opened #160 "Dallas et al 1998 Berg River Skuifraam Dam study - chapter 7"
Please can you consolidate data from Appendix 7.1 into a spreadsheet. Add notes for species A etc into notes column.

pdf, word doc and appendix in dropbox:

**Data for Consolidation/Invertebrate data/Original data received/Dallas et al 1998**

Please first generate the spreadsheet of taxa and then let me check .

**Sites equal to these in FBIS.**

- Site C1 = G1BERG-BRBM1
- Site D2 = G1BERG-DEWDA

[2021-08-04 14:33] helendallas opened #161 "Dallas et al 1998 Breede River Chapter 4 - checking site location"
These SASS data are all already in FBIS.

Here is the url to the sites:
https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=[%22Helen%20Dallas%22]&category=&yearFrom=1995&yearTo=1995&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,primary_catchment_area,Region%20H%22]&reference=&endemic=&conservationStatus=[]&modules=21&validated=&sourceColle

[2021-08-05 07:42] helendallas commented on #159
Also please then go to Edit Bims document to complete the date and authors.
![image](https://user-images.githubusercontent.com/45286876/128311340-14489d89-137e-4932-be53-acb748245349.png)

[2021-08-05 08:08] helendallas opened #162 "Check citations in FBIS for Biobase references"
Please can you systematically work through the the **Source References** in FBIS, select **Published Report or thesis**; checking that all references in the Biobase report are included and are correct.

![image](https://user-images.githubusercontent.com/45286876/128315022-3786b20d-bca0-4b7c-9f10-439b3fc69176.png)

Please note which are missing, so we can try and find and add.

These are in the dro

[2021-08-05 10:21] helendallas opened #163 "Dallas et al 1998 Breede River Chapter 4 - checking SASS and associated data"
Once the site information has been added, see ticket #161

Url for sites:
https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=[%22Helen%20Dallas%22]&category=&yearFrom=1995&yearTo=1995&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,primary_catchment_area,Region%20H%22]&reference=&endemic=&conservationStatus=[]&modules=21&validated=&sourceCol

[2021-08-05 11:34] aneriswanepoel commented on #150
@jeremyshelton to save as CSV, then uploaded to testing before live site ingestion

[2021-08-05 11:35] aneriswanepoel commented on #153
@mokajee to address above queries
Will confirm when @jeremyshelton can save as CSV for uploading
A lot of duplicate data found and removed.

[2021-08-05 11:36] aneriswanepoel commented on #151
@jeremyshelton to save as CSV for uploading to testing before live site ingestion

A number of these records were already on FBIS so were removed from this spreadsheet.

@mokajee

[2021-08-05 12:15] Janette-Lumley commented on #162
@helendallas I have checked all the source references in the biobase and they all exist in FBIS and are correct.

[2021-08-05 12:56] helendallas opened #164 "Dallas 2005 MSc SASS data"
Please can you go through the data that may be listed as Rivers Database and revise it to read Dallas 2005, An evaluation of SASS (South African Scoring System) as a tool for the rapid assessment of water quality. Source : MSc thesis. Zoology Department, University of Pretoria, South Africa.  This is already in the source references.

[2021-08-06 05:29] jeremyshelton commented on #150
@aneriswanepoel done ✅

[2021-08-06 05:29] jeremyshelton commented on #151
@aneriswanepoel done ✅

[2021-08-06 06:56] jeremyshelton opened #165 "Shelton et al 2018 fish data - correction needed"
@aneriswanepoel there is an issue with the Shelton et al 2018 fish data from the upper Berg River.
The fish data for the uppermost site is actually meant to be from the lowermost site, and so on.

<img width="1440" alt="Screen Shot 2021-08-06 at 8 50 37 AM" src="https://user-images.githubusercontent.com/44292029/128468713-c384617e-e477-409b-8053-3251d28d054b.png">

I think the easiest way to fix t

[2021-08-06 11:01] helendallas commented on #161
As mentioned I completed this myself as sites needed me to check. Issue with updating Geomorphological zone and then saving.

[2021-08-06 11:18] helendallas commented on #163
Site codes etc in dropbox folder:
Breede river sites extracted from FBIS 2021_08_05.xlsx

All files and chapters in folder: Dallas et al 1998 Breede River

[2021-08-06 13:58] helendallas commented on #15
Helen has checked all sites and added original river name, original river code and fixed any georeference issues.

File on dropbox:
Dallas 1995/Dallas 1995 MSc data.xlsx

[2021-08-09 20:17] mokajee commented on #97
I've popped Casey a message just to confirm.

[2021-08-09 20:22] mokajee commented on #153
Fixed.

[2021-08-09 20:24] mokajee commented on #153
Its highlighted red because these data were listed to have come from the RHP monitoring programme. I wasnt sure if these data were already in FBIS, so marked them.

I am not sure what to put down for the source for the other data. Its not clear from Vlok's datasheets. Perhaps a quick chat with Jem in the morning to clarify.

[2021-08-10 07:24] helendallas commented on #160
@Janette-Lumley Revised folders - created separate folder for this data - Dallas et al 1998 Berg River

[2021-08-10 10:01] helendallas opened #166 "Dallas 1995 - checking SASS and revising source reference"
Once the site information has been added, see ticket #15

Url for sites:

Please can you do the following for each SASS assessment as per the data specified in the file - all 1993 and 1994

- Add photographs - Helen still to find and provide
- check taxa are correct from datasheets- some taxa different, for e.g. Zygoptera juvs. not included anymore so leave. Ephemerellidae = Teloganodidae; Also th

[2021-08-10 10:07] #164 closed, assigned to nobody

[2021-08-10 11:23] helendallas commented on #152
To rerun and check after Dimas has reattached owners

[2021-08-10 13:14] jeremyshelton commented on #165
@aneriswanepoel fixed csv file for this is called Shelton et al 2018.csv in 'Data ready for ingestion'

[2021-08-10 16:35] jeremyshelton opened #167 "Rogue fish site coordinates"
@aneriswanepoel please check (and if possible correct) the following FBIS fish data points which seem to be out at sea:
- TYOL-00001
- KUKA-00040
- KUKA-00038
- MAVA-00011

[2021-08-11 11:18] helendallas opened #168 "Correct Source Reference for Christa Thirion Croc West Marico catchment"
@Janette-Lumley Not sure who captured this data but I just noticed it has been given the wrong source reference.

Please can you correct all  2018 data from Source Reference = Rivers Database 2015, to Source Reference Unpublished data = to
![image](https://user-images.githubusercontent.com/45286876/129020034-08d13373-dd20-4482-a2f8-a2a3eb90825f.png)

by editing SASS record for site ...........e.g.

[2021-08-11 11:21] #15 closed, assigned to helendallas

[2021-08-11 11:53] helendallas opened #169 "Golder Associates Africa (Pty) Ltd. SASS data"
Please can you capture the SASS data in folder:

File of sites is on dropbox:
Data for Consolidation/SASS data/Golder Associates Africa (Pty) Ltd/xxxxx
Please navigate to the Site and then Add SASS data. First check that the data are not yet in FBIS.

SASS data are in files named

- Aquatic Macroinvertebrates_Let.xlsx,
- Aquatic Macroinvertebrates_Oli.xlsx,
- Aquatic Macroinvertebrates_Shi.xlsx

A

[2021-08-11 12:05] helendallas commented on #169
**Email sent to Warren:**
We are finally getting round to uploading the SASS data you shared with us. I noticed the data are at site level and not biotope level. Do you have the biotope level data? As well as biotope ratings and associated physico-chemical data?

Also what does OBS mean?

Are these data associated with specific reports? And if so are pdfs available?

**Response from Warren:**
The

[2021-08-11 12:22] helendallas commented on #162
Thanks @Janette-Lumley  Closing ticket

[2021-08-11 12:22] #162 closed, assigned to Janette-Lumley

[2021-08-11 14:11] helendallas commented on #120
Uploaded on 11 Aug 2021. Need to check using Study Reference filter on 12 Aug. Before closing ticket

[2021-08-11 14:19] #116 closed, assigned to aneriswanepoel

[2021-08-12 07:57] aneriswanepoel commented on #135
@helendallas all broad biotope information filled in so I think the duplicate issue is now sorted out

[2021-08-12 07:58] aneriswanepoel commented on #155
Emailed Warren Aken re PDFs of reports

[2021-08-13 13:41] #157 closed, assigned to nobody

[2021-08-16 07:30] helendallas commented on #169
The OBS is for visual assessment, and need to be added to the relevant biotope. Record as "1'"

[2021-08-17 04:52] jeremyshelton commented on #97
@mokajee any further updates on this?

[2021-08-17 05:58] Janette-Lumley commented on #160
@helendallas just checking if this data should be entered for all the appendices (7.1 to 7.4) or 7.1 only?

[2021-08-17 06:46] helendallas commented on #160
@Janette-Lumley All tables as each one is a separate season, using the dates provided, Thanks

[2021-08-25 06:31] helendallas opened #170 "Check algal master list and csv"
There is a descrepancy between the number of taxa in the algal
![image](https://user-images.githubusercontent.com/45286876/130738152-d6a90438-b5d1-4561-9fa4-a00329d87922.png)

and the number downloaded in the csv file.

@helendallas to check

[2021-08-25 06:54] aneriswanepoel commented on #141
@helendallas data re-checked for duplicates and 68 duplicates removed (as discussed yesterday). I think this data can be uploaded unless you want to check it again?

[2021-08-25 06:57] aneriswanepoel commented on #124
@helendallas do you still want to wait for Gordon O'Brien to get back to you before we upload?

[2021-08-25 07:14] helendallas commented on #141
@aneriswanepoel Happy for you to upload, thanks

[2021-08-25 07:15] helendallas commented on #124
@aneriswanepoel No We have given him long enough. Go ahead and upload, thanks

[2021-08-25 13:11] Janette-Lumley commented on #160
@helendallas I have entered the data and uploaded it to dropbox. I need to add the document upload link, I can't get it from FBIS because whenever I try I get a failed error.

[2021-08-27 10:49] helendallas opened #171 "Please change Source Reference for SASS data - Cecile Reed"
Please use this link to update the Source Reference from Unpublished data to Database =  Rivers Database 2015

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=[%22Cecile%20Reed%22]&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=[%22Unpublished%20data%22]&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sour

[2021-08-27 10:56] helendallas opened #172 "Validate SASS data for Thabo Mohlala"
@aneriswanepoel Please can you go through the unvalidated list, double check sites location and SASS data entry, the click Tick, to validate.

![image](https://user-images.githubusercontent.com/45286876/131117164-437b6cf1-73ac-48cc-9c2a-d9e8ce62fc57.png)

Here is the link:

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B1249%5D&mo

[2021-08-27 10:59] helendallas opened #173 "Validate SASS data for Hendrik Sithole"
@aneriswanepoel After capturing the SASS data, please can you go through the unvalidated list, and validate by clicking the Tick button
![image](https://user-images.githubusercontent.com/45286876/131117164-437b6cf1-73ac-48cc-9c2a-d9e8ce62fc57.png)

Here is the link:

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&collectors=%5B1051%5D&modules=2

[2021-08-27 11:09] helendallas opened #174 "Validate SASS data for Kate Snaddon"
@Janette-Lumley  Given that either you or Aneri added this data, I don't need to validate it,

Please can you go through the unvalidated list, and click Tick, to validate.

![image](https://user-images.githubusercontent.com/45286876/131117164-437b6cf1-73ac-48cc-9c2a-d9e8ce62fc57.png)

Here is the link:

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&co

[2021-08-27 11:09] helendallas commented on #174
Please shout if unsure?

[2021-08-27 11:21] helendallas opened #175 "Check Sites and SASS data -Lydeah Masomera"
Check site location and SASS data before rejecting or validating sites and data

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date&collectors=%5B2558%5D&modules=21

![image](https://user-images.githubusercontent.com/45286876/131120031-d33c645a-8adb-4272-8ad2-01bb4a4017a9.png)

[2021-08-27 11:37] Janette-Lumley commented on #171
@helendallas I have changed all the sites source references to Rivers Database

[2021-08-27 11:57] helendallas opened #176 "Check sites and SASS data of Michiel Jonker"
here is the link

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&modules=21&collectors=%5B39%5D

![image](https://user-images.githubusercontent.com/45286876/131121472-a4be0404-a6c4-4400-a866-24b4f445a997.png)

[2021-08-27 11:58] helendallas opened #177 "check sites and SASS data of Dephney Kabini"
please check

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&modules=21&page=&collectors=%5B1045%5D#

![image](https://user-images.githubusercontent.com/45286876/131123896-743943c2-bd5a-478d-9888-ef9703c86e06.png)

[2021-08-27 12:00] helendallas opened #178 "Check sites and SASS data for Fulufhelo Mbedzi"
https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&modules=21&page=&collectors=%5B1025%5D

![image](https://user-images.githubusercontent.com/45286876/131124151-63adf398-291d-464e-a72a-4c303b9f2da2.png)

[2021-08-27 13:04] Janette-Lumley commented on #174
@helendallas I have validated all the records above

[2021-09-01 10:27] Janette-Lumley commented on #163
@helendallas I have done the following:

- check taxa are correct from datasheets- some taxa different, for e.g. Zygoptera juvs. not included anymore so leave. Ephemerellidae = Teloganodidae; Also there was a group TRICHOPTERA (CASE CADDIS 1 TYPES) ; 2 or 3.
- Add Water surface width from form
- Add Embeddedness from form
- Check Temperature, Conductivity, pH, Dissolved Oxygen, Turbidity NTU value

[2021-09-02 10:57] helendallas commented on #174
@Janette-Lumley Thanks, closing ticket

[2021-09-02 10:57] #174 closed, assigned to Janette-Lumley

[2021-09-02 11:02] helendallas commented on #171
@Janette-Lumley Thanks, closing ticket

[2021-09-02 11:02] #171 closed, assigned to Janette-Lumley

[2021-09-02 11:15] helendallas opened #179 "Check and add Owner to Rivers Database SiteVisits when missing"
Please can you go through the

In dropbox: FRC_FBIS Data for Consolidation/SASS Data checking FBIS/**Original Rivers Database from Christa Thirion with Owners 1Jul17.xlsx**

I have downloaded all SASS data assigned reference =  database, so this should be all Rivers Database data that was migrated into FBIS. File generated and in dropbox:
**Rivers Dbase data extracted from FBIS 2021_09_03.xlsx**

[2021-09-03 12:50] Janette-Lumley commented on #168
@helendallas I have changed all the source references from Rivers Database to Unpublished Data: River Ecostatus Monitoring Programme

[2021-09-06 11:18] #120 closed, assigned to Janette-Lumley

[2021-09-06 11:19] #168 closed, assigned to Janette-Lumley

[2021-09-06 12:04] helendallas commented on #152
Closing ticket as superseded with #179 which is for the whole country

[2021-09-06 12:04] #152 closed, assigned to Janette-Lumley

[2021-09-06 12:27] helendallas commented on #178
Checked

[2021-09-06 12:27] #178 closed, assigned to helendallas

[2021-09-07 08:37] helendallas opened #180 "Fish data missing metadata"
@aneriswanepoel Please can you check what the correct details are for these unpublished fish data

https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22870%22]&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=&abioticData=&ecologicalCatego

[2021-09-07 08:38] helendallas commented on #180
Actually there are a whole lot of dates
![image](https://user-images.githubusercontent.com/45286876/132313231-42bf7440-7dfc-4df3-9e25-2d04b6d08c50.png)

[2021-09-07 08:40] aneriswanepoel commented on #180
@helendallas oh dear okay will investigate

[2021-09-07 08:43] aneriswanepoel commented on #180
@helendallas can you explain how you got to all those dates so I can look at that same page of Source-less data?

[2021-09-07 08:49] helendallas opened #181 "Source reference unpublished data needs fixing"
@aneriswanepoel Please also check these: we need more details: who. what organisation.

One is able to combine if they are the same person or organisation, just click update and make sure the title is correct and then copy the same title for all datasets that are the same. Then the data get combined into one file. I can show you if unclear.

![image](https://user-images.githubusercontent.com/45286

[2021-09-07 09:04] helendallas commented on #180
@aneriswanepoel
Go to Administration, Source Reference, click Unpublished and apply

here is link:
https://freshwaterbiodiversity.org/source-references/?type=unpublished&collectors=&page=2

Then if you click on the Records, you can see the sites and data for each. If this is all the same source, then we need to combine into one that is correctly named.

[2021-09-07 09:35] aneriswanepoel commented on #180
@helendallas great thanks. I have managed to download the CSV for all the Source-less data and oddly enough the collector names are specified so not sure why FBIS didn't pull them through.

[2021-09-07 10:04] aneriswanepoel commented on #180
@helendallas I have added the Collector names, but not sure how to combine as one Source? Do I just make it "Mick Angliss Unpublished Data" and leave out the years so that it combines as one?

![image](https://user-images.githubusercontent.com/55532903/132326469-d10443c0-edfd-44a4-a47c-fbdfe45af0cf.png)

[2021-09-07 10:21] aneriswanepoel commented on #181
@helendallas I have done this for all three (data belongs to Leon Barkhuizen) and this is the result:

![image](https://user-images.githubusercontent.com/55532903/132328946-010a0839-1683-43e8-92b6-94c46163efdc.png)

[2021-09-07 10:25] helendallas commented on #181
@aneriswanepoel Okay I will sort remainder. Just need to delete one with no records,a

[2021-09-07 10:28] helendallas commented on #180
Tahnks, I combined into one Paul Fouche Unpublished Data, and Mick Angliss Unpublished data. If we dont combine we will end up with so many separate datasets

[2021-09-07 10:28] #180 closed, assigned to aneriswanepoel

[2021-09-07 10:29] aneriswanepoel commented on #181
@helendallas
I've also had a look at this reference:
![image](https://user-images.githubusercontent.com/55532903/132329866-25caa445-558b-4da9-b1c3-f63cfa41b4c1.png)

Again there are actually various Collector names specified in the CSV but FBIS did not pull them through. So this one may be tricky to Edit/Update because there are a whole lot of different names

[2021-09-07 10:32] helendallas commented on #181
That might of been consolidated. Can you attach the xls file to the ticket so I can  check, thanks

[2021-09-07 10:42] aneriswanepoel commented on #181
@helendallas
[Unpublished data.xlsx](https://github.com/helendallas/FRC_FBIS/files/7120856/Unpublished.data.xlsx)

[2021-09-07 10:57] helendallas commented on #181
@aneriswanepoel Thanks. Okay so what we need to do is to open each site - Site visit and change the source reference. However at the moment we cant add new Unpublished datasets. I have asked Dimas to add this functionality in ticket #2761.

When he has done this can you please go though the data and correct to make the source reference separate for each user/organisation, so for e,g.

 **Unpublish

[2021-09-07 11:18] helendallas opened #182 "Please check Source References - Published report or thesis"
Please systematically go through each Source reference and make sure the Title, Source, Year, Authors are all correct and that the doc/thesis has the correct link and or pdf.

![image](https://user-images.githubusercontent.com/45286876/132336025-04b22fd7-81a7-4cc0-bde3-00c9d93d2185.png)

Please note any duplicates, or other problem children

[2021-09-07 11:20] aneriswanepoel commented on #181
@helendallas okay thanks will do

[2021-09-07 11:26] helendallas opened #183 "Please check Source References - Peer-reviewed scientific article"
Please go though all Peer-reviewed scientific articles and check they are correct - most of these are harvested automatically

![image](https://user-images.githubusercontent.com/45286876/132336398-52695689-b2b5-4b53-9708-3db07152fb07.png)

Please also make a note of any thesis that have been misclassified as Peer-reviewed scientific article

[2021-09-07 11:27] helendallas opened #184 "Ian Russel Bontebok National Park - fish data missing in FBIS"
Ian Russel Bontebok National Park -  I assume it is fish.
(I deleted a source reference that had no data in it.)

Please can you check sometime in the old excel files, if and when these data were uploaded as they are no longer in the FBIS.

[2021-09-07 12:34] Janette-Lumley commented on #163
@helendallas the water quality csv in FBIS is not pulling through for the sites with a single SASS entry (1995) the first one is correct for H4HOUT-DEHOE but then every other site the water data stays the same as H4HOUT-DEHOE.
The csv for sites with multiple SASS data on different dates pulls through correctly.

[2021-09-07 13:24] helendallas commented on #170
Checked, all fine

[2021-09-07 13:24] #170 closed, assigned to helendallas

[2021-09-07 13:51] helendallas commented on #175
Emailed Lydeah 7 Sep 2021, to check on data issues:
•	I am in the process of validating it and wanted to check if this data were associated with a specific report and or study?
•	Were you the person that did the SASS assessment?
•	If not associated with particular reports(s), then I suggest we create a database that specifies: The Biodiversity Company SASS Database – see below. This will allow any

[2021-09-07 14:09] helendallas commented on #176
Email sent to Michiel on 7 Sep.

I am in the process of validating it and wanted to check if this data were associated with a specific report and or study?

- Were you the person that did the SASS assessment? Were you accredited at the time?
- If not associated with particular reports(s), then I suggest we create a database that specifies: **Ecotone Freshwater Consultants**. This will allow anyone

[2021-09-08 09:01] helendallas commented on #155
Still no reply, so lets go ahead with uploading. We need to keep the three separate, I will create dummy docs for each for including in the upload file and put in a blank pdf in the meanwhile:

Olifants River Reserve Determination = document 399
Letaba River Reserve Determination = document 400
Shingwedzi River Reserve Determination = document 401

![image](https://user-images.githubusercontent.co

[2021-09-08 09:25] helendallas commented on #169
@aneriswanepoel Once the fish data from warren has been fixed and uploaded to FBIS, then you need to run an exract of csv to get the same FBIS Site Codes, which can be used to then add the SASS data.

I am waiting on Warren to send use the SASS data per biotope and associated abiotic data. Once this is received then it can be uploaded to FBIS.

[2021-09-08 10:56] Janette-Lumley commented on #160
@helendallas I have now added the document upload link.

[2021-09-08 11:46] Janette-Lumley commented on #138
@helendallas I have now added the document upload link

[2021-09-08 11:55] aneriswanepoel commented on #155
Spreadsheet updated (biotopes and DULs added) and ready for FBIS upload

[2021-09-08 11:58] aneriswanepoel opened #185 "19. Golder Associates - other"
Other data from Warren Aken - awaiting response to email regarding correct citation and PDF availability

[2021-09-09 06:52] helendallas commented on #155
@aneriswanepoel Thanks. Dimas has fixed the issue with source and dates, so I reckon you can upload the data now. I had a quick final check and created the csv - in dropbox folder

[2021-09-09 07:15] aneriswanepoel opened #186 "Pre-impoundment studies - fish and invert"
Data extraction complete but still need to add DUL

[2021-09-09 11:32] aneriswanepoel opened #187 "Henning Masters Thesis - SASS site level data"
Data has already been captured on FBIS under Rivers Database so I am correcting the Owner details and Metadata details

[2021-09-09 11:32] aneriswanepoel commented on #185
@helendallas Report PDF for Kuka Ropeway data received but Warren has said he is not sure where the 2008 biomonitoring data is from so I have called it "Golder Associates Unpublished Biomonitoring Report" as Unpublished Data

[2021-09-09 14:34] helendallas commented on #155
@aneriswanepoel Please confirm when this has been uploaded and if you have any issues with creation of multiple datasets again

[2021-09-09 14:36] helendallas commented on #112
Updates made include Branchiopoda after receiving input from Betsie Milne

[2021-09-09 14:37] helendallas commented on #112
. Latest version is on dropbox:
https://www.dropbox.com/s/1qub50ybvxphiqf/SA%20Invertebrate%20Master%20List%20FBIS_2021_09_09.xlsx?dl=0

[2021-09-09 21:51] helendallas commented on #112
Trichoptera done with input from Ferdie De Moor
Ephemeroptera doen but still needing clarity on old biobase taxa from Helen James

[2021-09-10 05:44] aneriswanepoel commented on #155
@helendallas I am trying to upload but it keeps getting stuck on 197/283 records so trying to figure out why..

[2021-09-10 06:06] helendallas commented on #155
Not sure? data looks okay?

[2021-09-10 06:10] aneriswanepoel commented on #155
@helendallas I've sent Dimas a message on Slack so hopefully it's sorted now!

[2021-09-10 06:15] helendallas commented on #155
@aneriswanepoel I see some sites are in the ocean. Can you check the sites for accuracy. That should be part of our job when we upload sites. If there is no description, then make a note and email Warren

[2021-09-10 06:17] aneriswanepoel commented on #155
@helendallas oh dear! Will have a look and investigate

[2021-09-10 06:28] helendallas commented on #155
I reckon as annoying as it is when we upload other peoples data we need to check the site locations afterwards to make sure they are as accurate as possible. That should be the final stage in the validation process. '
FYI for all. @aneriswanepoel @jeremyshelton @Janette-Lumley

Otherwise we run the risk of sites in completely incorrect locations. If we cannot fix the data then I would recommend ex

[2021-09-10 06:43] aneriswanepoel commented on #155
@helendallas what happened is the co-ordinates got dragged down in the spreadsheet which messed with the longitudes:

![image](https://user-images.githubusercontent.com/55532903/132811300-99645d86-c76e-4802-bd77-0fa09e47be4d.png)

I can go into the sites and fix them

[2021-09-10 06:49] helendallas commented on #155
thanks Aneri. Please just systematically work through all site locations for all data sets that you have uploaded for biosmart project. Its relatively easy if you select by the study reference and then click through the sites, they should be on the river names etc

[2021-09-14 10:29] helendallas opened #188 "Please update owner"
Please update the owner of the SASS and fish data from Lydeah Masomera to Dale Kindler. He is SASS accredited so please tick for all SASS assessments.

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=[%22Lydeah%20Masomera%22]&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modul

[2021-09-15 07:01] aneriswanepoel commented on #134
@helendallas I have finished checking this spreadsheet so I think it can be uploaded now

[2021-09-15 07:01] aneriswanepoel commented on #185
@helendallas this dataset is also ready to be uploaded

[2021-09-15 07:49] helendallas commented on #134
@aneriswanepoel

I dont think this data should be included as is. It is better to separate into different datasets based on Collector/Owner and Collector/Owner Institute and then try and find the original data/report, and or contact the owner. So for example

- Gerhard Diedericks of Environmental Biomonitoring Services can be emailed. We should check if this data is on FBIS already as he has added

[2021-09-15 07:58] helendallas commented on #185
@aneriswanepoel I edited source to match company name already on FBIS. Should be good to go.

Again please check site locations in FBIS as the final step.

[2021-09-16 07:41] aneriswanepoel opened #189 "20. Muller, Strydom & Weyl 2015"
Fish data to be uploaded to FBIS

[2021-09-16 07:42] aneriswanepoel opened #190 "21. Ian Gaigher Unpublished Data"
Cannot find the reference for this data so have called it Unpublished Data